<div class="rs-footer">
   <div class="rs-container">
     <ul class="rs-links">
      <li>&copy; <script> document.write(new Date().getFullYear()); </script> Rackspace, US</li>
      <li><a href="http://www.rackspace.com/information/legal/websiteterms" target="blank">Website Terms</a>
      <li><a href="http://www.rackspace.com/information/legal/privacystatement" target="blank">Privacy Policy</a>
      <li><a href="https://cloudtools.rackspace.com/" target="blank">Rackspace Marketplace</a>
     </ul>
      <ul class="rs-nav rs-pull-right">
         <li class='site-rev'><span>rev:{! config['GIT_BRANCH'] !}:{! config['GIT_HASH'] !}</span></li>
      </ul>
   </div>
</div>
