<div class="rs-wrapper">
    <!-- Utility Nav -->
    <div class="rs-nav-utility">
      <div class="rs-container">
        <ul class="rs-nav">
          <!-- <li class="rs-nav-item active"><a class="rs-nav-link" href="">Public Cloud</a></li>
          <li class="rs-nav-item"><a class="rs-nav-link" href="">Private Cloud</a></li>
          <li class="rs-nav-item"><a class="rs-nav-link" href="">Dedicated</a></li> -->
        </ul>
        {% if g.user_data %}
        <ul class="rs-nav rs-pull-right">
          <li class="rs-nav-item rs-dropdown rs-utility-dropdown">
            <a class="rs-nav-link rs-dropdown-toggle" href="">{!g.user_data.username!}</a>
          </li>
          <li class="rs-nav-item">
            <a class="rs-link" href="/logout">Logout</a>
          </li>
        </ul>
        {% endif %}
      </div>
    </div>
    <!-- End Utility Nav -->

    <!-- Primary Nav -->
    <div class="rs-nav-primary">
      <div class="rs-container">
        <div class="rs-nav-brand">
          <a href=""></a>
        </div>
        {% if g.user_data %}
        <ul class="rs-nav">
          <li class="rs-nav-item"><a class="rs-nav-link" href="">Migration</a></li>
          <li class="rs-nav-item"><a class="rs-nav-link" href="">Reports</a></li> 
          <!-- <li class="rs-nav-item"><a class="rs-nav-link" href="">Section3</a></li> -->
          <!-- <li class="rs-nav-item rs-dropdown rs-primary-dropdown">
            <a class="rs-nav-link rs-dropdown-toggle" href="">More <i class="rs-caret"></i></a>
          </li> -->
        </ul>
        {% endif %}
      </div>
    </div>
    <!-- End Primary Nav -->

    <!-- Secondary Nav
    <div class="rs-nav-secondary">
      <div class="rs-container">
        <ul class="rs-nav">
          <li class="rs-nav-item hover"><a class="rs-nav-link" href="">Migration</a></li>
          <li class="rs-nav-item hover"><a class="rs-nav-link" href="">Reports</a></li>
          <li class="rs-nav-item active"><a class="rs-nav-link" href="">SubSection3</a></li> 
        </ul>
      </div>
    </div>
    End Secondary Nav -->
</div>
