<div class="rs-wrapper">
    <!-- Utility Nav -->
    <div class="rs-nav-utility">
      <div class="rs-container">
        <ul class="rs-nav">
          <li class="rs-nav-item "><a class="rs-nav-link" href="https://mycloud.rackspace.com/cloud/1024814/home">Rackspace Cloud</a></li>
          <li class="rs-nav-item active"><a class="rs-nav-link" href="https://manage.rackspace.com/">Fanatical Support for AWS</a></li>
          <!-- <li class="rs-nav-item active"><a class="rs-nav-link" href="">Public Cloud</a></li>
          <li class="rs-nav-item"><a class="rs-nav-link" href="">Private Cloud</a></li>
          <li class="rs-nav-item"><a class="rs-nav-link" href="">Dedicated</a></li> -->
        </ul>
        {% if g.user_data %}
        <ul class="rs-nav rs-pull-right">
          <li class="rs-nav-item rs-dropdown rs-utility-dropdown">
            <a class="rs-nav-link rs-dropdown-toggle" href="">{!g.user_data.username!}</a>
          </li>
          <li class="rs-nav-item">
            <a class="rs-link" href="/logout">Logout</a>
          </li>
        </ul>
        {% endif %}
      </div>
    </div>
    <!-- End Utility Nav -->

    <!-- Primary Nav -->
    <div class="rs-nav-primary">
      <div class="rs-container">
        {% if g.user_data %}
        <div class="rs-nav-brand">
          <a href=""></a>
        </div>
        <ul class="rs-nav" id="links">
          <li id="pilot-dashboard-account-dashboard" data-nav="dashboard" class="rs-nav-item">
              <a id="pilot-dashboard-link" class="rs-nav-link" data-pilot-tracking-id="dashboard-link" href="#/racker-dashboard">Accounts Dashboard</a>
          </li>
          <li id="pilot-dashboard-reports" data-nav="dashboard" class="rs-nav-item">
              <a id="pilot-dashboard-link" class="rs-nav-link" data-pilot-tracking-id="dashboard-link" href="#/racker-reports">Reports</a>
          </li>
          <li id="pilot-dashboard-encore" data-nav="dashboard" class="rs-nav-item">
              <a id="pilot-dashboard-link" class="rs-nav-link" data-pilot-tracking-id="dashboard-link" href="https://encore.rackspace.com/" target="_blank">Encore</a>
          </li>
          <li id="pilot-backups" data-nav="migrations" class="rs-nav-item">
              <a href="racker-migr-dash.html" class="rs-nav-link" role="button" tabindex="0" >Migration Manager</a>
          </li>
      </ul>
        {% endif %}
      </div>
    </div>
    <!-- End Primary Nav -->

    {% if g.user_data %}
   <!-- Secondary Nav -->
   <!--<div class="rs-nav-secondary" id="subNav">
       <div class="rs-container">
           <ul class="rs-nav">
               <li class="rs-nav-item hover active"><a class="rs-nav-link" href="#/migration/resources">Select Resources</a></li>
               <li class="rs-nav-item hover"><a class="rs-nav-link" href="#/migration/recommendation">Recommendation</a></li>
               <li class="rs-nav-item hover"><a class="rs-nav-link" href="#/migration/schedule">Schedule Migration</a></li>
               <li class="rs-nav-item hover"><a class="rs-nav-link" href="#/migration/confirm">Confirm And Migrate</a></li>
           </ul>
       </div>
   </div>-->
   {% endif %}

   <script type="text/javascript">
     $(document).ready(function() {
       $("body").delegate(".rs-nav-secondary .rs-nav-item", "click", function() {
         $(".rs-nav-secondary .rs-nav-item").removeClass("active");
         $(this).addClass("active");
       });
     });
   </script>
   
    <!-- Secondary Nav
    <div class="rs-nav-secondary">
      <div class="rs-container">
        <ul class="rs-nav">
          <li class="rs-nav-item hover"><a class="rs-nav-link" ng-link="[MigrationsStatus]">Migration Status</a></li>
          <li class="rs-nav-item hover"><a class="rs-nav-link" ng-link="[Migration]">Inventory</a></li>
          <li class="rs-nav-item active"><a class="rs-nav-link" href="">SubSection3</a></li>
        </ul>
      </div>
    </div>
    End Secondary Nav-->
</div>