{% macro javascript(filename) %}<script type="text/javascript" src="/static/js/{! filename !}?rev={!config['GIT_HASH']!}"></script>{% endmacro %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %} - Rackspace Cloud Backup</title>
  {% if config.DEBUG %}

    {# DEBUG VERSIONS FOR DEV - UNCOMPRESSED %}

    {# CANON STYLES #}
    <link rel="stylesheet" type="text/css" media="screen" href="https://eafdbc63c97ce6bec9ef-b0a668e5876bef6fe25684caf71db405.ssl.cf1.rackcdn.com/v1-latest/canon.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/style.css?rev={!config['GIT_HASH']!}">


  {% else %}

    {# COMPRESSED FILES FOR PROD #}

    {# CANON STYLES #}
    <link rel="stylesheet" type="text/css" media="screen" href="https://eafdbc63c97ce6bec9ef-b0a668e5876bef6fe25684caf71db405.ssl.cf1.rackcdn.com/v1-latest/canon.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/style.css?rev={!config['GIT_HASH']!}">

  {% endif %}

  <!-- Loading external libraries -->
  <script type="text/javascript" src="/static/js/anglib/jquery-1.10.0.min.js"></script>
  <script type="text/javascript" src="/static/js/anglib/canon.min.js"></script>
  <script type="text/javascript" src="/static/js/anglib/angular.js"></script>
  <script type="text/javascript" src="/static/js/anglib/angular_1_router.js"></script>

  <!-- Loading internal js files -->
  <script type="text/javascript" src="/static/js/angsrc/migration-app/migration-app.js"></script>
  <script type="text/javascript" src="/static/js/angsrc/migration-app/services/server-service.js"></script>
  <script type="text/javascript" src="/static/js/angsrc/migration-app/services/network-service.js"></script>
  <script type="text/javascript" src="/static/js/angsrc/migration-app/services/view-log-service.js"></script>
  <script type="text/javascript" src="/static/js/angsrc/migration-app/services/migration-item-dataservice.js"></script>
  <script type="text/javascript" src="/static/js/angsrc/migration-app/services/auth-service.js"></script>
  <script type="text/javascript" src="/static/js/angsrc/migration-app/services/httpwrapper.js"></script>
  <script type="text/javascript" src="/static/js/angsrc/migration-app/components/rs-migration-home.component.js"></script>
  <script type="text/javascript" src="/static/js/angsrc/migration-app/components/rs-migration-item.component.js"></script>
  <script type="text/javascript" src="/static/js/angsrc/migration-app/components/rs-migration-details.component.js"></script>
  <script type="text/javascript" src="/static/js/angsrc/migration-app/components/rs-equipment-details.component.js"></script>
  <script type="text/javascript" src="/static/js/angsrc/migration-app/components/rs-log-details.component.js"></script>
  <script type="text/javascript" src="/static/js/angsrc/migration-app/components/rs-migration-login.component.js"></script>
  <script type="text/javascript" src="/static/js/angsrc/migration-app/components/rs-migration-tenantid.component.js"></script>

  <link rel="stylesheet" type="text/css" media="screen" href="/static/css/angsrc/main.css">

  <script>

    var user_data = {
      "username": null,
      "authtoken": null,
      "tenant_id": null
    };

    {% if g.user_data %}
      // These values are for the logged in Racker
      user_data.username = '{!g.user_data.username!}';
      user_data.authtoken = '{!g.user_data.authtoken!}';
    {% endif %}

  </script>

</head>

<body class="rs-fixed">
  <div class="rs-wrapper">
    <!-- HEADER START -->
    {% block header %}
      {% include '_header.html' %}
    {% endblock %}
    <!-- HEADER END -->
    <div class="rs-body">
      {% block content %}
      <div class="rs-main">
        <!--<div class="rs-content rs-panel">-->
          <div class="rs-inner rs-mig-nomar">
            {% block main %}
              <h2 class="rs-page-title">Base Template</h2>
            {% endblock %}
          </div>
        <!--</div>-->
      </div>
      {% endblock %}
      <div class="rs-push"></div>
  </div>
  </div>
  <div class="rs-nav-footer">
    {% block footer %}
      {% include '_footer.html' %}
    {% endblock %}
  </div>
</body>
</html>
