{% macro javascript(filename) %}<script type="text/javascript" src="/static/js/{! filename !}?rev={!config['GIT_HASH']!}"></script>{% endmacro %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %} - Rackspace Cloud Migration</title>
  {% if config.DEBUG %}

    {# DEBUG VERSIONS FOR DEV - UNCOMPRESSED %}

    {# CANON STYLES #}
    <link rel="stylesheet" type="text/css" media="screen" href="https://eafdbc63c97ce6bec9ef-b0a668e5876bef6fe25684caf71db405.ssl.cf1.rackcdn.com/v1-latest/canon.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/style.css?rev={!config['GIT_HASH']!}">

  {% else %}

    {# COMPRESSED FILES FOR PROD #}

    {# CANON STYLES #}
    <link rel="stylesheet" type="text/css" media="screen" href="https://eafdbc63c97ce6bec9ef-b0a668e5876bef6fe25684caf71db405.ssl.cf1.rackcdn.com/v1-latest/canon.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/style.css?rev={!config['GIT_HASH']!}">

  {% endif %}
  <link href="/static/css/anglib/bootstrap.css?rev={!config['GIT_HASH']!}" rel="stylesheet">
  <link href="/static/css/anglib/bootstrap-combined.min.css?rev={!config['GIT_HASH']!}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" media="screen" href="https://eafdbc63c97ce6bec9ef-b0a668e5876bef6fe25684caf71db405.ssl.cf1.rackcdn.com/v1-latest/canon.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/static/css/angsrc/main.css?rev={!config['GIT_HASH']!}">
  <link rel="stylesheet" type="text/css" media="screen" href="/static/css/angsrc/login.css?rev={!config['GIT_HASH']!}">
  <link rel="stylesheet" type="text/css" media="screen" href="/static/css/anglib/flex-cal.css?rev={!config['GIT_HASH']!}">
  <link rel="stylesheet" type="text/css" media="screen" href="/static/css/angsrc/migration-mgr.css?rev={!config['GIT_HASH']!}">

  <!-- Loading external libraries -->
  {! javascript("anglib/jquery-1.10.0.min.js") !}
  {! javascript("anglib/canon.min.js") !}
  {! javascript("anglib/angular.js") !}
  {! javascript("anglib/angular_1_router.js") !}
  {! javascript("anglib/moment.js") !}
  {! javascript("anglib/bootstrap.min.js") !}
  {! javascript("anglib/fontawesome-1d292fb501.js") !}
  {! javascript("anglib/flex-cal-angular.js") !}
  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.7.2/angular-translate.js'></script>


  <!-- Loading internal js files -->
  {! javascript("angsrc/migration-app/migration-app.js") !}
  {! javascript("angsrc/migration-app/services/server-service.js") !}
  {! javascript("angsrc/migration-app/services/network-service.js") !}
  {! javascript("angsrc/migration-app/services/data-store-service.js") !}
  {! javascript("angsrc/migration-app/services/migration-item-dataservice.js") !}
  {! javascript("angsrc/migration-app/services/auth-service.js") !}
  {! javascript("angsrc/migration-app/services/httpwrapper.js") !}
  {! javascript("angsrc/migration-app/services/contact-service.js") !}
  {! javascript("angsrc/migration-app/components/rs-equipment-details.component.js") !}
  {! javascript("angsrc/migration-app/components/rs-migration-item.component.js") !}
  {! javascript("angsrc/migration-app/components/rs-migration-login.component.js") !}
  {! javascript("angsrc/migration-app/components/rs-migration-tenantid.component.js") !}
  {! javascript("angsrc/migration-app/components/rs-tabs.component.js") !}
  {! javascript("angsrc/migration-app/components/rs-tab.component.js") !}
  {! javascript("angsrc/migration-app/components/rs-migration-resources-list.component.js") !}
  {! javascript("angsrc/migration-app/components/rs-recommendation-item.component.js") !}
  {! javascript("angsrc/migration-app/components/rs-migration-recommendation.component.js") !}
  {! javascript("angsrc/migration-app/components/rs-schedule-migration.component.js") !}
  {! javascript("angsrc/migration-app/components/rs-calender.component.js") !}
  {! javascript("angsrc/migration-app/components/rs-batch-details-collapsible-panel.component.js") !}
  {! javascript("angsrc/migration-app/components/rs-batch-details-collapsible-panel-group.component.js") !}
  {! javascript("angsrc/migration-app/components/rs-batch-migration-details.component.js") !}
  {! javascript("angsrc/migration-app/components/rs-confirm-migration.component.js") !}
  {! javascript("angsrc/migration-app/components/rs-migration-status.component.js") !}
  {! javascript("angsrc/migration-app/components/rs-compare-options.component.js") !}
  {! javascript("angsrc/migration-app/components/rs-collapsible.component.js") !}
  {! javascript("angsrc/migration-app/components/rs-collapsible-child.component.js") !}
  {! javascript("angsrc/migration-app/components/rs-interactive-footer.component.js") !}
  {! javascript("angsrc/migration-app/components/rs-interactive-header.component.js") !}
  {! javascript("angsrc/migration-app/components/rs-contact.component.js") !}
  {! javascript("angsrc/migration-app/components/rs-pricing-panel.component.js") !}
  {! javascript("angsrc/migration-app/components/rs-completed-batch-details.component.js") !}
  {! javascript("angsrc/migration-app/components/rs-current-batch-details.component.js") !}
  {! javascript("angsrc/migration-app/components/rs-selected-items-panel.component.js") !}
  {! javascript("angsrc/migration-app/components/rs-edit-batchName.component.js") !}
  {! javascript("angsrc/migration-app/components/rs-migration-racker-dash.component.js") !}

  <script>

  var user_data = {
    // Selected Tenant
    "tenant_id": "{! g.get('tenant_id', "") !}"||null,
    {% if g.user_data %}
      "username": "{!g.user_data.username!}",
      "authtoken": "{!g.user_data.authtoken!}",
      "is_racker": {!'true' if g.user_data.is_racker else 'false'!},
    {% else %}
      "username": null,
      "authtoken": null,
      "is_racker": null,
    {% endif %}
  };

  </script>
</head>

<body class="rs-fixed">
  <div class="rs-wrapper">
    <!-- HEADER START -->
    {% block header %}
      {% if g.user_data and g.user_data["pilot_header"] %}
        {! g["user_data"]["pilot_header"]|safe !}
      {% else %}
        {% include '_header.html' %}
      {% endif %}
    {% endblock %}
    <!-- HEADER END -->
    <div class="rs-body">
      {% block content %}
      <div class="rs-main">
        <!--<div class="rs-content rs-panel">-->
          <div class="rs-inner rs-mig-nomar">
            {% block main %}
              <h2 class="rs-page-title">Base Template</h2>
            {% endblock %}
          </div>
        <!--</div>-->
      </div>
      {% endblock %}
      <div class="rs-push"></div>
  </div>
  </div>
  <div class="rs-nav-footer">
    {% block footer %}
      {% include '_footer.html' %}
    {% endblock %}
  </div>
</body>
</html>
