{% extends "_template_full.html" %}

{% block title %}FAWS Welcome{% endblock %}

{% block main %}

  {# THIS IS JUST AN EXAMPLE OF A SUPER SIMPLE, SINGLE PAGE ANGULAR COMPONENT #}

  <script>
    (function () {
        "use strict";

        // defining component to display all migration items
        angular.module("migrationApp")
            .component("rsmigrationindex", {
                template: "<rs-migration-root><div ng-outlet class='rs-container'></div></rs-migration-root>",
                bindings: {
                  username: "@",
                  tenant_id: "@",
                  authtoken: "@"
                },
                controllerAs: "vm",
                controller: ["authservice","$rootRouter","httpwrapper","$q", function(ase,$rootRouter,HttpWrapper,$q){
                  this.$onInit = function () {
                    // This sets the default values
                    this.username = user_data.username;
                    this.authtoken = user_data.authtoken;
                    this.tenant_id = user_data.tenant_id;
                    this.account_name = user_data.account_name;

                    ase.storeAuth(user_data);

                    // if(user_data.is_racker) {
                    //   $rootRouter.navigate(["RackerDash"]);
                    // }
                    // else{
                    //   // ase.getAuth().tenant_id = user_data.tenant_id;
                    //   // ase.getAuth().account_name = this.account_name;
                    //   var doSavedForLaterMigrationsExist = false;
                    //   var doResourceMigrationsExist = false;
                    //   var tenant_id = user_data.tenant_id;
                    //   var getSavedInstancesUrl = "/api/users/uidata/Saved_Migrations";
                    //   var savedMigrationPromise = HttpWrapper.send(getSavedInstancesUrl, {"operation":'GET'})
                    //   .then(function(result){
                    //       if(result !== null && result.savedDetails.length !== 0){
                    //           doSavedForLaterMigrationsExist = true;
                    //       }
                    //   },function(error) {
                    //       doSavedForLaterMigrationsExist = false;
                    //   });

                    //   var url = "/api/jobs/all";
                    //   var resourceMigrationPromise = HttpWrapper.send(url,{"operation":'GET'})
                    //   .then(function(response){
                    //       if(response !== null && response.job_status_list.length !== 0){
                    //           doResourceMigrationsExist = true;
                    //       }
                    //   },function(error) {
                    //       doResourceMigrationsExist = false;
                    //   });

                    //   $q.all([savedMigrationPromise,resourceMigrationPromise]).then(function(result){
                    //       if(doSavedForLaterMigrationsExist === false && doResourceMigrationsExist === false){
                    //           $rootRouter.navigate(["MigrationResourceList"]);                          
                    //       }
                    //       else{
                    //           $rootRouter.navigate(["MigrationStatus"]);
                    //       }
                    //   });  
                    // }
                  }
                }]
            });
    })();
  </script>

  <div class="rs-responsive" ng-app="migrationApp">
    <script type="text/ng-template" id="index_template.html">
      <h3>You are an authenticated user.</h3>
      <div>Username: {{vm.username}}</div>
      <div>Authtoken: {{vm.authtoken}}</div>
      <div>Tenant ID: {{vm.tenant_id || 'None Selected'}} </div>
      <p style="margin-top:10px;">This is just a placeholder to show you how to get the logged in user info.</p>
    </script>
    <rsmigrationindex></rsmigrationindex>
  </div>

{% endblock %}
