{% extends "_template_full.html" %}

{% block title %}FAWS Welcome{% endblock %}

{% block main %}

  {# THIS IS JUST AN EXAMPLE OF A SUPER SIMPLE, SINGLE PAGE ANGULAR COMPONENT #}

  <script>
    (function () {
        "use strict";
        if (!String.prototype.startsWith) {
            String.prototype.startsWith = function(str, position) {
              position = position || 0;
              return this.indexOf(str, position) === position;
            };
        }

        // defining component to display all migration items
        angular.module("migrationApp")
            .component("rsmigrationindex", {
                template: "<rs-migration-root><div ng-outlet class='rs-container'></div></rs-migration-root>",
                bindings: {
                  username: "@",
                  tenant_id: "@",
                  authtoken: "@"
                },
                controllerAs: "vm",
                controller: ["authservice","$rootRouter","httpwrapper","$q","$window", function(ase,$rootRouter,HttpWrapper,$q,$window){
                  this.$onInit = function () {
                    // if (performance.navigation.type == 1) {
                    // } else {
                    //   $window.localStorage.clear();
                    // }
                    // This sets the default values
                    this.username = user_data.username;
                    this.authtoken = user_data.authtoken;
                    this.tenant_id = user_data.tenant_id;
                    this.account_name = user_data.account_name;

                    ase.storeAuth(user_data);
                  }
                }]
            });
    })();
  </script>

  <div class="rs-responsive" ng-app="migrationApp">
    <script type="text/ng-template" id="index_template.html">
      <h3>You are an authenticated user.</h3>
      <div>Username: {{vm.username}}</div>
      <div>Authtoken: {{vm.authtoken}}</div>
      <div>Tenant ID: {{vm.tenant_id || 'None Selected'}} </div>
      <p style="margin-top:10px;">This is just a placeholder to show you how to get the logged in user info.</p>
    </script>
    <rsmigrationindex></rsmigrationindex>
  </div>

{% endblock %}
