{% raw %}
<!DOCTYPE html>
<html>

	<head>
	    <title>Test API call</title>
	    <script type="text/javascript" src="/static/js/angular.js"></script>
	    <script type="text/javascript" src="/static/js/GetController.js"></script>
	</head>


	<body>
		<div ng-app="app" ng-controller="HttpGetController">
		    <div>Demo Testing of the API</div>
		    <button ng-click="GetData()">Get All Data</button> | 

		   <pre>{{DataItems | json}}</pre>
		    <!-- <table border="2">
			      <tr>
			         <td>Name</td>
			         <td>ID</td>
			         <td>Tenant ID</td>
			       </tr>
			      <tr ng-repeat="list in ServerList">
			         <td>{{list.name}}</td>
			          <td> {{list.id}} </td>
			          <td>{{list.tenant_id}}</td>
			      </tr>
		 	</table> -->

		    <!-- <pre ng-repeat="list in ServerList">{{list.name}}-{{list.id}}</pre> -->
		    
		   <!-- <div>{{DataItems}}</div> -->
		</div>
	</body>
</html>
{% endraw %}
