{% raw %}
<!DOCTYPE html>
<html>

	<head>
	    <title>Test API call</title>
	    <script type="text/javascript" src="/static/js/anglib/angular.js"></script>
	    <script type="text/javascript" src="/static/js/testgetcontroller.js"></script>
	</head>


	<body>
		<div ng-app="app" ng-controller="HttpGetController">
		    <div>Demo Testing of the API</div>

			<div>Tenant ID  :<input ng-model="tenantid"></div>
			<div>Auth Token :<input ng-model="token"></div>
		    <button ng-click="GetData()">Get All Data</button> | 

		   <pre>{{DataItems | json}}</pre>
		    
		</div>
	</body>
</html>
{% endraw %}
