<div class="rs-container migration-mgr">
    <div class="rs-main ">
        <div class="rs-content rs-panel">
            <div class="rs-inner">
                <div class="pull-right">
                    <a class="rs-btn " ng-link="['MigrationStatus']">Back to Dashboard</a>
                </div>
                <div class="rs-detail-header-subtitle">Completed Migrations</div>
                <h3>{{vm.job.batch_name}}</h3>
                <div class="rs-embedded-list-table-wrapper rs-embedded-medium migration-status-list-container">
                    <table class="rs-list-table rs-embedded-list-table no-truncate-td">
                        <thead>
                            <th>
                                <a href="#list-table" class="rs-table-sort rs-table-sort-desc">
                                    <span class="rs-table-sort-text">Server </span>
                                    <span class="rs-table-sort-indicator"></span>
                                </a>
                            </th>
                            <th>Progress</th>
                            <th>Status</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(id, instance) in vm.job.instances">
                                <td class="rs-table-link">
                                    <a href="#resource_info" ng-click="vm.equipmentDetails('server', id)" role="button" data-toggle="modal">{{instance.name}}</a>
                                </td>
                                <td class="rs-table-text">
                                    <div class="rs-progress rs-progress-medium" style="width: 50%;">
                                        <div class="rs-progress-inner">
                                            <div class="rs-segment" style="width: 100%">
                                                <div class="rs-bar rs-status-ok"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<span class="rs-progress-label">100%</span>-->
                                </td>
                                <td class="rs-table-text">
                                    <span class="rs-status rs-status-ok">Completed</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>

                <div class="rs-embedded-list-table-wrapper rs-embedded-medium migration-status-list-container">
                    <table class="rs-list-table rs-embedded-list-table no-truncate-td">
                        <thead>
                            <th>
                                <a href="#list-table" class="rs-table-sort rs-table-sort-desc">
                                    <span class="rs-table-sort-text">Network</span>
                                    <span class="rs-table-sort-indicator"></span>
                                </a>
                            </th>
                            <th>Progress</th>
                            <th>Status</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="network in vm.job.networks">
                                <td class="rs-table-link">{{network.name}}</td>
                                <td class="rs-table-text">
                                    <div class="rs-progress rs-progress-medium" style="width: 50%;">
                                        <div class="rs-progress-inner">
                                            <div class="rs-segment" style="width: 100%">
                                                <div class="rs-bar rs-status-ok"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<span class="rs-progress-label">100%</span>-->
                                </td>
                                <td class="rs-table-text">
                                    <span class="rs-status rs-status-ok">Completed</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>

            </div>
        </div>
    </div>
    <rsinteractivefooter></rsinteractivefooter>
</div>

<!-- Modal -->
<div id="resource_info" class="modal hide fade details" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="rs-content rs-panel rs-detail-xlarge">
        <div class="rs-detail-header">
            <div class="rs-detail-header-subtitle">Server Name</div>
            <div class="rs-detail-header-title">cloud-endure-demo-A_db_slave One</div>
        </div>
        <div class="rs-detail-section">
            <div class="rs-detail-section-header">
                <div class="rs-detail-section-title">Server Details</div>
            </div>
            <div class="rs-detail-section-body">
                <ul class="rs-detail-list">
                    <li class="rs-detail-item">
                        <div class="rs-detail-key">Server Status</div>
                        <div class="rs-detail-value"><span class="rs-status rs-status-ok">Active</span></div>
                    </li>
                    <li class="rs-detail-item">
                        <div class="rs-detail-key">ID</div>
                        <div class="rs-detail-value">86753098675309</div>
                    </li>                        
                    <li class="rs-detail-item">
                        <div class="rs-detail-key" id="size-key">RAM</div>
                        <div class="rs-detail-value">                
                            <span class="rs-progress-label">2 GB</span>
                        </div>
                    </li>
                    <li class="rs-detail-item">
                        <div class="rs-detail-key" id="size-key">Disk</div>
                        <div class="rs-detail-value">100 GB</div>
                    </li>        
                    <li class="rs-detail-item">
                        <div class="rs-detail-key">Region</div>
                        <div class="rs-detail-value">Dallas (DFW)</div>
                    </li>
                    <li class="rs-detail-item">
                        <div class="rs-detail-key">Server Type</div>
                        <div class="rs-detail-value">First Generation Server</div>
                    </li>       
                </ul>
            </div>
        </div>

        <div class="rs-detail-section">
            <div class="rs-detail-section-header">
                <div class="rs-detail-section-title">Networks</div>
            </div>
            <div class="rs-detail-section-body">
                <div class="rs-embedded-list-table-wrapper rs-embedded-small">
                    <table class="rs-list-table rs-embedded-list-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>IPv4</th>
                                <th>IPv6</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="rs-table-text">PublicNet <span class="rs-quiet">(Internet)</span></td>
                                <td class="rs-table-text">101.122.11.222</td>
                                <td class="rs-table-text"><span class="rs-quiet">None</span></td>
                            </tr>
                            <tr>
                                <td class="rs-table-text">ServiceNet <span class="rs-quiet">(Rackspace DFW)</span></td>
                                <td class="rs-table-text">10.111.22.112</td>
                                <td class="rs-table-text"><span class="rs-quiet">None</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="rs-btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>
<!-- modal end -->