<div class="rs-container migration-mgr" ng-style="vm.isRacker == true ? {'margin-top':'30px'} : {'margin-top':'0px'}">
    <a ng-link="['MigrationStatus']"><i class="fa fa-chevron-left"></i> Go to Migration Dashboard </a>
    <div class="rs-main ">
        <div class="rs-content rs-panel">
            <div class="rs-inner">
                <div class="rs-row">
                    <div class="span-8">
                        <div class="migr-ddi-name">{{vm.currentUser}} ( #{{vm.tenant_id}} )</div>
                        <div class="migr-name">{{vm.job.batch_name}} / Completed</div>
                    </div>
                    <div class="span-4">
                        <div class="pull-right">
                            <!--<a href="" class="rs-btn rs-pull-right">See Log</a>-->
                        </div>
                    </div>
                </div>
                <div class="rs-embedded-list-table-wrapper rs-embedded-medium migration-status-list-container" ng-show="vm.job.instances.length > 0">
                    <table class="rs-list-table rs-embedded-list-table no-truncate-td" style="table-layout: fixed; overflow: hidden;">
                        <thead>
                            <th>
                                <a href="javascript:void(0);" class="rs-table-sort" ng-click="vm.setSortBy('server', 'name')" ng-class="{'custom-table-sort-asc current-sort-param': vm.sortBy['server']==='name', 'custom-table-sort-desc current-sort-param': vm.sortBy['server']==='-name', 'custom-table-sort-desc': vm.sortBy['server'].indexOf('name') < 0}">
                                    <span class="rs-table-sort-text">Server </span>
                                    <span class="rs-table-sort-indicator"></span>
                                </a>
                            </th>
                            <th>
                                <a href="javascript:void(0);" class="rs-table-sort" ng-click="vm.setSortBy('server', 'end')" ng-class="{'custom-table-sort-asc current-sort-param': vm.sortBy['server']==='end', 'custom-table-sort-desc current-sort-param': vm.sortBy['server']==='-end', 'custom-table-sort-desc': vm.sortBy['server'].indexOf('end') < 0}">
                                    <span class="rs-table-sort-text">Completion Time</span>
                                    <span class="rs-table-sort-indicator"></span>
                                </a>
                            </th>
                            <th>
                                <a href="javascript:void(0);" class="rs-table-sort" ng-click="vm.setSortBy('server', 'status')" ng-class="{'custom-table-sort-asc current-sort-param': vm.sortBy['server']==='status', 'custom-table-sort-desc current-sort-param': vm.sortBy['server']==='-status', 'custom-table-sort-desc': vm.sortBy['server'].indexOf('status') < 0}">
                                    <span class="rs-table-sort-text">Status</span>
                                    <span class="rs-table-sort-indicator"></span>
                                </a>
                            </th>
                            <th>
                                Actions
                            </th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="instance in vm.job.instances | orderBy: vm.sortBy.server">
                                <td class="rs-table-link">
                                    <a href="#" ng-click="vm.equipmentDetails('server', instance.id)" role="button" data-toggle="modal">{{instance.name}}</a>
                                </td>
                                <td class="rs-table-text">
                                    {{(vm.job.end && vm.job.end * 1000) | date : 'M/dd/yyyy hh:mm a'}}
                                </td>
                                <!--<td class="rs-table-text">
                                    <div class="rs-progress rs-progress-medium" style="width: 50%;">
                                        <div class="rs-progress-inner">
                                            <div class="rs-segment" style="width: 100%">
                                                <div class="rs-bar rs-status-ok"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="rs-progress-label">100%</span>
                                </td>-->
                                <td class="rs-table-text">
                                    <span class="rs-status-ok">Completed</span>
                                </td>
                                <td>
                                    <a class="rs-btn" ng-link="['ResourceTaskList', {job_id: vm.job.job_id, resource_type: 'instance', resource_id: instance.id}]">See Tasks</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>

                <div class="rs-embedded-list-table-wrapper rs-embedded-medium migration-status-list-container" ng-show="vm.job.networks.length > 0">
                    <table class="rs-list-table rs-embedded-list-table no-truncate-td" style="table-layout: fixed; overflow: hidden;">
                        <thead>
                            <th>
                                <a href="javascript:void(0);" class="rs-table-sort" ng-click="vm.setSortBy('network', 'name')" ng-class="{'custom-table-sort-asc current-sort-param': vm.sortBy['network']==='name', 'custom-table-sort-desc current-sort-param': vm.sortBy['network']==='-name', 'custom-table-sort-desc': vm.sortBy['network'].indexOf('name') < 0}">
                                    <span class="rs-table-sort-text">Network</span>
                                    <span class="rs-table-sort-indicator"></span>
                                </a>
                            </th>
                            <!--<th>Progress</th>-->
                            <th>
                                <a href="javascript:void(0);" class="rs-table-sort" ng-click="vm.setSortBy('network', 'end')" ng-class="{'custom-table-sort-asc current-sort-param': vm.sortBy['network']==='end', 'custom-table-sort-desc current-sort-param': vm.sortBy['network']==='-end', 'custom-table-sort-desc': vm.sortBy['network'].indexOf('end') < 0}">
                                    <span class="rs-table-sort-text">Completion Time</span>
                                    <span class="rs-table-sort-indicator"></span>
                                </a>
                            </th>
                            <th>
                                <a href="javascript:void(0);" class="rs-table-sort" ng-click="vm.setSortBy('network', 'status')" ng-class="{'custom-table-sort-asc current-sort-param': vm.sortBy['network']==='status', 'custom-table-sort-desc current-sort-param': vm.sortBy['network']==='-status', 'custom-table-sort-desc': vm.sortBy['network'].indexOf('status') < 0}">
                                    <span class="rs-table-sort-text">Status</span>
                                    <span class="rs-table-sort-indicator"></span>
                                </a>
                            </th>
                            <th>
                                Actions
                            </th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="network in vm.job.networks | orderBy: vm.sortBy.network">
                                <td class="rs-table-link">
                                    <a href="#" ng-click="vm.equipmentDetails('network', network.id)" role="button" data-toggle="modal">{{network.name}}</a>
                                </td>
                                <!--<td class="rs-table-text">
                                    <div class="rs-progress rs-progress-medium" style="width: 50%;">
                                        <div class="rs-progress-inner">
                                            <div class="rs-segment" style="width: 100%">
                                                <div class="rs-bar rs-status-ok"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="rs-progress-label">100%</span>
                                </td>-->
                                <td class="rs-table-text">
                                    {{(vm.job.end && vm.job.end * 1000) | date : 'M/dd/yyyy hh:mm a'}}
                                </td>
                                <td class="rs-table-text">
                                    <span class="rs-status-ok">Completed</span>
                                </td>
                                <td>
                                    <a class="rs-btn" ng-link="['ResourceTaskList', {job_id: vm.job.job_id, resource_type: 'instance', resource_id: instance.id}]">See Tasks</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>

            </div>
        </div>
    </div>
</div>

<div ng-include="'/static/angtemplates/migration/equipment-details.html'"></div>