<div class="rs-content rs-panel">
    <div class="rs-row">
        <div class="span-12">
            <rscollapsible>
                <rscollapsiblechild  ng-repeat="server in vm.servers" title="{{server.name}}">
                    <div class="rs-embedded-list-table-wrapper rs-embedded-medium" style="max-height:298px">
                        <table class="rs-list-table rs-embedded-list-table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th ng-repeat="label in vm.labels">
                                        <span class="rs-table-sort-text">{{label}}</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in server.mappings">
                                    <td>    
                                        <input type="radio" name="{{'selection'+server.name }}" value="{{server.name}}"/>
                                    </td>
                                    <td>{{server.name}}</td>
                                    <td>{{item.instance_type}}</td>
                                    <td>{{item.region}}</td>
                                    <td>{{item.cost}}</td>
                                    <td>{{item.memory}}</td>
                                    <td>{{item.vcpu}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-show="vm.loading" class="rs-table-overlay rs-table-overlay-loading">
                            <div class="rs-table-overlay-content">
                                <div class="rs-table-overlay-message">Loading&hellip;</div>
                            </div>
                        </div>
                        <div ng-show="vm.loadError" class="rs-table-overlay rs-table-overlay-error">
                            <div class="rs-table-overlay-content">
                                <div class="rs-table-overlay-message"><i class="rs-icon-error-indicator"></i>
                                    Error encountered. Please try again.
                                </div>
                            </div>
                        </div>
                    </div>
                </rscollapsiblechild>
            </rscollapsible>
        </div>
    </div>
    <div class="rs-row">
        <div class="span-10">

        </div>
        <div class="span-2">
            <button class="rs-btn rs-primary" ng-click="vm.compare()">Apply And Continue</button>
        </div>
    </div>
</div>