<div class="rs-container migration-mgr">
    <a ng-link="['MigrationStatus']"><i class="fa fa-chevron-left"></i> Go to Migration Dashboard </a>
    <br>
    <div class="rs-main ">
        <div class="rs-content rs-panel">
            <div class="rs-inner">
                <div class="rs-row">
                    <div class="span-8">
                        <div class="migr-ddi-name">{{vm.currentUser}} ( #{{vm.tenant_id}} )</div>
                        <div class="migr-name">{{vm.job.batch_name}} / Completed</div>
                    </div>
                    <div class="span-4">
                        <div class="pull-right">
                            <a href="" class="rs-btn rs-pull-right">See Log</a>
                        </div>
                    </div>
                </div>
                <div class="rs-embedded-list-table-wrapper rs-embedded-medium migration-status-list-container">
                    <table class="rs-list-table rs-embedded-list-table no-truncate-td">
                        <thead>
                            <th>
                                <a href="#list-table" class="rs-table-sort rs-table-sort-desc">
                                    <span class="rs-table-sort-text">Server </span>
                                    <span class="rs-table-sort-indicator"></span>
                                </a>
                            </th>
                            <th>Completion Time</th> 
                            <th>Status</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(id, instance) in vm.job.instances">
                                <td class="rs-table-link">
                                    <a href="#resource_info" ng-click="vm.equipmentDetails('server', id)" role="button" data-toggle="modal">{{instance.name}}</a>
                                </td>
                                <td class="rs-table-text">
                                    {{(vm.job.end && vm.job.end * 1000) | date : 'M/dd/yyyy hh:mm a'}}
                                </td>
                                <!--<td class="rs-table-text">
                                    <div class="rs-progress rs-progress-medium" style="width: 50%;">
                                        <div class="rs-progress-inner">
                                            <div class="rs-segment" style="width: 100%">
                                                <div class="rs-bar rs-status-ok"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="rs-progress-label">100%</span>
                                </td>-->
                                <td class="rs-table-text">
                                    <span class="rs-status-ok">Completed</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>

                <div class="rs-embedded-list-table-wrapper rs-embedded-medium migration-status-list-container">
                    <table class="rs-list-table rs-embedded-list-table no-truncate-td">
                        <thead>
                            <th>
                                <a href="#list-table" class="rs-table-sort rs-table-sort-desc">
                                    <span class="rs-table-sort-text">Network</span>
                                    <span class="rs-table-sort-indicator"></span>
                                </a>
                            </th>
                            <!--<th>Progress</th>-->
                            <th>Completion Time</th> 
                            <th>Status</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(id, network) in vm.job.networks">
                                <td class="rs-table-link">
                                    <a href="#network_info" ng-click="vm.equipmentDetails('network', id)" role="button" data-toggle="modal">{{network.name}}</a>
                                </td>
                                <!--<td class="rs-table-text">
                                    <div class="rs-progress rs-progress-medium" style="width: 50%;">
                                        <div class="rs-progress-inner">
                                            <div class="rs-segment" style="width: 100%">
                                                <div class="rs-bar rs-status-ok"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="rs-progress-label">100%</span>
                                </td>-->
                                <td class="rs-table-text">
                                    {{(vm.job.end && vm.job.end * 1000) | date : 'M/dd/yyyy hh:mm a'}}
                                </td>
                                <td class="rs-table-text">
                                    <span class="rs-status-ok">Completed</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>

            </div>
        </div>
    </div>
</div>

<div static-include="'/static/angtemplates/migration/equipment-details.html'"></div>

<div id="network_info" style="width: 750px !important; overflow-y: auto; top: 4% !important" class="modal hide fade details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="rs-content rs-panel rs-detail-xlarge">
        <div class="rs-detail-section">
            <div class="rs-detail-section-header">
                <div class="rs-detail-section-title">Networks</div>
            </div>
            <div class="rs-detail-section-body">
                <div class="rs-embedded-list-table-wrapper rs-embedded-small">
                    <table class="rs-list-table rs-embedded-list-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>ID</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="rs-table-text">{{vm.networkDetails.name}}</td>
                                <td class="rs-table-text">{{vm.networkDetails.id}}</td>
                                <td class="rs-table-text"><span class="rs-status rs-status-ok">{{vm.networkDetails.status}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>