<div class="rs-container migration-mgr">
            <div class="rs-main rs-panel">
                <div class="rs-content rs-panel">
                    <rsinteractiveheader pagenum="3"></rsinteractiveheader>
                    <hr>
                    <div class="rs-inner">
                        <h2>{{vm.userOrTenant}} ( #{{vm.tenant_id}} )</h2>
                        <div class="migr-name">
                            <div ng-show="!vm.editorEnabled">
                                <h3>{{vm.batchName}}</h3>
                                <span class="edit rs-edit" ng-click="vm.editorEnabled = true; vm.tempBatchName = vm.batchName"></span>
                            </div>
                            <div ng-show="vm.editorEnabled">
                                <input ng-model="vm.tempBatchName" >
                                <button class="rs-primary" role="button" ng-click="vm.save()">Save</button>
                                    or
                                <button role="button" ng-click="vm.disableEditor()">cancel</button>
                            </div>
                            <!--<div ng-show="vm.editorEnabled">
                                <input type="text" ng-model="vm.tempBatchName" class="name-input animated flipInX" style="display: inline-block;"/>
                                <a href="javascript:void(0);" ng-click="vm.save()">Save</a>
                                or
                                <a href="javascript:void(0);" ng-click="vm.disableEditor()">Cancel</a>
                            </div>-->
                        </div>
                        <div class="clear"></div>
                        <div class="rs-row">
                            <div class="span-6">
                                <rsselecteditemspanel showrec="true"></rsselecteditemspanel>
                            </div>
                            <div class="span-3">
                                <div class="plain-panel rs-center">
                                    <h3>Scheduled Time <a ng-link="['ScheduleMigration']" class="rs-edit" title="Go to step 3 to choose new Schedule"></a></h3>
                                    <hr>
                                    <h3><b>{{vm.scheduledDateTime}}</b></h3>
                                </div>
                            </div>
                            <div class="span-3">
                                <div class="plain-panel rs-center">
                                    <h3>Projected Cost <a href=""><i id="tooltip-demo" class="rs-icon-help" title="click to see more details about pricing."></i></a></h3>
                                    <hr>
                                    <h3><b>{{vm.cost | currency: '$'}} / mon</b> </h3>
                                    <a href="">(See Details)</a>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="rs-row">
                            <div class="rs-pull-right">
                                <a class="rs-btn " ng-link="['ScheduleMigration']">Back</a>
                                <a class="rs-btn" href="">Save for later</a>
                                <a class="rs-btn " href="#cancel_modal" role="button" data-toggle="modal">Cancel Migration</a>
                                <!-- conditional - show only if there is already migrations made -->
                                <a class="rs-btn" ng-link="['MigrationStatus']">Dashboard</a>
                                <!-- ****** -->
                                <a class="rs-btn rs-btn-primary " ng-click="vm.migrate()" ng-show="!vm.migrating" ng-class="{'disabled': vm.errorInMigration}">Confirm Migration</a>
                                <a class="rs-btn rs-btn-primary disabled" ng-show="vm.migrating">Processing...</a>
                            </div>
                        </div>
                        <div style="color: red; text-align: right;" ng-show="vm.errorInMigration">Error while trying to migrate</div>
                        <br>
                    </div>
                </div>
            </div>
            <rsinteractivefooter></rsinteractivefooter>
        </div>

        <!-- modals -->

    <div id="cancel_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
            <h3>Would you like to save the selections you've made so far for another time?</h3>
            <br>
            <form class="">
                <div class="rs-control-group">
                    <div class="rs-controls">
                      <label class="rs-radio">
                        <input type="radio" name="three">
                        <strong>Yes</strong><br>
                        <span class="rs-help-block">Save progress for later</span>
                      </label>
                      <label class="rs-radio">
                        <input type="radio" name="three">
                        <strong>No</strong>
                        <span class="rs-help-block">Cancel and move on</span>
                      </label>
                    </div>
                </div>                  
            </form>            
        </div>
        <div class="modal-footer">
            <button class="rs-btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <a class="rs-btn rs-btn-primary" ng-click="vm.continue()" href="https://mycloud.rackspace.com">Submit</a>
        </div>
    </div>
    <!-- end modals -->