<div class="rs-container migration-mgr">
    <br>
    <a href="#cancel_modal" role="button" data-toggle="modal"><i class="fa fa-chevron-left"></i> Go to Migration Dashboard </a>
    <br>
    <br>
    <div class="rs-main rs-panel">
        <div class="rs-content rs-panel">
            <rsnavigationpanel pagenum="2"></rsnavigationpanel>
            <hr>
            <div class="rs-inner">
                <div class="rs-row">
                    <div class="span-8">
                        <div class="migr-ddi-name">
                            {{vm.tenant_account_name}} ( #{{vm.tenant_id}} ) <span class="rax-red-txt">| </span>
                            <span class="migr-name">
                                <rseditbatchname></rseditbatchname>
                            </span>
                        </div>
                    </div>
                    <div class="span-4">
                        <rscontact></rscontact>
                    </div>
                </div>
                
                <div class="rs-row">
                    <div class="span-12">
                        <h3>Review configurations and schedule your migration</h3>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="rs-row">
                    <div class="span-6">
                        <rsselecteditemspanel showrec="true"></rsselecteditemspanel>
                    </div>

                    <div class="span-3">
                        <div class="plain-panel rs-center">
                             <a href="racker-step2.html"  class="rs-btn rs-btn-action rs-pull-right">
                                       Modify
                                    </a>   
                            <h3>Projected Cost
                                <!--<a href=""><i id="tooltip-demo" class="rs-icon-help" title="click to see more details about pricing."></i></a>-->
                            </h3>
                            <hr>
                            <h2><b>{{vm.cost | currency: '$'}} / month</b><a href=""><i class="fa fa-info-circle fa-fw"></i></a> </h2>
                           <p>
                                        Current Support Level: <br>
                                        <big><b><a href="https://www.rackspace.com/en-us/managed-aws/features" target="_blank">Navigator</a></b></big><br>
                                        <small>* Navigator cost not reflected here.</small>
                                    </p>
                        </div>
                    </div>
                      <rsschedulemigration></rsschedulemigration>
                </div>
              
                <br>
                <div class="rs-row">
                    <div class="rs-pull-right">
                        <a class="rs-btn " ng-link="['MigrationRecommendation']">Back</a>
                        <!--<a class="rs-btn" ng-click="vm.saveItems(vm.saveLaterObj)" ng-hide="vm.saveLaterObj.saveInProgress">Save For Later</a>
                        <a class="rs-btn disabled" disabled="disabled" ng-show="vm.saveLaterObj.saveInProgress">Saving...</a>
                        <i class="rs-processing-indicator" ng-show="vm.saveLaterObj.saveInProgress"></i>-->
                        <a class="rs-btn" role="button" ng-click="vm.showCancelDialog()">Cancel Migration</a>
                        <a class="rs-btn rs-btn-primary " ng-click=" vm.showConfirmMigrateDialog()"  ng-class="{'disabled': vm.errorInMigration}">Confirm Migration</a>
                        <a class="rs-btn rs-btn-primary disabled" ng-show="vm.migrating">Processing...</a>
                    </div>
                </div>
                <div style="margin-top: 10px; text-align: right;" ng-show="vm.migrating">Preparing and sending migration request...<i class="fa fa-refresh fa-spin" style="font-size:16px"></i></div>
                <div style="color: red; text-align: right;" ng-show="vm.errorInMigration">Error while trying to migrate</div>
                <div class="rs-row" style="text-align: right;" ng-show="vm.saveLaterObj.resultMsg" ng-style="vm.saveLaterObj.saveSuccess == true ? {color:'green'} : {color:'red'}">{{vm.saveLaterObj.resultMsg}}</div>
                <br>
            </div>
        </div>
    </div>
    <rsinteractivefooter></rsinteractivefooter>
</div>

<!-- modals -->
<div id="cancel_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="ModalForCancel" aria-hidden="true">
    <div class="modal-body">
        <h3>You have chosen this time for your migration.</h3>
        <form class=" ">
            <div class="rs-control-group">
                <div class="rs-controls">
                    <label class="rs-radio">
                        <input type="radio" ng-model="vm.saveProgress" value="yes">
                        <strong>Yes</strong><br>
                        <span class="rs-help-block">Save progress for later</span>
                      </label>
                    <label class="rs-radio">
                        <input type="radio" ng-model="vm.saveProgress" value="no">
                        <strong>No</strong>
                        <span class="rs-help-block">Cancel and move on</span>
                      </label>
                </div>
            </div>
            <button class="rs-btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="rs-btn rs-btn-primary " ng-class="{disabled:vm.saveProgress == ''}" ng-click="vm.submitCancel()" ng-hide="vm.cancelnSaveObj.saveInProgress">Submit</button>
            <a class="rs-btn disabled" disabled="disabled" ng-show="vm.cancelnSaveObj.saveInProgress">Submitting...</a>
            <i class="rs-processing-indicator" ng-show="vm.cancelnSaveObj.saveInProgress"></i>
            <br>
            <div ng-show="vm.cancelnSaveObj.resultMsg" ng-style="vm.cancelnSaveObj.saveSuccess == true ? {color:'green'} : {color:'red'}">{{vm.cancelnSaveObj.resultMsg}}</div>
        </form>
    </div>
</div>
  <!-- confrm migration modal -->
    <div id="confirm-migration-modal" class="modal hide animated fadeIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <h3>You have chosen this time for your migration.</h3>
        </div>
        <div class="modal-body">
            <h3>{{vm.schedule.date}} at {{vm.schedule.time}}</h3> 
            <p>Is this correct?</p>
            <div class="rs-control-group">
               <a ng-click="vm.migrate()" ng-show="!vm.migrating" class="rs-btn rs-btn-primary">Yes, Continue</a>  
               <a class="rs-btn" data-dismiss="modal" aria-hidden="true">No, Go back</a>
            </div> 
        </div>
        <div class="modal-footer">   
        </div>
    </div>
    <!-- end modals -->
<!-- end modals -->