 <div class="span4 ">
    <div class="rs-pull-right">
        <h4>Support</h4>
        <div class="support-icons">
            <a href="#" ng-click="showPopover(vm)" class=""><i class="fa fa-phone fa-fw fa-2x"></i></a>
            <a href="https://mycloud.rackspace.com/cloud/{{vm.tenant_id}}/tickets" class=""><i class="fa fa-ticket fa-fw fa-2x"></i></a>
        </div>
    </div>
</div>
 <!-- Modal -->
<div class="modal" id="phoneNumberModal" ng-show="popoverIsVisible">
    <br>
    <div class="modal-body">
        <h3 class="rs-page-title">Support Contact Phone Numbers</h3>
        <div ng-repeat="num in vm.contactNumbers">
            <div><big>{{num}}</big></div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="rs-btn" ng-click="hidePopover(vm)" data-dismiss="modal">Close</a>
    </div>
</div>