<div class="rs-container migration-mgr" ng-style="vm.isRacker == true ? {'margin-top':'30px'} : {'margin-top':'0px'}">
    <a ng-link="['MigrationStatus']"><i class="fa fa-chevron-left"></i> Go to Migration Dashboard </a>
    <div class="rs-main ">
        <div class="rs-content rs-panel">
            <div class="rs-inner">
                <div class="rs-row">
                    <div class="span-10">
                        <div class="migr-name"><b>{{vm.job.batch_name}} / Active Migrations</b></div>
                        <div class="migr-name inline-block-elements">Overall Batch Status: </div>
                        <div class="rs-progress rs-progress-small inline-block-elements instance-progress-bar" ng-if="vm.progressFlag !== false">
                            <div class="rs-progress-inner">
                                <div class="rs-segment" ng-style="{'width': +vm.job.batch_succeeded_time_pct +'%'}">
                                    <div ng-class="{'rs-bar rs-status-ok rs-bar-striped': vm.job.batch_succeeded_time_pct != '100' , 'rs-bar rs-status-ok': vm.job.batch_succeeded_time_pct == '100'}"></div>
                                </div>
                            </div>
                        </div><span class="rs-status-ok" ng-if="vm.progressFlag !== false"><em> {{vm.job.batch_succeeded_time_pct}}%</em></span>
                        <span class="migr-name capitalize instance-progress-bar" ng-if="vm.progressFlag === false">{{vm.job.batch_status}}</span>
                    </div>
                    <div class="span-2">
                        <button class="rs-btn" ng-click="vm.getBatchDetails(true)">
                            <i class="fa fa-refresh" ng-class="{'fa-spin': vm.loading || vm.manualRefresh}"></i> Refresh
                        </button>
                        <a ng-link="['MigrationStatus']" href="" class="rs-btn backButtonWidth">Back</a>
                        <div style="margin-top: 10px;" ng-show="!vm.loading && !vm.manualRefresh && !vm.loadError">Last refreshed: {{vm.timeSinceLastRefresh===0 ? " just now" : vm.timeSinceLastRefresh + (vm.timeSinceLastRefresh>1
                            ? " mins ": " min ") + "ago"}}</div>
                    </div>
                </div>
                <br>
                <div class="migration-status-list-container table-justify" ng-repeat="equipment in vm.equipments" ng-show="vm.equipmentContent.tableBody[equipment].length>0">
                    <table class="rs-list-table no-truncate-td cell-center" style="overflow: hidden">
                        <thead>
                            <th ng-repeat="tableHeader in vm.equipmentContent.tableHeaders[equipment]">
                                <a href="javascript:void(0);" class="rs-table-sort">
                                    <span class="rs-table-sort-text">{{tableHeader}}</span>
                                    <span class="rs-table-sort-indicator"></span>
                                </a>
                            </th>
                        </thead>
                        <tbody ng-show="!vm.loading && !vm.loadError">
                            <tr ng-repeat="tableContent in vm.equipmentContent.tableBody[equipment]">
                                <td class="rs-table-link currentBatchServerGridName">
                                    <a href="" ng-click="vm.equipmentDetails(equipment, tableContent)" role="button" data-toggle="modal">{{tableContent.name}}</a>
                                </td>
                                <td class="rs-table-text currentBatchServerGrid">
                                    <span class="rs-status-error" ng-show="tableContent.status==='error' || tableContent.status.state ==='error'">Error</span>
                                    <span class="rs-status-ok" ng-show="tableContent.status ==='Existing' || tableContent.status.state ==='Existing'">Existing</span>
                                    <span class="rs-status-ok" ng-show="tableContent.status ==='done' || tableContent.status.state ==='done'">Completed</span>
                                    <span class="rs-status-ok" ng-show="tableContent.status ==='started' || tableContent.status.state ==='started'">Started</span>
                                    <span class="rs-status-ok" ng-show="tableContent.status ==='in progress' || tableContent.status.state ==='in progress'">In Progress</span>
                                    <span class="rs-status-warning" ng-show="tableContent.status ==='scheduled' || tableContent.status.state ==='scheduled'">Scheduled</span>
                                    <span class="rs-status-disabled" ng-if="tableContent.status ==='not available' || tableContent.status.state ==='not available'">Not Available</span>
                                    <span class="rs-status-warning" ng-show="tableContent.status ==='paused' || tableContent.status.state ==='paused'">Paused</span>
                                    <span class="rs-status-warning" ng-show="tableContent.status.toLowerCase() ==='created' || tableContent.status.state.toLowerCase() ==='created'">Created</span>
                                </td>
                                <td class="rs-table-text currentBatchServerGrid" 
                                    ng-class="{'paddingLeft':tableContent.status.state !=='in progress' && tableContent.status.state !=='done' && tableContent.status.state !=='Existing' && tableContent.status !=='in progress' && tableContent.status !=='done' && tableContent.status !=='Existing'}">
                                    <div class="rs-progress rs-progress-small" ng-if="tableContent.status.state ==='in progress' || tableContent.status ==='in progress'">
                                        <div class="rs-progress-inner">
                                            <div class="rs-segment" ng-if="equipment=== 'server' && tableContent.instance_succeeded_time_pct !== undefined" ng-style="{'width': + tableContent.instance_succeeded_time_pct +'%'}">
                                                <div class="rs-bar rs-status-ok rs-bar-striped"></div>
                                            </div>
                                            <div class="rs-segment" ng-if="equipment=== 'server' && tableContent.instance_succeeded_time_pct === undefined" ng-style="{'width': + vm.job.succeeded_time_pct +'%'}">
                                                <div class="rs-bar rs-status-ok rs-bar-striped"></div>
                                            </div>
                                            <div class="rs-segment" ng-if="equipment=== 'network'" ng-style="{'width': +vm.job.network_succeeded_by_time_pct +'%'}">
                                                <div class="rs-bar rs-status-ok rs-bar-striped"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="rs-status-ok" ng-if="equipment=== 'network' && (tableContent.status.state ==='in progress' || tableContent.status ==='in progress')"><em> {{vm.job.network_succeeded_by_time_pct}}%</em></span>
                                    <span class="rs-status-ok" ng-if="equipment=== 'server' && tableContent.status==='in progress' && vm.progressFlag !== false && tableContent.instance_succeeded_time_pct !== undefined"><em> {{tableContent.instance_succeeded_time_pct}}%</em></span>
                                    <span class="rs-status-ok" ng-if="equipment=== 'server' && tableContent.status==='in progress' && vm.progressFlag !== false && tableContent.instance_succeeded_time_pct === undefined"><em> {{vm.job.succeeded_time_pct}}%</em></span>
                                    <div class="rs-progress rs-progress-small" ng-if="tableContent.status.state ==='done' || tableContent.status.state === 'Existing' || tableContent.status ==='done' || tableContent.status === 'Existing'">
                                        <div class="rs-progress-inner">
                                            <div class="rs-segment" style="width: 100%">
                                                <div class="rs-bar rs-status-ok"></div>
                                            </div>
                                        </div>
                                    </div><span class="rs-status-ok" ng-if="tableContent.status.state ==='done' || tableContent.status.state === 'Existing' || tableContent.status ==='done' || tableContent.status === 'Existing'"><em> 100%</em></span>
                                    <span ng-if="tableContent.status.state === 'paused' || tableContent.status === 'paused'"><i class="fa fa-pause" aria-hidden="true" ></i></span>
                                    <span ng-if="tableContent.status.state === 'scheduled' || tableContent.status === 'scheduled'"><i class="fa fa-clock-o font-size-progress-icons" aria-hidden="true"></i></span>
                                    <span ng-if="tableContent.status.state === 'error' || tableContent.status.state === 'canceled' || tableContent.status === 'error' || tableContent.status === 'canceled'"><i class="fa fa-times font-size-progress-icons" aria-hidden="true"></i></span>
                                    <span ng-if="tableContent.status.state === 'not available' || tableContent.status === 'not available'"><i class="fa fa-ban font-size-progress-icons" aria-hidden="true"></i></span>
                                    <span ng-if="vm.job.timestamp"><i class="fa fa-ban font-size-progress-icons" aria-hidden="true"></i></span>
                                    <span ng-if="tableContent.status.state.toLowerCase() === 'created' || tableContent.status.toLowerCase() === 'created'"><i class="fa fa-clock-o font-size-progress-icons" aria-hidden="true"></i></span>
                                </td>
                                <td>
                                    <span ng-if="tableContent.destination.region">
                                        {{tableContent.destination.region | convertCase}}
                                    </span>
                                    <span ng-if="!tableContent.destination.region">
                                        N/A
                                    </span>
                                </td>
                                <td class="currentBatchInstanceWidth">
                                    <span ng-if="equipment==='server'">
                                        {{tableContent.destination.type}}
                                    </span>
                                </td>
                                <td>
                                    <a class="rs-btn" ng-click="vm.saveResourceDetailsRouteParams(tableContent,equipment)" >See Tasks</a>
                                </td>
                            </tr>
                        </tbody>
                        <tbody ng-show="vm.loading">
                            <tr>
                                <td colspan="6">
                                    <div class="rs-table-overlay rs-table-overlay-loading">
                                        <div class="rs-table-overlay-content">
                                            <div class="rs-table-overlay-message">Loading&hellip;</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody ng-show="!vm.loading && vm.loadError">
                            <tr>
                                <td colspan="6" class="collection-error-msg">Error loading data</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>

                <div class="rs-facet-section-body">
                    <h3>Batch-Tasks</h3>
                    <div class="migration-status-list-container table-justify">
                        <table class="rs-list-table no-truncate-td cell-center">
                            <thead>
                                <tr>
                                    <th colspan="2">Name</th>
                                    <th>Status</th>
                                    <th colspan="2">Description</th>
                                </tr>
                            </thead>
                            <tbody ng-show="!vm.loadingBatchTasks && vm.batchTasks.length>0">
                                <tr ng-repeat="task in vm.batchTasks">
                                    <td colspan="2">{{task.name}}</td>
                                    <td>
                                        <span class="rs-status-error" ng-show="task.status==='error'">Error</span>
                                        <span class="rs-status-ok" ng-show="task.status==='done'">Completed</span>
                                        <span class="rs-status-ok" ng-show="task.status==='started'">Started</span>
                                        <span class="rs-status-ok" ng-show="task.status==='in progress'">In Progress</span>
                                        <span class="rs-status-warning" ng-show="task.status==='scheduled'">Scheduled</span>
                                        <span class="rs-status-disabled capitalize" ng-show="task.status==='not available'">Not available</span>
                                        <span class="rs-status-warning" ng-show="task.status==='paused'">Paused</span>
                                    </td>
                                    <td colspan="2">{{task.details}}</td>
                                </tr>
                            </tbody>
                            <tbody ng-show="!vm.loadingBatchTasks && vm.batchTasks.length===0">
                                <tr>
                                    <td colspan="4" class="empty-collection-info">You don't have any Tasks</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
                <div class="rs-facet-section-body">
                    <h3>Errors <span class="rs-quiet">({{vm.alerts.length}})</span></h3>
                    <div class="migration-status-list-container table-justify">
                        <table class="rs-list-table no-truncate-td cell-center">
                            <thead>
                                <tr>
                                    <th class="rs-table-status"></th>
                                    <th>Message</th>
                                </tr>
                            </thead>
                            <tbody ng-show="!vm.loadingAlerts && vm.alerts.length>0">
                                <tr ng-repeat="alert in vm.alerts">
                                    <td><span class="rs-status" ng-class="{'rs-status-warning': alert.type==='warning', 'rs-status-error': alert.type==='error'}">{{alert.type}}</span></td>
                                    <td>{{alert.message}}</td>
                                </tr>
                            </tbody>
                            <tbody ng-show="!vm.loadingAlerts && vm.alerts.length===0">
                                <tr>
                                    <td colspan="2" class="empty-collection-info">You don't have any alerts</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>

<div ng-include="'/static/angtemplates/migration/equipment-details.html'"></div>

