<div class="rs-container migration-mgr" ng-style="vm.isRacker == true ? {'margin-top':'30px'} : {'margin-top':'0px'}">
    <a ng-link="['MigrationStatus']"><i class="fa fa-chevron-left"></i> Go to Migration Dashboard </a>
    <div class="rs-main ">
        <div class="rs-content rs-panel">
            <div class="rs-inner">
                <div class="rs-row">
                    <div class="span-10">
                        <div class="migr-ddi-name">{{vm.currentUser}} ( #{{vm.tenant_id}} )</div>
                        <div class="migr-name">{{vm.job.metadata.batch_name}} / Active Migrations</div>
                    </div>
                    <div class="span-2">
                        <button class="rs-btn" ng-click="vm.getBatchDetails(true)">
                            <i class="fa fa-refresh" ng-class="{'fa-spin': vm.loading || vm.manualRefresh}"></i>
                            <small><em class="rs-quiet">Refresh</em></small>
                        </button>
                        <!--<a href="" class="rs-btn" style="padding-left: 45px; padding-right: 45px;">See Log</a>-->
                        <div style="margin-top: 10px;" ng-show="!vm.loading && !vm.manualRefresh && !vm.loadError">Last refreshed: {{vm.timeSinceLastRefresh===0 ? " just now" : vm.timeSinceLastRefresh + (vm.timeSinceLastRefresh>1 ? " mins ": " min ") + "ago"}}</div>
                    </div>
                </div>
                <div class="rs-embedded-list-table-wrapper rs-embedded-medium migration-status-list-container">
                    <table class="rs-list-table rs-embedded-list-table no-truncate-td" style="overflow: hidden">
                        <thead>
                            <th>
                                <a href="javascript:void(0);" class="rs-table-sort" ng-click="vm.setSortBy('server', 'name')" ng-class="{'custom-table-sort-asc current-sort-param': vm.sortBy['server']==='name', 'custom-table-sort-desc current-sort-param': vm.sortBy['server']==='-name', 'custom-table-sort-desc': vm.sortBy['server'].indexOf('name') < 0}">
                                    <span class="rs-table-sort-text">Server</span>
                                    <span class="rs-table-sort-indicator"></span>
                                </a>
                            </th>
                            <th>
                                <a href="javascript:void(0);" class="rs-table-sort" ng-click="vm.setSortBy('server', 'status')" ng-class="{'custom-table-sort-asc current-sort-param': vm.sortBy['server']==='status', 'custom-table-sort-desc current-sort-param': vm.sortBy['server']==='-status', 'custom-table-sort-desc': vm.sortBy['server'].indexOf('status') < 0}">
                                    <span class="rs-table-sort-text">Status</span>
                                    <span class="rs-table-sort-indicator"></span>
                                </a>
                            </th>
                            <th>
                                <a href="javascript:void(0);" class="rs-table-sort custom-sort-a">
                                    <span class="rs-table-sort-text">Progress</span>
                                </a>
                            </th>
                            <th>
                                Actions
                            </th>
                        </thead>
                        <tbody ng-show="!vm.loading && !vm.loadError">
                            <tr ng-repeat="instance in vm.job.instances | orderBy: vm.sortBy.server">
                                <td class="rs-table-link">
                                    <a href="" ng-click="vm.equipmentDetails('server', instance.id)" role="button" data-toggle="modal">{{instance.name}}</a>
                                </td>
                                <!--<td class="rs-table-text">
                                    <div class="rs-progress rs-progress-medium" style="width: 50%;">
                                        <div class="rs-progress-inner">
                                            <div class="rs-segment" style="width: {{vm.job.batch_status==='done' ? 100 : (vm.job.batch_status==='error' ? 0 : ['started', 'in progress', 'paused'].indexOf(vm.job.batch_status)>=0 ? 50 : 0)}}%">
                                                <div class="rs-bar" ng-class="{'rs-status-ok': vm.job.batch_status==='done', 'rs-status-ok rs-bar-striped': ['started', 'in progress'].indexOf(vm.job.batch_status)>=0, 'rs-status-error': vm.job.batch_status==='error', 'rs-status-warning':vm.job.batch_status ==='paused'}"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="rs-progress-label">{{ instance.status === 'done' ? 100 : ['started', 'in progress', 'paused'].indexOf(instance.status)>=0 ? 50 : 0 }}%</span>
                                </td>-->
                                <td class="rs-table-text" style="width: 30%;">
                                    <span class="rs-status-error" ng-show="instance.status==='error'">Error</span>
                                    <span class="rs-status-ok" ng-show="instance.status==='done'">Completed</span>
                                    <span class="rs-status-ok" ng-show="instance.status==='started'">Started</span>
                                    <span class="rs-status-ok" ng-show="instance.status==='in progress'">In Progress</span>
                                    <span class="rs-status-warning" ng-show="instance.status==='scheduled'">Scheduled</span>
                                    <span class="rs-status-disabled" ng-show="instance.status==='not available'">Not Available</span>
                                    <span class="rs-status-warning" ng-show="instance.status==='paused'">Paused</span>
                                    <span class="rs-status-warning" ng-show="instance.status==='canceled'">Cancelled</span>
                                </td>
                                <td class="rs-table-text" ng-class="{'paddingLeft':vm.job.batch_status!=='in progress'}" style="width: 30%;">
                                    <div class="rs-progress rs-progress-small" ng-if="vm.job.batch_status==='in progress' && vm.job.progressFlag !== 'NA'">
                                        <div class="rs-progress-inner">
                                            <div class="rs-segment" ng-style="{'width': +vm.job.succeeded_time_pct +'%'}">
                                                <div class="rs-bar rs-status-ok rs-bar-striped"></div>
                                            </div>
                                        </div>
                                    </div><span class="rs-status-ok" ng-if="vm.job.batch_status==='in progress' && vm.job.progressFlag !== 'NA'"><em>  {{vm.job.succeeded_time_pct}}%</em></span>
                                <span ng-if="vm.job.batch_status === 'paused'"><i class="fa fa-pause" aria-hidden="true" ></i></span>
                                <span ng-if="vm.job.batch_status === 'scheduled'"><i class="fa fa-clock-o font-size-progress-icons" aria-hidden="true"></i></span>
                                <span ng-if="vm.job.batch_status === 'error' || vm.job.batch_status === 'canceled'"><i class="fa fa-times font-size-progress-icons" aria-hidden="true"></i></span>
                                <span ng-if="vm.job.timestamp"><i class="fa fa-ban font-size-progress-icons" aria-hidden="true"></i></span>
                                </td>
                                <td>
                                    <a class="rs-btn" ng-link="['ResourceTaskList', {job_id: vm.job.job_id, resource_type: 'instance', resource_id: instance.id}]">See Tasks</a>
                                </td>
                            </tr>
                        </tbody>
                        <tbody ng-show="vm.loading && !vm.manualRefresh">
                            <tr>
                                <td colspan="3">
                                    <div class="rs-table-overlay rs-table-overlay-loading">
                                        <div class="rs-table-overlay-content">
                                            <div class="rs-table-overlay-message">Loading&hellip;</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                         <tbody ng-show="!vm.loading && vm.job.length===0">
                            <tr>
                                <td colspan="2" class="empty-collection-info">You don't have any instances</td>
                            </tr>
                        </tbody>
                        <tbody ng-show="!vm.loading && vm.loadError">
                            <tr>
                                <td colspan="3" class="collection-error-msg">Error loading data</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>

                <div class="rs-embedded-list-table-wrapper rs-embedded-medium migration-status-list-container" ng-show="vm.job.networks.length>0">
                    <table class="rs-list-table rs-embedded-list-table no-truncate-td" style="overflow: hidden">
                        <thead>
                            <th>
                                <a href="javascript:void(0);" class="rs-table-sort" ng-click="vm.setSortBy('network', 'name')" ng-class="{'custom-table-sort-asc current-sort-param': vm.sortBy['network']==='name', 'custom-table-sort-desc current-sort-param': vm.sortBy['network']==='-name', 'custom-table-sort-desc': vm.sortBy['network'].indexOf('name') < 0}">
                                    <span class="rs-table-sort-text">Network</span>
                                    <span class="rs-table-sort-indicator"></span>
                                </a>
                            </th>
                            <th>
                                <a href="javascript:void(0);" class="rs-table-sort" ng-click="vm.setSortBy('network', 'status')" ng-class="{'custom-table-sort-asc current-sort-param': vm.sortBy['network']==='status', 'custom-table-sort-desc current-sort-param': vm.sortBy['network']==='-status', 'custom-table-sort-desc': vm.sortBy['network'].indexOf('status') < 0}">
                                    <span class="rs-table-sort-text">Status</span>
                                    <span class="rs-table-sort-indicator"></span>
                                </a>
                            </th>
                            <th>
                                Actions
                            </th>
                        </thead>
                        <tbody ng-show="!vm.loading && !vm.loadError">
                            <tr ng-repeat="network in vm.job.networks | orderBy: vm.sortBy.network">
                                <td class="rs-table-link" style="width: 40%;">
                                    <a href="" ng-click="vm.equipmentDetails('network', network.id)" role="button" data-toggle="modal">{{network.name}}</a>
                                </td>
                                <!--<td class="rs-table-text">
                                    <div class="rs-progress rs-progress-medium" style="width: 50%;">
                                        <div class="rs-progress-inner">
                                            <div class="rs-segment" style="width: {{vm.job.batch_status==='done' ? 100 : (vm.job.batch_status==='error' ? 0 : ['started', 'in progress', 'paused'].indexOf(vm.job.batch_status)>=0 ? 50 : 0)}}%">
                                                <div class="rs-bar" ng-class="{'rs-status-ok rs-bar-striped': ['started', 'in progress'].indexOf(vm.job.batch_status)>=0, 'rs-status-error': vm.job.batch_status==='error', 'rs-status-warning': vm.job.batch_status==='paused'}"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="rs-progress-label">{{ ['started', 'in progress', 'paused'].indexOf(network.status)>=0 ? 50 : 0 }}%</span>
                                </td>-->
                                <td class="rs-table-text" style="width: 40%;">
                                    <span class="rs-status-error" ng-show="vm.job.batch_status==='error'">Error</span>
                                    <span class="rs-status-ok" ng-show="vm.job.batch_status==='done'">Completed</span>
                                    <span class="rs-status-ok" ng-show="vm.job.batch_status==='started'">Started</span>
                                    <span class="rs-status-ok" ng-show="vm.job.batch_status==='in progress'">In Progress</span>
                                    <span class="rs-status-warning" ng-show="vm.job.batch_status==='scheduled'">Scheduled</span>
                                    <span class="rs-status-disabled" ng-show="vm.job.batch_status==='not available'">Not Available</span>
                                    <span class="rs-status-warning" ng-show="vm.job.batch_status==='paused'">Paused</span>
                                </td>
                                <td>
                                    <a class="rs-btn" ng-link="['ResourceTaskList', {job_id: vm.job.job_id, resource_type: 'network', resource_id: network.id}]">See Tasks</a>
                                </td>
                            </tr>
                        </tbody>
                        <tbody ng-show="vm.loading">
                            <tr>
                                <td colspan="3">
                                    <div class="rs-table-overlay rs-table-overlay-loading">
                                        <div class="rs-table-overlay-content">
                                            <div class="rs-table-overlay-message">Loading&hellip;</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody ng-show="!vm.loading && vm.loadError">
                            <tr>
                                <td colspan="3" class="collection-error-msg">Error loading data</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>

                <div class="rs-facet-section-body">
                    <h3>Batch-Tasks</h3>
                    <div class="rs-embedded-list-table-wrapper rs-embedded-medium migration-status-list-container">
                        <table class=" rs-embedded-list-table">
                            <thead>
                                <tr>
                                    <th colspan="2">Name</th>
                                    <th>Status</th>
                                    <th colspan="2">Description</th>
                                </tr>
                            </thead>
                            <tbody ng-show="!vm.loadingBatchTasks && vm.batchTasks.length>0">
                                <tr ng-repeat="task in vm.batchTasks">
                                    <td colspan="2">{{task.name}}</td>
                                    <td>
                                        <span class="rs-status-error" ng-show="task.status==='error'">Error</span>
                                        <span class="rs-status-ok" ng-show="task.status==='done'">Completed</span>
                                        <span class="rs-status-ok" ng-show="task.status==='started'">Started</span>
                                        <span class="rs-status-ok" ng-show="task.status==='in progress'">In Progress</span>
                                        <span class="rs-status-warning" ng-show="task.status==='scheduled'">Scheduled</span>
                                        <span class="rs-status-disabled" ng-show="task.status==='not available'">Not Available</span>
                                        <span class="rs-status-warning" ng-show="task.status==='paused'">Paused</span>
                                    </td>
                                    <td colspan="2">{{task.details}}</td>
                                </tr>
                            </tbody>
                            <tbody ng-show="!vm.loadingBatchTasks && vm.batchTasks.length===0">
                                <tr>
                                    <td colspan="3" class="empty-collection-info">You don't have any Tasks</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
                
                <div class="rs-facet-section-body">
                    <h3>Alerts <span class="rs-quiet">({{vm.alerts.length}})</span></h3>
                    <div class="rs-embedded-list-table-wrapper rs-embedded-medium migration-status-list-container">
                        <table class=" rs-embedded-list-table">
                            <thead>
                                <tr>
                                    <th class="rs-table-status"></th>
                                    <th>Message</th>
                                </tr>
                            </thead>
                            <tbody ng-show="!vm.loadingAlerts && vm.alerts.length>0">
                                <tr ng-repeat="alert in vm.alerts">
                                    <td><span class="rs-status" ng-class="{'rs-status-warning': alert.type==='warning', 'rs-status-error': alert.type==='error'}">{{alert.type}}</span></td>
                                    <td>{{alert.message}}</td>
                                </tr>
                            </tbody>
                            <tbody ng-show="!vm.loadingAlerts && vm.alerts.length===0">
                                <tr>
                                    <td colspan="2" class="empty-collection-info">You don't have any alerts</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            
                <br>
            </div>
        </div>
    </div>
</div>

<div ng-include="'/static/angtemplates/migration/equipment-details.html'"></div>
