<div class="rs-container migration-mgr">
    <div style="padding-top: 10px;">
        <a ng-link="['MigrationStatus']"><i class="fa fa-chevron-left"></i> Go to Migration Dashboard </a>
    </div>

    <div class="rs-main ">
        <div class="rs-content rs-panel">
            <div class="rs-inner">
                <div class="rs-row">
                    <div class="span-8">
                        <div class="migr-ddi-name">{{vm.currentUser}} ( #{{vm.tenant_id}} )</div>
                        <div class="migr-name">{{vm.job.batch_name}} / Active Migrations</div>
                    </div>
                    <div class="span-4">
                        <div class="pull-right">
                            <button class="rs-btn" ng-click="vm.getBatchDetails(true)">
                                <i class="fa fa-refresh" ng-class="{'fa-spin': vm.loading || vm.manualRefresh}"></i>
                                <small><em class="rs-quiet">Refresh</em></small>
                            </button>
                            <!--<a href="" class="rs-btn" style="padding-left: 45px; padding-right: 45px;">See Log</a>-->
                            <div style="margin-top: 10px;" ng-show="!vm.loading && !vm.manualRefresh && !vm.loadError">Last refreshed: {{vm.timeSinceLastRefresh===0 ? " just now" : vm.timeSinceLastRefresh + (vm.timeSinceLastRefresh>1 ? " mins ": " min ") + "ago"}}</div>
                        </div>
                    </div>
                </div>
                <div class="rs-embedded-list-table-wrapper rs-embedded-medium migration-status-list-container">
                    <table class="rs-list-table rs-embedded-list-table no-truncate-td" style="overflow: hidden">
                        <thead>
                            <th ng-class="{'rs-table-sort-asc': vm.sortBy['server']==='name', 'rs-table-sort-desc': vm.sortBy['server']==='-name'}">
                                <a href="#list-table" class="rs-table-sort rs-table-sort-desc">
                                    <span class="rs-table-sort-text">Server</span>
                                    <span class="rs-table-sort-indicator"></span>
                                </a>
                            </th>
                            <th>Status</th>
                        </thead>
                        <tbody ng-show="!vm.loading && !vm.loadError">
                            <tr ng-repeat="(id, instance) in vm.job.instances">
                                <td class="rs-table-link" style="width: 50%;">
                                    <a href="#" ng-click="vm.equipmentDetails('server', id)" role="button" data-toggle="modal">{{instance.name}}</a>
                                </td>
                                <!--<td class="rs-table-text">
                                    <div class="rs-progress rs-progress-medium" style="width: 50%;">
                                        <div class="rs-progress-inner">
                                            <div class="rs-segment" style="width: {{vm.job.batch_status==='done' ? 100 : (vm.job.batch_status==='error' ? 0 : ['started', 'in progress', 'paused'].indexOf(vm.job.batch_status)>=0 ? 50 : 0)}}%">
                                                <div class="rs-bar" ng-class="{'rs-status-ok': vm.job.batch_status==='done', 'rs-status-ok rs-bar-striped': ['started', 'in progress'].indexOf(vm.job.batch_status)>=0, 'rs-status-error': vm.job.batch_status==='error', 'rs-status-warning':vm.job.batch_status ==='paused'}"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="rs-progress-label">{{ instance.status === 'done' ? 100 : ['started', 'in progress', 'paused'].indexOf(instance.status)>=0 ? 50 : 0 }}%</span>
                                </td>-->
                                <td class="rs-table-text" style="width: 50%;">
                                    <span class="rs-status-error" ng-show="vm.job.batch_status==='error'">Error</span>
                                    <span class="rs-status-ok" ng-show="vm.job.batch_status==='done'">Completed</span>
                                    <span class="rs-status-ok" ng-show="vm.job.batch_status==='started'">Started</span>
                                    <span class="rs-status-ok" ng-show="vm.job.batch_status==='in progress'">In Progress</span>
                                    <span class="rs-status-disabled" ng-show="vm.job.batch_status==='scheduled'">Scheduled</span>
                                    <span class="rs-status-disabled" ng-show="vm.job.batch_status==='not available'">Not Available</span>
                                    <span class="rs-status-warning" ng-show="vm.job.batch_status==='paused'">Paused</span>
                                </td>
                            </tr>
                        </tbody>
                        <tbody ng-show="vm.loading && !vm.manualRefresh">
                            <tr>
                                <td colspan="2">
                                    <div class="rs-table-overlay rs-table-overlay-loading">
                                        <div class="rs-table-overlay-content">
                                            <div class="rs-table-overlay-message">Loading&hellip;</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody ng-show="!vm.loading && vm.loadError">
                            <tr>
                                <td colspan="2" class="collection-error-msg">Error loading data</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>

                <div class="rs-embedded-list-table-wrapper rs-embedded-medium migration-status-list-container">
                    <table class="rs-list-table rs-embedded-list-table no-truncate-td" style="overflow: hidden">
                        <thead>
                            <th ng-class="{'rs-table-sort-asc': vm.sortBy['network']==='name', 'rs-table-sort-desc': vm.sortBy['network']==='-name'}">
                                <a href="#list-table" class="rs-table-sort rs-table-sort-desc">
                                    <span class="rs-table-sort-text">Network</span>
                                    <span class="rs-table-sort-indicator"></span>
                                </a>
                            </th>
                            <th colspan="2">Status</th>
                        </thead>
                        <tbody ng-show="!vm.loading && !vm.loadError">
                            <tr ng-repeat="(id, network) in vm.job.networks">
                                <td class="rs-table-link" style="width: 50%;">
                                    <a href="#" ng-click="vm.equipmentDetails('network', id)" role="button" data-toggle="modal">{{network.name}}</a>
                                </td>
                                <!--<td class="rs-table-text">
                                    <div class="rs-progress rs-progress-medium" style="width: 50%;">
                                        <div class="rs-progress-inner">
                                            <div class="rs-segment" style="width: {{vm.job.batch_status==='done' ? 100 : (vm.job.batch_status==='error' ? 0 : ['started', 'in progress', 'paused'].indexOf(vm.job.batch_status)>=0 ? 50 : 0)}}%">
                                                <div class="rs-bar" ng-class="{'rs-status-ok rs-bar-striped': ['started', 'in progress'].indexOf(vm.job.batch_status)>=0, 'rs-status-error': vm.job.batch_status==='error', 'rs-status-warning': vm.job.batch_status==='paused'}"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="rs-progress-label">{{ ['started', 'in progress', 'paused'].indexOf(network.status)>=0 ? 50 : 0 }}%</span>
                                </td>-->
                                <td class="rs-table-text" style="width: 50%;">
                                    <span class="rs-status-error" ng-show="vm.job.batch_status==='error'">Error</span>
                                    <span class="rs-status-ok" ng-show="vm.job.batch_status==='done'">Completed</span>
                                    <span class="rs-status-ok" ng-show="vm.job.batch_status==='started'">Started</span>
                                    <span class="rs-status-ok" ng-show="vm.job.batch_status==='in progress'">In Progress</span>
                                    <span class="rs-status-disabled" ng-show="vm.job.batch_status==='scheduled'">Scheduled</span>
                                    <span class="rs-status-disabled" ng-show="vm.job.batch_status==='not available'">Not Available</span>
                                    <span class="rs-status-warning" ng-show="vm.job.batch_status==='paused'">Paused</span>
                                </td>
                            </tr>
                        </tbody>
                        <tbody ng-show="vm.loading && !vm.manualRefresh">
                            <tr>
                                <td colspan="2">
                                    <div class="rs-table-overlay rs-table-overlay-loading">
                                        <div class="rs-table-overlay-content">
                                            <div class="rs-table-overlay-message">Loading&hellip;</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody ng-show="!vm.loading && vm.loadError">
                            <tr>
                                <td colspan="2" class="collection-error-msg">Error loading data</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>

                <div class="rs-facet-section-body">
                    <h3>Alerts <span class="rs-quiet">({{vm.alerts.length}})</span></h3>
                    <div class="rs-embedded-list-table-wrapper rs-embedded-medium migration-status-list-container">
                        <table class=" rs-embedded-list-table">
                            <thead>
                                <tr>
                                    <th class="rs-table-status"></th>
                                    <th>Message</th>
                                </tr>
                            </thead>
                            <tbody ng-show="!vm.loadingAlerts && vm.alerts.length>0">
                                <tr ng-repeat="alert in vm.alerts">
                                    <td><span class="rs-status" ng-class="{'rs-status-warning': alert.type==='warning', 'rs-status-error': alert.type==='error'}">{{alert.type}}</span></td>
                                    <td><a ng-link="['BatchTaskList', {job_id: alert.job_id}]">{{alert.message}}</a></td>
                                </tr>
                            </tbody>
                            <tbody ng-show="!vm.loadingAlerts && vm.alerts.length===0">
                                <tr>
                                    <td colspan="2" class="empty-collection-info">You don't have any alerts</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            
                <br>
            </div>
        </div>
    </div>
</div>

<div ng-include="'/static/angtemplates/migration/equipment-details.html'"></div>