<tr ng-repeat="item in vm.data | filter: vm.filtervalue | limitTo : vm.pageSize : (vm.currentPage-1)*vm.pageSize">
    <td class="rs-table-status"
            ng-class="{'rs-table-status-ok': item.status.toLowerCase()=='active', 'rs-table-status-processing rs-table-status-striped': item.status=='WARNING', 'rs-table-status-error': item.status=='ERROR'}">
    </td>
    <td class="rs-table-link">
        <a href="" role="button" ng-click="vm.equipmentDetails(vm.type, item)" data-toggle="modal" title="{{item.name}}">{{item.name}}</a>
    </td>
    <td class="rs-table-text">{{item.size}}</td>
    <td>
        <span class="rs-status rs-status-ok ng-binding"> {{item.status}} </span>
    </td>
</tr>