<tr ng-repeat="item in vm.data | filter: vm.filtervalue | limitTo : vm.pageSize : (vm.currentPage-1)*vm.pageSize">
    <td class="rs-table-status"
            ng-class="{'rs-table-status-ok': item.status.toLowerCase()=='active', 'rs-table-status-processing rs-table-status-striped': item.status=='WARNING', 'rs-table-status-error': item.status=='ERROR'}">
    </td>
    <td class="rs-table-link" style="width:79.33px;">
        <a href=""  style="width:102px;" role="button" ng-click="vm.equipmentDetails(vm.type, item)" data-toggle="modal" title="{{item.name}}">{{item.name}}</a>
    </td>
    <td class="rs-table-text" style="width:356px;" ng-class="{'column-center': !item.size}">{{item.size || item.size == 0 ? item.size + ' GB' : '---' }}</td>
    <td style="width:150px">
        <span class="rs-status rs-status-ok ng-binding"> {{item.status}} </span>
    </td>
    <td>
        <span ng-show="vm.loadingRegion"><i class="fa fa-refresh fa-spin" style="font-size:16px" aria-hidden="true"></i></span>
        <select ng-show="!vm.loadingRegion" ng-model="item.selectedMapping.region" style="margin-bottom: 2px;" ng-disabled="vm.errorInApi" ng-change="vm.setRegion(item)">
            <option ng-show="vm.errorInApi">Not Available</option>
            <option ng-repeat="region in vm.fileRegions track by $index" value="{{region}}">{{region | convertCase}}</option>
        </select>
    </td>
</tr>
