<div class="plain-panel" ng-style="{'min-height': vm.showrec === 'true' ? '240px' : 'initial','height': vm.showrec === 'true' ? '240px' : 'initial', 'overflow-y': vm.showrec === 'true' ? 'scroll' : 'hidden'}"
    style="overflow: auto; overflow-x: hidden;overflow-y: hidden;">
    <a ng-link="['MigrationResourceList']" ng-show="vm.showrec === 'true'" class="rs-btn-action rs-pull-right"><i class="rs-edit" title="Modify this"></i> </a>
    <h4 ng-show="vm.showrec === 'false'">Items Selected</h4>
    <h3 ng-show="vm.showrec === 'true'">Resources Selected</h3>
    <hr style="margin-bottom: 10px !important;">
    <div class="accordion" id="accordion2">
        <div class="accordion-group" ng-class="{disabled:vm.selectedItems.server.length == 0}" ng-hide="vm.selectedItems.server.length == 0">
            <div class="accordion-heading ">
                <a class="accordion-toggle" data-toggle="collapse" target="_self" href="#server-name">
                    <b class=""> Servers ({{vm.selectedItems.server.length}})</b>
                    <i class='fa fa-chevron-down'></i>
                </a>
            </div>
            <div id="server-name" class="accordion-body collapse " ng-if="vm.selectedItems.server.length > 0">
                <div class="accordion-inner">
                    <div class="selected-Items" ng-repeat="item in vm.selectedItems.server">
                        <div><a href="javascript:void(0)" target="_self" ng-click="vm.removeItem(item,'server')" ng-show="vm.showrec == 'false'"><i class="fa fa-times-circle"></i></a>
                            <b title="({{item.details.networks.length}}) Networks: {{vm.networksToServer(item).toString()}}&#013;({{item.details.cbs_volumes.length}}) CBS: {{vm.cbsToServer(item).toString()}}">
                            {{item.name}} </b>
                            <i class="fa fa-arrow-right fa fw" ng-if="vm.showrec == 'true'"></i><span ng-if="vm.showrec == 'true'"> {{item.selectedMapping.region}} - {{item.selectedMapping.instance_type}} </span></div>
                        <div ng-repeat="network in item.details.networks">
                            <span class="tab">- (Network) {{network.name}}</span>
                        </div>
                        <div ng-repeat="cbs in item.details.cbs_volumes">
                            <span class="tab">- (CBS) {{cbs.display_name}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="vm.selectedItems.server.length == 0 && vm.selectedItems.LoadBalancers.length == 0" style="color:red; text-align: center">No items selected</div>
    <div ng-if="vm.showMessageForSelectedServer" style="line-height:15px; max-width:518px;text-align: justify;"><span style="font-weight: 700;font-size:13px;">Note:</span> Once migration has started, resources will be migrated to
        your destination. You are responsible for any usage costs incurred during the migration process, as well as any resource
        clean up required following your migration.
        <div style=" float: left;  padding-top: 20px;">
            <div class="faws-legal-txt" style="margin-bottom: 1px;">
                <input id="accept_terms" name="accept_terms" type="checkbox" ng-model="vm.acceptLiveMigrations" ng-checked=vm.acceptLiveMigrations
                    required="" class="ng-pristine ng-untouched ng-invalid ng-invalid-required" ng-change="vm.selectLiveMigration()">                <span style="font-weight: 700;font-size:13px;">Live Migration  </span> </div>
            <div class="faws-legal-txt" style="font-size:13px; max-width:518px;text-align: justify;">
                <span class="ng-binding" style="font-size:13px; max-width:518px;">When enabled, the Rackspace Migration Manager will not shut down the instance before migrating the image.  When this option is used, file system integrity on the migrated image cannot be guaranteed.</a></span>
            </div>
        </div>
    </div>
</div>
