<div id="content" class="clearfix center-login-form with-banner">
    <div id="login_wrapper" class="clearfix">
        <div id="rackspace_logo_container"></div>

        <div class="login-block" id="auth_login_block">
            <span class="welcome_message">Welcome to FAWS Migration Portal</span>
            <form name="loginForm" id="loginForm" method="POST" class="rs-form-small" ng-submit="vm.onSubmit()" novalidate>
                <fieldset>

                  <div style="display:inline-block; background-color:#ffgg55; width:150px;">
                    <div class="rs-controls-group">
                      <label>Type</label>
                      <label class="rs-radio rs-pull-left">
                        <input name="user_type" type="radio" ng-model="vm.user_type" value="racker" disabled>Racker
                      </label>
                      <label class="rs-radio rs-pull-right">
                        <input name="user_type" type="radio" ng-model="vm.user_type" value="customer">Customer
                      </label>
                    </div>
                  </div>

                    <div class="rs-control-group" ng-class="{'error': loginForm.username.$invalid && (vm.submitted || loginForm.username.$touched)}">
                        <label for="username">Username</label>
                        <div class="rs-controls">
                            <input autofocus="" class="rs-input-large" id="username" name="username" type="text" value="" ng-model="vm.username" required><br>
                            <span ng-show="loginForm.username.$invalid && (vm.submitted || loginForm.username.$touched)" class="error-text">
                                <i class="rs-validation-indicator"></i> Username is required.
                            </span>
                        </div>
                    </div>

                    <div class="rs-control-group" ng-class="{'error': loginForm.rsa_token.$invalid && (vm.submitted || loginForm.rsa_token.$touched)}">
                        <label for="rsa_token">{{vm.user_type == 'racker' ? 'RSA Token':'Password'}}</label>
                        <div class="rs-controls">
                            <input autocomplete="off" class="rs-input-large" id="rsa_token" name="rsa_token" type="password" value="" ng-model="vm.rsa_token"
                                required><br>
                            <span ng-show="loginForm.rsa_token.$invalid && (vm.submitted || loginForm.rsa_token.$touched)" class="error-text">
                                <i class="rs-validation-indicator"></i> {{vm.user_type == 'racker' ? 'RSA token':'Password'}} is required.
                            </span>
                        </div>
                    </div>

                    <div id="login-status" ng-show="vm.errorMessage">
                        <div class="rs-control-group error">
                            <span class="rs-validation-block">
                                <i class="rs-validation-indicator"></i> {{vm.errorMessage}}
                            </span>
                        </div>
                    </div>
                    <div class="login-action">
                        <button type="submit" class="rs-btn rs-btn-login">Log In</button>
                    </div>
                </fieldset>
            </form>
        </div>

    </div>
</div>
