<div class="rs-embedded-list-table-wrapper rs-embedded-medium" style="max-height:246px; min-height:246px">
    <div ng-show="vm.noData" class="rs-table-overlay">
        <div class="rs-table-overlay-content">
            <div class="rs-table-overlay-title">No {{vm.type}} found.</div>
            <div data-bind="visible: (filterText() !== '')" class="rs-table-overlay-subtitle"></div>
            <div class="rs-table-overlay-message"></div>
        </div>
    </div>
    <table class="rs-list-table rs-embedded-list-table" ng-show="!vm.loading && !vm.loadError && !vm.noData">
        <thead>
            <tr>
                <th class="rs-table-status"></th>
                <th class="rs-table-checkbox">
                    <input type="checkbox" style="font-size: 10px" ng-model="vm.isAllSelected" ng-change="vm.changeItemSelection()" />
                </th>
                <th ng-repeat="label in vm.labels" ng-init="label.reverse = false" ng-click="vm.sort(label.field); label.reverse = !label.reverse">
                    <a href="javascript:void(0)" class="rs-table-sort" ng-class=" {'custom-table-sort-asc current-sort-param': (label.reverse && vm.propertyName == label.field), 'custom-table-sort-desc current-sort-param': (!label.reverse && vm.propertyName == label.field), 'custom-table-sort-desc': vm.propertyName != label.field}">
                        <span class="rs-table-sort-text">{{label.text}}</span>
                        <span class="rs-table-sort-indicator"></span>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody static-include="'/static/angtemplates/migration/'+vm.type+'-data-template.html'"></tbody>
    </table>
    <div ng-show="vm.loading" class="rs-table-overlay rs-table-overlay-loading">
        <div class="rs-table-overlay-content">
            <div class="rs-table-overlay-message">Loading&hellip;</div>
        </div>
    </div>
    <div ng-show="vm.loadError" class="rs-table-overlay rs-table-overlay-error">
        <div class="rs-table-overlay-content">
            <div class="rs-table-overlay-message"><i class="rs-icon-error-indicator"></i>
                Error encountered. Please try again.
            </div>
        </div>
    </div>
</div>
<br>
<div class="pagination pagination-mini span-4" ng-if="vm.totalItems">
    <ul>
        <li ng-class="{disabled: vm.currentPage == 1}" ng-click="vm.currentPage=vm.currentPage-1"><a href="">Prev</a></li>
        <li ng-repeat="n in vm.pageArray" ng-click="vm.currentPage = $index+1" ng-class ="{current: vm.currentPage == $index+1}"><a  ng-class ="{current: vm.currentPage == $index+1}" ng-style="{'background-color': vm.currentPage == $index+1 ? '#D3D3D3' : 'white'}" href="">{{n}}</a></li>
        <li ng-class="{disabled: vm.currentPage == vm.noOfPages}" ng-click="vm.currentPage=vm.currentPage+1"><a href="">Next</a></li>
        <li><span>Showing {{(vm.currentPage == 1 ? vm.currentPage : ((vm.currentPage-1)*5)+1)}}-{{(vm.currentPage == vm.noOfPages ? vm.totalItems : vm.currentPage*5)}} of {{vm.items.length}}</span></li>
    </ul>
</div>
<!--<div static-include="'/static/angtemplates/migration/equipment-details.html'"></div>-->
<script type="text/javascript">
    $(function() {
        $('.keywords').tablesorter();
    });
</script>
