<div class="rs-embedded-list-table-wrapper rs-embedded-medium" style="max-height:246px; min-height:246px">
    <div ng-show="vm.noData" class="rs-table-overlay">
        <div class="rs-table-overlay-content">
            <div class="rs-table-overlay-title">No {{vm.type}}s found.</div>
            <div data-bind="visible: (filterText() !== '')" class="rs-table-overlay-subtitle"></div>
            <div class="rs-table-overlay-message"></div>
        </div>
    </div>
    <table class="rs-list-table rs-embedded-list-table" ng-show="!vm.loading && !vm.loadError && !vm.noData">
        <thead>
            <tr>
                <th class="rs-table-status" style="background-color: white"></th>
                <th class="rs-table-checkbox" style="background-color: white">
                    <input type="checkbox" ng-model="vm.isAllSelected" ng-change="vm.changeItemSelection()" />
                </th>
                <th ng-repeat="label in vm.labels" ng-click="vm.sort(label.field)" style="background-color: white">
                    <a class="rs-table-sort rs-table-sort-desc">
                        <span class="rs-table-sort-text">{{label.text}}</span>
                        <span class="rs-table-sort-indicator"></span>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody static-include="'/static/angtemplates/migration/'+vm.type+'-data-template.html'"></tbody>
    </table>
    <div ng-show="vm.loading" class="rs-table-overlay rs-table-overlay-loading">
        <div class="rs-table-overlay-content">
            <div class="rs-table-overlay-message">Loading&hellip;</div>
        </div>
    </div>
    <div ng-show="vm.loadError" class="rs-table-overlay rs-table-overlay-error">
        <div class="rs-table-overlay-content">
            <div class="rs-table-overlay-message"><i class="rs-icon-error-indicator"></i>
                Error encountered. Please try again.
            </div>
        </div>
    </div>
</div>
<br>
<div class="pagination pagination-mini span-4" ng-if="vm.totalItems && !vm.filtervalue">
    <ul>
        <li ng-class="{disabled: vm.currentPage == 1}" ng-click="vm.currentPage=vm.currentPage-1"><a href="">Prev</a></li>
        <li ng-repeat="n in vm.pageArray" ng-click="vm.currentPage = $index+1"><a href="">{{n}}</a></li>
        <li ng-class="{disabled: vm.currentPage == vm.noOfPages}" ng-click="vm.currentPage=vm.currentPage+1"><a href="">Next</a></li>
        <li><span>Showing {{(vm.currentPage == 1 ? vm.currentPage : ((vm.currentPage-1)*5)+1)}}-{{(vm.currentPage == vm.noOfPages ? vm.items.length : vm.currentPage*5)}} of {{vm.items.length}}</span></li>
    </ul>
</div>
<div id="resource_info" style="width: 750px !important; overflow-y: scroll; top: 4% !important" class="modal hide fade details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="rs-content rs-panel rs-detail-xlarge">
            <div class="rs-detail-header">

                <div class="rs-detail-header-subtitle">Server Name</div>
                <div class="rs-detail-header-title">{{vm.itemDetails.name}}</div>
            </div>
            <div class="rs-detail-section">
                <div class="rs-detail-section-header">
                    <div class="rs-detail-section-title">Server Details</div>
                </div>
                <div class="rs-detail-section-body">
                    <ul class="rs-detail-list">
                        <li class="rs-detail-item">
                            <div class="rs-detail-key">Server Status</div>
                            <div class="rs-detail-value"><span class="rs-status rs-status-ok">{{vm.itemDetails.status}}</span></div>
                        </li>
                        <li class="rs-detail-item">
                            <div class="rs-detail-key">ID</div>
                            <div class="rs-detail-value">{{vm.itemDetails.id}}</div>
                        </li>                        
                        <li class="rs-detail-item">
                            <div class="rs-detail-key" id="size-key">RAM</div>
                            <div class="rs-detail-value">
                                <span class="rs-progress-label">{{vm.itemDetails.ram}} MB</span>
                            </div>
                        </li>
                        <li class="rs-detail-item">
                            <div class="rs-detail-key" id="size-key">Disk</div>
                            <div class="rs-detail-value">{{vm.itemDetails.details.flavor_details.disk}} GB
                                <!--<button class="rs-edit rs-popover-source" data-popover-target="size-key" data-popover="resize-popover" data-popover-position="right" id="detail-example-edit-button"></button>-->
                            </div>
                        </li>        
                        <li class="rs-detail-item">
                            <div class="rs-detail-key">Region</div>
                            <div class="rs-detail-value">{{vm.itemDetails.region}}</div>
                        </li>
                        <li class="rs-detail-item">
                            <div class="rs-detail-key">Server Type</div>
                            <div class="rs-detail-value">{{vm.itemDetails.details.flavor_details.name}}</div>
                        </li>
                        <li class="rs-detail-item">
                            <div class="rs-detail-key">Virtual CPUs</div>
                            <div class="rs-detail-value">{{vm.itemDetails.details.flavor_details.vcpus}}</div>
                        </li>       
                    </ul>
                </div>
            </div>
            <div class="rs-detail-section">
                <div class="rs-detail-section-header">
                    <div class="rs-detail-section-title">Networks</div>
                </div>
                <div class="rs-detail-section-body">
                    <div class="rs-embedded-list-table-wrapper rs-embedded-small">
                        <table class="rs-list-table rs-embedded-list-table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>ID</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="network in vm.itemDetails.details.networks">
                                    <td class="rs-table-text">{{network.name}}</td>
                                    <td class="rs-table-text">{{network.id}}</td>
                                    <td class="rs-table-text"><span class="rs-status rs-status-ok">{{network.status}}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="rs-btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>