<div class="rs-container migration-mgr">
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>Success! &nbsp;&nbsp; {{vm.message}}</h4>
    </div>
    <div class="rs-main ">
        <div class="rs-content rs-panel">
            <div class="rs-inner">
                <div class="pull-right">
                    <button class="rs-btn rs-btn-primary" ng-click="vm.startNewMigration()"><i class="fa fa-plus-square fa-fw"></i> Start New Migration</button>
                </div>
                <h3>Migrations</h3>
                <div class="rs-embedded-list-table-wrapper rs-embedded-medium migration-status-list-container">
                    <table class="rs-list-table rs-embedded-list-table step1-table">
                        <thead>
                            <tr>
                                <th>
                                    <a href="#list-table" class="rs-table-sort rs-table-sort-desc">
                                        <span class="rs-table-sort-text">Batch Queue</span>
                                        <span class="rs-table-sort-indicator"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="#list-table" class="rs-table-sort rs-table-sort-desc">
                                        <span class="rs-table-sort-text">Start Date/Time</span>
                                        <span class="rs-table-sort-indicator"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="#list-table" class="rs-table-sort rs-table-sort-desc">
                                        <span class="rs-table-sort-text">Status</span>
                                        <span class="rs-table-sort-indicator"></span>
                                    </a>
                                </th>
                                <th>
                                    <span class="rs-table-sort-text">Progress</span>
                                </th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="batch in vm.batches | filter : {status: '!'+'completed'} | orderBy: 'queue_name'" class="ng-scope">
                                <td class="rs-table-link"><a ng-link="['CurrentBatchDetails', {batch_id: batch.batch_id}]" class="ng-binding" href="./batch-migration-details">{{batch.queue_name}}</a></td>
                                <td class="rs-table-text ng-binding">{{batch.start_date || "TBD"}}</td>
                                <td class="rs-table-text">
                                    <span class="rs-status" ng-show="batch.status===null">Not Configured</span>
                                    <span class="rs-status" ng-show="batch.status==='scheduled'">Scheduled</span>
                                    <span class="rs-status rs-status-ok" ng-show="batch.status==='inProgress'">Started</span>
                                    <span class="rs-status rs-status-error" ng-show="batch.status==='error'">Stopped</span>
                                    <span class="rs-status rs-status-warning" ng-show="batch.status==='paused'">Paused</span>
                                </td>
                                <td class="rs-table-text">
                                    <div class="rs-progress rs-progress-medium" style="width: 75%;">
                                        <div class="rs-progress-inner">
                                            <div class="rs-segment" style="width: {{batch.progress}}%">
                                                <div class="rs-bar" ng-class="{'rs-status-ok rs-bar-striped': batch.status==='inProgress', 'rs-status-error': batch.status==='error', 'rs-status-warning': batch.status==='paused'}"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="rs-progress-label">{{batch.progress}}%</span>
                                </td>
                                <td class="rs-table-input">
                                    <div class="rs-btn-group">
                                        <div class="rs-dropdown">
                                            <div class="rs-cog rs-dropdown-toggle" ng-click="batch.showSettings = !batch.showSettings"></div>
                                            <ul class="rs-dropdown-menu visible" ng-show="batch.showSettings">
                                                <li><span class="rs-dropdown-category">Manage</span></li>
                                                <li class="disabled"><a href="#">Modify Migration (NA)</a></li>
                                                <li class="disabled"><a href="#">Cancel Migration (NA)</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <div class="rs-embedded-list-table-wrapper rs-embedded-medium migration-status-list-container">
                    <table class="rs-list-table rs-embedded-list-table secondary-table ">
                        <thead>
                            <tr>
                                <th>
                                    <a href="#list-table" class="rs-table-sort rs-table-sort-desc">
                                        <span class="rs-table-sort-text">Completed Batches</span>
                                        <span class="rs-table-sort-indicator"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="#list-table" class="rs-table-sort rs-table-sort-desc">
                                        <span class="rs-table-sort-text">Start Date/Time</span>
                                        <span class="rs-table-sort-indicator"></span>
                                    </a>
                                </th>
                                <th colspan="2">
                                    <a href="#list-table" class="rs-table-sort rs-table-sort-desc">
                                        <span class="rs-table-sort-text">Completed Date/Time</span>
                                        <span class="rs-table-sort-indicator"></span>
                                    </a>
                                </th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="batch in vm.batches | filter : {status: 'completed'} | orderBy: 'queue_name'" class="ng-scope">
                                <td class="rs-table-link"><a ng-link="['CompletedBatchDetails', {batch_id: batch.batch_id}]" class="ng-binding" href="./batch-migration-details">{{batch.queue_name}}</a></td>
                                <td class="rs-table-text ng-binding">{{batch.start_date}}</td>
                                <td class="rs-table-text ng-binding" colspan="2">{{batch.end_date}}</td>
                                <td><a href="" class="trash-button"><i class="fa fa-trash"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <div class="rs-row">
                    <div class="span-6">
                        <div class="rs-facet-section ">
                            <div class="rs-facet-section-body">
                                <h3>Alerts (2)</h3>
                                <div class="rs-embedded-list-table-wrapper rs-embedded-medium migration-status-list-container">
                                    <table class="rs-list-table rs-embedded-list-table">
                                        <thead>
                                            <tr>
                                                <th>Batch Name</th>
                                                <th>Message</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><a href="">Migration-01Feb2017-0456pm</a></td>
                                                <td><a href="">Taking a long time to migrate</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="">Migration-01Feb2017-0456pm</a></td>
                                                <td><a href="">Problem while starting this batch. Will be retried.</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span-6">
                        <div class="rs-facet-section">
                            <div class="rs-facet-section-body">
                                <h3>Tickets (3)</h3>
                                <div class=" ">
                                    <table class="rs-list-table rs-embedded-list-table-wrapper ">
                                        <thead>
                                            <tr>
                                                <th>Batch Name</th>
                                                <th>Message</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><a href="">Migration-01Feb2017-0456pm</a></td>
                                                <td><a href="">Taking a long time to migrate</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="">Migration-01Feb2017-0456pm</a></td>
                                                <td><a href="">Problem while starting this batch. Will be retried.</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="">Migration-01Feb2017-0456pm</a></td>
                                                <td><a href="">Problem while starting this batch. Will be retried.</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <rsinteractivefooter></rsinteractivefooter>
    <!-- Modal -->
    <div class="modal hide fade details" id="myModal">
        <br>

        <div class="modal-body">
            <h3 class="rs-page-title">Welcome to the Rackspace Migration Manager!</h3>
            <p><big>We've created an application to help you easliy migrate to AWS, customize your infrastructure and access Rackspace Fanatical® support.</big>
            <br><br>

            Perl emacs Linus Torvalds concurrently terminal case tera ddos todo script kiddies kilo private mainframe. Buffer long eof hack the mainframe loop overflow ssh stdio.h crack server. Afk nak protocol fail wombat bypass infinite loop tarball double fork boolean client cache memory leak syn eaten by a grue. <br><br>
            It looks like you currently have nothing saved to migrate, click the 'Start a Migration' button below to get started.</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="rs-btn" data-dismiss="modal">Cancel</a>
            <button ng-click="vm.startNewMigration()" class="rs-btn rs-btn-primary">Start a Migration</button>
        </div>
    </div>
    <br>
</div>