<br>
<div class="rs-container migration-mgr">
    <div class="alert alert-success animated fadeIn" ng-show="vm.afterNewMigration">
        <button type="button" class="close" data-dismiss="alert"><i class="fa fa-times"></i></button>
        <h3>Success! Migration for {{vm.resourceCount}} resrouces confirmed at {{vm.schedule.date}} at {{vm.schedule.time}}</h3>
    </div>
    <div class="rs-main rs-panel">
        <div class="rs-content rs-panel">
            <div class="rs-inner">
                <div class="rs-pull-right">
                    <button class="rs-btn rs-btn-primary" ng-click="vm.startNewMigration()"><i class="fa fa-plus-square fa-fw"></i> Start New Migration</button>
                </div>
                <h2>{{vm.currentUser}} ( #{{vm.tenant_id}} )</h2>
                <h3>Migrations ({{vm.currentBatches.items.length + vm.completedBatches.items.length}}) 
                    &nbsp;<i class="refresh-icon fa fa-refresh" title="Refresh Dashboard" ng-click="vm.getBatches(true)" ng-class="{'fa-spin': vm.loading}"></i>
                </h3>
                <div class="rs-embedded-list-table-wrapper rs-embedded-medium migration-status-list-container">
                    <table class="rs-list-table rs-embedded-list-table no-truncate-td">
                        <thead>
                            <tr>
                                <th class="large-col">
                                    <a href="#list-table" class="rs-table-sort rs-table-sort-desc">
                                        <span class="rs-table-sort-text">Batch Queue</span>
                                        <span class="rs-table-sort-indicator"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="#list-table" class="rs-table-sort rs-table-sort-desc">
                                        <span class="rs-table-sort-text">Batch Initiated by</span>
                                        <span class="rs-table-sort-indicator"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="#list-table" class="rs-table-sort rs-table-sort-desc">
                                        <span class="rs-table-sort-text">Start Date/Time</span>
                                        <span class="rs-table-sort-indicator"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="#list-table" class="rs-table-sort rs-table-sort-desc">
                                        <span class="rs-table-sort-text">Status</span>
                                        <span class="rs-table-sort-indicator"></span>
                                    </a>
                                </th>
                                <th>
                                    <span class="rs-table-sort-text">Progress</span>
                                </th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody ng-show="!vm.loading && !vm.currentBatches.loadError && vm.currentBatches.items.length!==0">
                            <tr ng-repeat="batch in vm.currentBatches.items | limitTo : vm.currentBatches.pageSize : (vm.currentBatches.currentPage-1)*vm.currentBatches.pageSize" class="ng-scope">
                                <td class="rs-table-link">
                                    <a ng-show="!batch.timestamp" ng-link="['CurrentBatchDetails', {job_id: batch.job_id}]">{{batch.batch_name}}</a>
                                    <a ng-show="batch.timestamp" href="javascript:void(0)" ng-click="vm.continueScheduling(batch);">{{batch.instance_name}}</a>
                                </td>
                                <td>{{vm.currentUser}}</td>
                                <td class="rs-table-text ng-binding">
                                    <span ng-show="!batch.timestamp">{{(batch.start && batch.start * 1000) | date : 'M/dd/yyyy hh:mm a'}}</span>
                                </td>
                                <td class="rs-table-text">
                                    <span class="rs-status" ng-show="batch.timestamp">Not Scheduled</span>
                                    <span class="rs-status" ng-show="batch.batch_status==='not available'">Not Available</span>
                                    <span class="rs-status" ng-show="batch.batch_status==='scheduled'">Scheduled</span>
                                    <span class="rs-status rs-status-ok" ng-show="batch.batch_status==='in progress'">In Progress</span>
                                    <span class="rs-status rs-status-ok" ng-show="batch.batch_status==='started'">Started</span>
                                    <span class="rs-status rs-status-ok" ng-show="batch.batch_status==='done'">Completed</span>
                                    <span class="rs-status rs-status-error" ng-show="batch.batch_status==='error'">Error</span>
                                    <span class="rs-status rs-status-warning" ng-show="batch.batch_status==='paused'">Paused</span>
                                </td>
                                <td class="rs-table-text">
                                    <div ng-show="!batch.timestamp">
                                        <div class="rs-progress rs-progress-medium" style="width: 70%;">
                                            <div class="rs-progress-inner">
                                                <div class="rs-segment" style="width: {{['started', 'in progress', 'paused'].indexOf(batch.batch_status)>=0 ? 50 : 0}}%">
                                                    <div class="rs-bar" ng-class="{'rs-status-ok rs-bar-striped': ['started', 'in progress'].indexOf(batch.batch_status)>=0, 'rs-status-error': batch.batch_status==='error', 'rs-status-warning': batch.batch_status==='paused'}"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--<span class="rs-progress-label">{{ ['started', 'in progress', 'paused'].indexOf(batch.batch_status)>=0 ? 50 : 0 }}%</span>-->
                                    </div>
                                </td>
                                <td class="rs-table-input">
                                    <div class="rs-btn-group">
                                        <div class="rs-dropdown">
                                            <div class="rs-cog rs-dropdown-toggle" ng-click="batch.showSettings = !batch.showSettings"></div>
                                            <ul class="rs-dropdown-menu visible" ng-show="batch.showSettings">
                                                <li><span class="rs-dropdown-category">Manage</span></li>
                                                <li ng-show="batch.timestamp"><a href="javascript:void(0)" ng-click="vm.continueScheduling(batch)">Continue Scheduling</a></li>
                                                <li ng-show="batch.timestamp && !batch.deleting">
                                                    <a ng-show="!batch.deleting" href="javascript:void(0)" ng-click="vm.deleteSavedSchedule(batch)">Delete</a>
                                                </li>
                                                <li class="disabled" ng-show="batch.deleting"><a href="#">Deleting...</a></li>
                                                <li class="disabled"><a href="#">Modify Migration (NA)</a></li>
                                                <li class="disabled"><a href="#">Cancel Migration (NA)</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody ng-show="vm.loading">
                            <tr>
                                <td colspan="6">
                                    <div class="rs-table-overlay rs-table-overlay-loading">
                                        <div class="rs-table-overlay-content">
                                            <div class="rs-table-overlay-message">Loading&hellip;</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody ng-show="!vm.loading && !vm.currentBatches.loadError && vm.currentBatches.items.length===0">
                            <tr>
                                <td colspan="6" class="empty-collection-info">You don't have any running batches curretly</td>
                            </tr>
                        </tbody>
                        <tbody ng-show="!vm.loading && vm.currentBatches.loadError">
                            <tr>
                                <td colspan="6" class="collection-error-msg">Error loading data</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <div class="pagination pagination-mini" ng-show="!vm.loading && vm.currentBatches.items.length!==0">
                    <ul>
                        <li><span>Showing {{(vm.currentBatches.currentPage == 1 ? vm.currentBatches.currentPage : ((vm.currentBatches.currentPage-1)*5)+1)}}-{{(vm.currentBatches.currentPage == vm.currentBatches.noOfPages ? vm.currentBatches.items.length : vm.currentBatches.currentPage*5)}} of {{vm.currentBatches.items.length}}</span></li>
                        <li ng-class="{disabled: vm.currentBatches.currentPage == 1}" ng-click="vm.currentBatches.currentPage=vm.currentBatches.currentPage-1"><a href="">Prev</a></li>
                        <li ng-repeat="n in vm.currentBatches.pages track by $index" ng-click="vm.currentBatches.currentPage = $index+1"><a href="">{{$index+1}}</a></li>
                        <li ng-class="{disabled: vm.currentBatches.currentPage == vm.currentBatches.noOfPages}" ng-click="vm.currentBatches.currentPage=vm.currentBatches.currentPage+1"><a href="">Next</a></li>
                    </ul>
                </div>  
            
                <div class="rs-embedded-list-table-wrapper rs-embedded-medium migration-status-list-container">
                    <table class="rs-list-table rs-embedded-list-table secondary-table">
                        <thead>
                            <tr>
                                <th>
                                    <a href="#list-table" class="rs-table-sort rs-table-sort-desc">
                                        <span class="rs-table-sort-text">Completed Batches</span>
                                        <span class="rs-table-sort-indicator"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="#list-table" class="rs-table-sort rs-table-sort-desc">
                                        <span class="rs-table-sort-text">Start Date/Time</span>
                                        <span class="rs-table-sort-indicator"></span>
                                    </a>
                                </th>
                                <th colspan="2">
                                    <a href="#list-table" class="rs-table-sort rs-table-sort-desc">
                                        <span class="rs-table-sort-text">Completed Date/Time</span>
                                        <span class="rs-table-sort-indicator"></span>
                                    </a>
                                </th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody ng-show="!vm.loading && !vm.completedBatches.loadError && vm.completedBatches.items.length!==0">
                            <tr ng-repeat="batch in vm.completedBatches.items | limitTo : vm.completedBatches.pageSize : (vm.completedBatches.currentPage-1)*vm.completedBatches.pageSize" class="ng-scope">
                                <td class="rs-table-link large-col"><a ng-link="['CompletedBatchDetails', {job_id: batch.job_id}]" class="ng-binding">{{batch.batch_name}}</a></td>
                                <td class="rs-table-text ng-binding">{{(batch.start && batch.start * 1000) | date : 'M/dd/yyyy hh:mm a'}}</td>
                                <td class="rs-table-text ng-binding" colspan="2">{{batch.end}}</td>
                                <td><a href="" >Archive</a></td>
                            </tr>
                        </tbody>
                        <tbody ng-show="vm.loading">
                            <tr>
                                <td colspan="6">
                                    <div class="rs-table-overlay rs-table-overlay-loading">
                                        <div class="rs-table-overlay-content">
                                            <div class="rs-table-overlay-message">Loading&hellip;</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody ng-show="!vm.loading && !vm.completedBatches.loadError && vm.completedBatches.items.length===0">
                            <tr>
                                <td colspan="5" class="empty-collection-info">You don't have any completed batches</td>
                            </tr>
                        </tbody>
                        <tbody ng-show="!vm.loading && vm.completedBatches.loadError">
                            <tr>
                                <td colspan="5" class="collection-error-msg">Error loading data</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <div class="pagination pagination-mini" ng-show="!vm.loading && vm.completedBatches.items.length!==0">
                    <ul>
                        <li><span>Showing {{(vm.completedBatches.currentPage == 1 ? vm.completedBatches.currentPage : ((vm.completedBatches.currentPage-1)*5)+1)}}-{{(vm.completedBatches.currentPage == vm.completedBatches.noOfPages ? vm.completedBatches.items.length : vm.completedBatches.currentPage*5)}} of {{vm.completedBatches.items.length}}</span></li>
                        <li ng-class="{disabled: vm.completedBatches.currentPage == 1}" ng-click="vm.completedBatches.currentPage=vm.completedBatches.currentPage-1"><a href="">Prev</a></li>
                        <li ng-repeat="n in vm.completedBatches.pages track by $index" ng-click="vm.completedBatches.currentPage = $index+1"><a href="">{{$index+1}}</a></li>
                        <li ng-class="{disabled: vm.completedBatches.currentPage == vm.completedBatches.noOfPages}" ng-click="vm.completedBatches.currentPage=vm.completedBatches.currentPage+1"><a href="">Next</a></li>
                    </ul>
                </div>  
                <div class="rs-row">
                    <div class="span-6">
                        <div class="rs-facet-section">
                            <div class="rs-facet-section-body">
                                <h3>Alerts (2)</h3>
                                <div class="rs-embedded-list-table-wrapper rs-embedded-medium migration-status-list-container">
                                    <table class="rs-list-table rs-embedded-list-table">
                                        <thead>
                                            <tr>
                                                <th>Alert Type</th>
                                                <th>Message</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><span class="rs-status rs-status-warning">Warning</span></td>
                                                <td><a href="">I am a warning</a></td>
                                            </tr>
                                            <tr>
                                                <td><span class="rs-status rs-status-error">Error</span></td>
                                                <td><a href="">I am an Error</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span-6">
                        <div class="rs-facet-section">
                            <div class="rs-facet-section-body">
                                <h3>Tickets (2)</h3>
                                <div class="rs-embedded-list-table-wrapper rs-embedded-medium migration-status-list-container">
                                    <table class="rs-list-table rs-embedded-list-table">
                                        <thead>
                                            <tr>
                                                <th>Ticket Number</th>
                                                <th>Message</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><a href="">160830-10128</a></td>
                                                <td>Taking a long time to migrate</td>
                                            </tr>
                                            <tr>
                                                <td><a href="">160830-10129</a></td>
                                                <td>Problem while starting this batch. Will be retried.</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <rsinteractivefooter></rsinteractivefooter>
</div>

<div id="abort_continue" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="ModalForNoSelect" aria-hidden="true">
    <div class="modal-body" style="height: 150px">
        <h3 style="margin-top: 40px; text-align: center">Migration for one or more resources in this batch has already been scheduled in another batch. Cannot continue.</h3>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</div>
