<script>
    $(document).ready(function() {
        $('[data-toggle="popover"]').popover({
            html: true
        });
    });
</script>
<div ng-show="vm.loading" class="rs-table-overlay rs-table-overlay-loading">
    <div class="rs-table-overlay-content">
        <div class="rs-table-overlay-message">Loading&hellip;</div>
    </div>
</div>
<div ng-show="vm.loadError" class="rs-table-overlay rs-table-overlay-error">
    <div class="rs-table-overlay-content">
        <div class="rs-table-overlay-message"><i class="rs-icon-error-indicator"></i> Error encountered. Please try again.
        </div>
    </div>
</div>
<div class="rs-inner" ng-show="!vm.loading && !vm.loadError">
    <div class="info-panel">
        <h3 id="basePrice">Current Cost</h3>
        <p>
            <big><b>${{vm.invoiceTotal}}</b>/month</big>
            <br>
            <small>* For selected resources from <b>step 1</b></small>
        </p>
        <!--<p>
            Billing Period:
            <br>
            <em>{{vm.invoiceCoverageStartDate}} to {{vm.invoiceCoverageEndDate}}</em>
            <br>
            <big><b>${{vm.invoiceTotal}}</b>/month</big>
            <br>
            <a href=""><small>(See Details)</small></a>
        </p>-->
    </div>
    <div class="white-panel">
        <h3>Projected Cost<a href="#" role="button" data-trigger="hover" data-placement="top" data-toggle="popover" data-content="The projected pricing consist of infrastructure costs only, and support costs are not included in the provided price."><i class="fa fa-info-circle rs-quiet"></i></a></h3>
        <p>
            <big><b>${{vm.totalProjectedPricingSum}}</b>/month</big><br>
            <a href="#calculator_modal" role="button" data-toggle="modal"><i class="fa fa-calculator fa-fw" role="button" data-trigger="hover" data-placement="top" data-toggle="popover" data-content="Click here to estimate the cost of your predicted usage."></i></a> <small>Calculate Usage Costs</small>
        </p>
        <hr class="dash">
        <big><b>Support Level</b> </big>
        <p>
            <big>Navigator <a href="#" role="button" data-trigger="hover" data-placement="top" data-toggle="popover" data-content="<b>Navigator Monthly Service Fee starts at $400</b>. We can act as a business associate to support customers with HIPAA workloads on AWS. Personal contact to assist with onboarding. A combined set of AWS and Rackspace recommendations from certified AWS architects"><i class="fa fa-info-circle rs-quiet"></i></a></big>
            <br>
            <small>* Navigator cost not reflected here.</small>
        </p> 
    </div>
    <br>

    <div class="rs-row pricing-buttons">
        <!--<a class="rs-btn span-12" ng-click="vm.saveItems(vm.saveLaterObj)" ng-hide="vm.saveLaterObj.saveInProgress">Save For Later</a>
            <a class="rs-btn span-10 disabled" disabled="disabled" ng-show="vm.saveLaterObj.saveInProgress">Saving...</a>
            <i class="rs-processing-indicator" ng-show="vm.saveLaterObj.saveInProgress"></i>-->
        <a class="rs-btn span-12" role="button" ng-click="vm.showCancelDialog()">Cancel Migration</a>
        <!--<a class="rs-btn span-12" href="#cancel_modal" role="button" data-toggle="modal">Cancel Migration</a>-->
    </div>
    <div class="rs-row">
        <a class="rs-btn span-6" ng-click="vm.back()">Back</a>
        <a class="rs-btn rs-btn-primary span-6" ng-click="vm.continue()">Continue</a>
    </div>
    <br>
</div>
<div id="cancel_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="ModalForCancel" aria-hidden="true">
    <div class="modal-body">
        <h3>Would you like to save the selections you've made so far for another time?</h3>
        <form class=" ">
            <div class="rs-control-group">

                <div class="rs-controls">
                    <label class="rs-radio">
                        <input type="radio" ng-model="vm.saveProgress" value="yes">
                        <strong>Yes</strong><br>
                        <span class="rs-help-block">Save progress for later</span>
                      </label>
                    <label class="rs-radio">
                        <input type="radio" ng-model="vm.saveProgress" value="no">
                        <strong>No</strong>
                        <span class="rs-help-block">Cancel and move on</span>
                      </label>
                </div>
            </div>
            <button class="rs-btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="rs-btn rs-btn-primary " ng-class="{disabled:vm.saveProgress == ''}" ng-click="vm.submitCancel()" ng-hide="vm.cancelnSaveObj.saveInProgress">Submit</button>
            <a class="rs-btn disabled" disabled="disabled" ng-show="vm.cancelnSaveObj.saveInProgress">Submitting...</a>
            <i class="rs-processing-indicator" ng-show="vm.cancelnSaveObj.saveInProgress"></i>
            <br>
            <div ng-show="vm.cancelnSaveObj.resultMsg" ng-style="vm.cancelnSaveObj.saveSuccess == true ? {color:'green'} : {color:'red'}">{{vm.cancelnSaveObj.resultMsg}}</div>
        </form>
    </div>
</div>
<!--</div>  -->
<!-- PRECHECK MODAL -->
<div id="precheck_modal" class="modal hide animated fadeIn details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header" ng-show="vm.precheck">
        <br>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
        <h3 class="rs-page-title">Precheck Results</h3>
    </div>
    <div class="modal-header" ng-show="!vm.precheck">
        <p><strong>Please wait while we run some pre-checks to see whether these resources can be migrated or not...</strong></p>        
        <div class="rs-table-overlay rs-table-overlay-loading">
            <div class="rs-table-overlay-content">
                <div class="rs-table-overlay-message">Loading&hellip;</div>
            </div>
        </div>
    </div>
    <div class="modal-body" ng-show="vm.precheck">
        <table class="rs-list-table">
            <thead>
                <tr>
                    <th style="width:136px">Resource</th>
                    <th>Precheck - Concern</th>
                    <th>Summary</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat = "error in vm.errors" class="">
                    <td style="width:136px">{{error.name}}</td>
                    <td class="rs-status-error">Error</td>
                    <td>{{error.description}}</td>
                </tr>
                <tr ng-repeat = "warning in vm.warnings" class="">
                    <td style="width:136px">{{warning.name}}</td>
                    <td class="rs-status-warning">Warning</td>
                    <td>{{warning.description}}</td>
                </tr>
            </tbody>
        </table>
        <br>
        <br>
        <p><strong><span class="rs-status-warning">Warning</span> - Resources with warnings can still br migrated, Click continue if you would like to do so. <br>
        <span class="rs-status-error">Errors</span> - Resources with errors cannot be migrated at this time.
        </strong></p>        
    </div>
    <div class="modal-footer">
        <button class="rs-btn" data-dismiss="modal" aria-hidden="true" ng-show="vm.precheck">Go Back</button>
        <a ng-show="vm.errors.length === 0 && vm.precheck" class="rs-btn rs-btn-primary" ng-click="vm.continueToSchedule()" >Continue</a>
    </div>
</div>
<!--modals End -->
