<div ng-show="vm.loading" class="rs-table-overlay rs-table-overlay-loading">
    <div class="rs-table-overlay-content">
        <div class="rs-table-overlay-message">Loading&hellip;</div>
    </div>
</div>
<div ng-show="vm.loadError" class="rs-table-overlay rs-table-overlay-error">
    <div class="rs-table-overlay-content">
        <div class="rs-table-overlay-message"><i class="rs-icon-error-indicator"></i>
            Error encountered while fetching tenant data. Please try again after sometime.
        </div>
    </div>
</div>

<div class="rs-container migration-mgr" ng-show="!vm.loading && !vm.loadError">
    <div class="rs-main ">
        <div class="rs-content rs-panel">
            <div class="rs-inner">
                <div class="pull-right">
                    <div class="rs-control-group">
                        <div class="rs-controls">
                            <div class="search rs-pull-left">
                                <span class="fa fa-search"></span>
                                <input class="rs-input-large" placeholder="Filter accounts">
                            </div>
                            &nbsp;
                            <a class="rs-btn rs-btn-primary" href="" ng-click="vm.openAddAccountModalDialog()"><i class="fa fa-plus-square fa-fw"></i> Add Accounts</a>
                            
                        </div>
                    </div>
                </div>
                <h3>Accounts <span class="rs-quiet">({{vm.items.length}})</span></h3>
                <div class="migration-status-list-container">
                    <table class="rs-list-table no-truncate-td">
                        <thead>
                            <tr>
                                <th>
                                    <a href="#list-table" class="rs-table-sort rs-table-sort-desc">
                                        <span class="rs-table-sort-text">Account Name</span>
                                        <span class="rs-table-sort-indicator"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="#list-table" class="rs-table-sort rs-table-sort-desc">
                                        <span class="rs-table-sort-text">Service Level</span>
                                        
                                    </a>
                                </th>
                                <th>
                                    <a href="#list-table" class="rs-table-sort rs-table-sort-desc">
                                        <span class="rs-table-sort-text">FAWS Acct. Level</span>
                                        
                                    </a>
                                </th>
                                <th>
                                    <a href="#list-table" class="rs-table-sort rs-table-sort-desc">
                                        <span class="rs-table-sort-text">Batches in Progress</span>
                                    </a>
                                </th>
                                <th>
                                    <a href="#list-table" class="rs-table-sort rs-table-sort-desc">
                                        <span class="rs-table-sort-text">Completed</span>
                                    </a>
                                </th>
                        
                                <th style="width:123px;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in vm.items | limitTo : vm.pageSize : (vm.currentPage-1)*vm.pageSize">
                                <td class="rs-table-link"><a class="ng-binding" href="" ng-click="vm.setTenantId(item)">{{item.accountName}}</a></td>
                                <td class="rs-table-text">{{item.serviceLevel}}</td>
                                <td class="rs-table-text">{{item.accountLevel}}</td>
                                <td class="rs-table-text">{{item.inProgressBatches}}</td>
                                <td class="rs-table-text">{{item.completedBatches}}</td>
                                <td class="rs-table-input">
                                    <div class="rs-btn-group">
                                        <div class="rs-dropdown">
                                            <div class="rs-cog rs-dropdown-toggle" ng-click="vm.showActionList(item)"></div>
                                            <ul class="rs-dropdown-menu visible" ng-show="item.showSettings" style="right: 0 !important">
                                                <li><span class="rs-dropdown-category">Manage</span></li>
                                                <li class=""><a href="" ng-click="vm.removeTenantAccount(item)">Remove from Panel</a></li>
                                                <li class=""><a href="" ng-click="vm.setEncoreLink(item)">View in Encore</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <div class="alert alert-info fade in" ng-show="vm.noData" style="text-align: center;">
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    <strong>No tenant data found. Please add a tenant to continue. </strong>
                </div>
                <div class="alert alert-success fade in" ng-show="vm.showFetch">
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    <strong>Success! </strong> <span>{{vm.fetchResponse}}<span>
                </div>
                <br>
                <!-- ********** PAGINATION GOES HERE... ************* -->
                <div class="pagination pagination-mini" ng-if="vm.totalItems">
                    <ul>
                        <li><span>Showing {{(vm.currentPage == 1 ? vm.currentPage : ((vm.currentPage-1)*vm.pageSize)+1)}}-{{(vm.currentPage == vm.noOfPages ? vm.items.length : vm.currentPage*vm.pageSize)}} of {{vm.items.length}}</span></li>
                        <li ng-class="{disabled: vm.currentPage == 1}" ng-click="vm.currentPage=vm.currentPage-1"><a href="">Prev</a></li>
                        <li ng-repeat="n in vm.pageArray" ng-click="vm.currentPage = $index+1"><a href="">{{n}}</a></li>
                        <li ng-class="{disabled: vm.currentPage == vm.noOfPages}" ng-click="vm.currentPage=vm.currentPage+1"><a href="">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="add_account_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="ModalForAddAccount" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
        <h3>Add accounts</h3>
    </div>
    <div class="modal-body">
        <div class="rs-control-group">
            <div class="rs-controls">              
                <div class="rs-controls" style="display: inline">
                    <input type="text" class="rs-input-large" placeholder="Search for an account" ng-model="vm.addedAccount">
                </div>
                <span class="rs-controls" ng-show="vm.loadTenantError" style="display: block;color:red;">* Tenant not found. Please try after sometime.</span>
            </div>
        </div>
    </div>
    <div class="modal-footer"> 
        <a class="rs-btn" data-dismiss="modal" aria-hidden="true">Cancel </a>
        <a class="rs-btn rs-btn-primary " ng-click="vm.submitAddAccount(vm.addedAccount)" aria-hidden="true" ng-disabled="!vm.addedAccount.length" target="_blank" ng-hide="vm.saveInProgress">Continue</a>  
        <a class="rs-btn disabled" disabled="disabled" ng-show="vm.saveInProgress">Submitting...</a>
        <i class="rs-processing-indicator" ng-show="vm.saveInProgress"></i>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        var index,elements = $('li[class*=" racker-nav-item active"]');
        if(elements.length != 0){
            for(index =0;index<elements.length;index++){
                var id = elements[index].id;
                document.getElementById(id).className -= " racker-nav-item active";
            }
        }
        document.getElementById("racker-migration-mgr").style.visibility = "hidden";
        document.getElementById("racker-account-dashboard").className += " racker-nav-item active";
    });
</script>
