  <script>
    $(document).ready(function() {
        $('[data-toggle="popover"]').popover({
            html: true
        });
    });
</script>
  <div class="rs-tab-content">
      <div class="rs-tab-pane active" id="Servers">
          <div ng-show="vm.noData" class="rs-table-overlay">
              <div class="rs-table-overlay-content">
                  <div class="rs-table-overlay-title">No {{vm.type}}s found.</div>
                  <div data-bind="visible: (filterText() !== '')" class="rs-table-overlay-subtitle"></div>
                  <div class="rs-table-overlay-message"></div>
              </div>
          </div>
          <table class="rs-list-table keywords" ng-show="!vm.noData" ng-class="{'recommendServer':  vm.type=='server'}">
              <thead>
                  <tr>
                      <th class="rs-table-status"></th>
                      <th ng-repeat="item in vm.labels">
                          <span class="rs-table-sort-text" ng-click="vm.sortBy(item.field)">{{item.text}}</span>
                      </th>
                      <th ng-show="vm.type === 'server'"></th>
                  </tr>
              </thead>
              <tbody static-include="'/static/angtemplates/migration/'+vm.type+'-recommendation-template.html'"></tbody>
          </table>
      </div>
  </div>
  <br>
  <!-- ********** PAGINATION GOES HERE... ************* -->
    <div class="pagination pagination-mini" ng-if="vm.totalItems">
        <ul>
            <li ng-class="{disabled: vm.currentPage == 1}" ng-click="vm.currentPage=vm.currentPage-1"><a href="">Prev</a></li>
            <li ng-repeat="n in vm.pageArray" ng-click="vm.currentPage = $index+1"><a href="">{{n}}</a></li>
            <li ng-class="{disabled: vm.currentPage == vm.noOfPages}" ng-click="vm.currentPage=vm.currentPage+1"><a href="">Next</a></li>
        <li><span>Showing {{(vm.currentPage == 1 ? vm.currentPage : ((vm.currentPage-1)*5)+1)}}-{{(vm.currentPage == vm.noOfPages ? vm.data.length : vm.currentPage*5)}} of {{vm.data.length}}</span></li>
        </ul>
    </div>
    <br>
    
    <!-- ********** MODAL CODE GOES HERE... ************* -->
    <div ng-repeat="item in vm.data" id="{{'modify_modal'+item.id}}" class="modal modal-warning hide animated fadeIn details" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                <i class="fa fa-times"></i>
            </button>
            <h3>Modify Configurations </h3>
        </div>
        <div class="modal-body">
            <big><b>What you have currently</b> <a href="" role="button" data-trigger="hover" data-placement="right" data-toggle="popover" title="This is the current set up you have within Rackspace Cloud Server." data-content="This is the current set up you have within Rackspace Cloud Server. "><i class="fa fa-info-circle rs-quiet"></i></a></big>
            <br>
            <br>
            <table class="rs-list-table">
                <thead>
                    <tr>
                        <th class="rs-table-checkbox"></th>
                        <th>Instance Type</th>
                        <th>VCPU</th>
                        <th>Memory</th>
                        <th>Storage</th>
                        <th>Cost</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td class="rs-table-checkbox"><img src="/static/img/rackspace-logo.svg" alt=""></td>
                        <td class="rs-table-text">{{item.details.flavor_details.name}} (Current)</td>
                        <td class="rs-table-text">{{item.details.flavor_details.vcpus}}</td>
                        <td class="rs-table-text">{{item.details.flavor_details.ram +' MB'}}</td>
                        <td class="rs-table-text">{{item.details.flavor_details.disk+" GB"}}</td>
                        <td class="rs-table-text">{{item.details.rax_price | currency}}</td>
                    </tr>
                </tbody>
            </table>
             <br>
            <big><b>Choose a new configuration</b> <a href="" role="button" data-trigger="hover" data-placement="top" data-toggle="popover" title="" data-content="Please feel free to choose a different option that will fit your specifications. The pre-selected option is the optimal configuration we recommend based on your current setup. "><i class="fa fa-info-circle rs-quiet"></i></a></big>
            <br>
            <br>
            <form class="rs-form-horizontal rs-form-medium">
                <div class="rs-row">
                    <div class="span-4">
                        <div class="rs-detail-item">
                          <div class="rs-detail-key"><b>AWS Region</b></div>
                          <div class="rs-detail-value">
                            <select ng-model="vm.awsRegion" ng-change="vm.getZones(item)">
                                <option ng-repeat="region in vm.regions track by $index" value="{{region}}">{{region | convertCase}}</option>
                            </select>
                            </div>
                        </div>
                    </div>
                    <div class="span-4">
                        <div class="rs-detail-item">
                            <div class="rs-detail-key"><b>AWS Zone</b></div>
                            <div class="rs-detail-value">
                                <select ng-model="vm.awsZone">
                                    <option ng-repeat="zone in vm.zones track by $index" value="{{zone}}">{{zone | convertCase}}</option>
                                </select>
                            </div>
                        </div> 
                    </div>
                </div>      
            </form>  
            <div>
                <table class="rs-list-table rs-select-table">
                    <thead>
                        <tr>
                            <th class="rs-table-checkbox"></th>
                            <th>Instance Type</th>
                            <th>VCPU</th>
                            <th>Memory</th>
                            <th>Storage</th>
                            <th>Cost/month</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="server in item.pricingOptions track by $index" class="">
                            <td class="rs-table-checkbox">    
                                <input type="radio" name="{{'selection'+item.name }}" ng-model="vm.selectedConfiguration" ng-value="$index" ng-click="vm.disableConfirm()"/>
                            </td>
                            <td class="rs-table-text">{{server.instance_type}}</td>
                            <td class="rs-table-text">{{server.vcpu || 2}}</td>
                            <td class="rs-table-text">{{server.memory || '2 GB'}}</td>
                            <td class="rs-table-text">{{server.storage || 'EBS-Only'}}</td>
                            <td class="rs-table-text">{{server.cost * (server.details.rax_uptime || 720) + (server.cost * (server.details.rax_bandwidth || 0)) | currency}}</td>
                            <!--<td class="rs-table-text" ng-if="item.details.rax_uptime !== undefined">{{server.selectedMapping.cost*(item.details.rax_uptime) + item.details.aws_bandwidth_cost|| '$0.00' | currency}}</td>
                            <td class="rs-table-text" ng-if="item.details.rax_uptime === undefined">{{server.selectedMapping.cost*(720) + item.details.aws_bandwidth_cost|| '$0.00' | currency}}</td>-->

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button class="rs-btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="rs-btn rs-btn-primary" ng-click="vm.saveUpdatedObject(item.id)" ng-disabled="vm.disable">Save Changes</button>
        </div>
    </div>

    <div id="error-in-api" class="modal modal-warning hide animated fadeIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-header">
            <h3>Cannot continue with this migration!</h3>
        </div>
        <div class="modal-body">
            <p>Currently we are facing some issues to show you other configurations for this equipment
               <br> but still you can migrate with current configuration. 
            </p>
        </div>
        <div class="modal-footer">
            <a class="rs-btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
        </div>
    </div>
    