  <script>
    $(document).ready(function() {
        $('[data-toggle="popover"]').popover({
            html: true
        });
    });
</script>
  <div class="rs-tab-content">
      <div class="rs-tab-pane active" id="Servers">
          <div ng-show="vm.noData" class="rs-table-overlay">
              <div class="rs-table-overlay-content">
                  <div class="rs-table-overlay-title">No {{vm.type}}s found.</div>
                  <div data-bind="visible: (filterText() !== '')" class="rs-table-overlay-subtitle"></div>
                  <div class="rs-table-overlay-message"></div>
              </div>
          </div>
          <table class="rs-list-table keywords" ng-show="!vm.noData" ng-class="{'recommendServer':  vm.type=='server'}">
              <thead>
                  <tr>
                      <th class="rs-table-status"></th>
                      <th ng-repeat="label in vm.labels" ng-init="label.reverse = false" ng-click="vm.sortBy(label.field); label.reverse = !label.reverse">
                        <a href="javascript:void(0)" class="rs-table-sort" ng-class=" {'custom-table-sort-asc current-sort-param': (label.reverse && vm.propertyName == label.field), 'custom-table-sort-desc current-sort-param': (!label.reverse && vm.propertyName == label.field), 'custom-table-sort-desc': vm.propertyName != label.field}">
                            <span>{{label.text}}</span>
                            <span ng-show="label.field != 'action'" class="rs-table-sort-indicator"></span>
                        </a>
                      </th>
                      <th ng-show="vm.type === 'server'"></th>
                  </tr>
              </thead>
              <tbody static-include="'/static/angtemplates/migration/'+vm.type+'-recommendation-template.html'"></tbody>
          </table>
      </div>
  </div>
  <br>
  <!-- ********** PAGINATION GOES HERE... ************* -->
    <div class="pagination pagination-mini" ng-if="vm.totalItems">
        <ul>
            <li ng-class="{disabled: vm.currentPage == 1}" ng-click="vm.currentPage=vm.currentPage-1"><a href="">Prev</a></li>
            <li ng-repeat="n in vm.pageArray" ng-click="vm.currentPage = $index+1" ng-class ="{current: vm.currentPage == $index+1}"><a   ng-class ="{current: vm.currentPage == $index+1}" ng-style="{'background-color': vm.currentPage == $index+1 ? '#D3D3D3' : 'white'}"href="">{{n}}</a></li>
            <li ng-class="{disabled: vm.currentPage == vm.noOfPages}" ng-click="vm.currentPage=vm.currentPage+1"><a href="">Next</a></li>
        <li><span>Showing {{(vm.currentPage == 1 ? vm.currentPage : ((vm.currentPage-1)*5)+1)}}-{{(vm.currentPage == vm.noOfPages ? vm.totalItems : vm.currentPage*5)}} of {{vm.data.length}}</span></li>
        </ul>
    </div>
    <br>
    
    <!-- ********** MODAL CODE GOES HERE... ************* -->
    <div ng-repeat="item in vm.data" id="{{'modify_modal'+item.id}}" class="modal modal-warning hide animated fadeIn details" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                <i class="fa fa-times"></i>
            </button>
            <h3>Modify Configurations </h3>
        </div>
        <div class="modal-body">
            <big><b>What you have currently</b> <a href="" role="button" data-trigger="hover" data-placement="right" data-toggle="popover" title="This is the current set up you have within Rackspace Cloud Server." data-content="current set up."><sup><i class="fa fa-info-circle rs-quiet"></i></sup></a></big>
            <br>
            <br>
            <table class="rs-list-table">
                <thead>
                    <tr>
                        <th class="rs-table-checkbox"></th>
                        <th>Instance Type</th>
                        <th>VCPU</th>
                        <th>Memory</th>
                        <th>Storage</th>
                        <th>Cost</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td class="rs-table-checkbox"><img src="/static/img/rackspace-logo.svg" alt=""></td>
                        <td class="rs-table-text">{{item.details.flavor_details.name}}</td>
                        <td class="rs-table-text">{{item.details.flavor_details.vcpus}}</td>
                         <td class="rs-table-text">{{item.details.flavor_details.ram +' MB'}}</td>
                         <td class="rs-table-text">{{item.details.flavor_details.disk+" GB"}}</td>
                        <td class="rs-table-text">{{item.details.rax_price | currency}}</td>
                    </tr>
                </tbody>
            </table>
             <br>
            <big><b>Choose a new configuration</b> <a href="" role="button" data-trigger="hover" data-placement="top" data-toggle="popover" title="Please feel free to choose a different option that will fit your specifications. The pre-selected option is the optimal configuration we recommend based on your current setup." data-content="configuration setup."><sup><i class="fa fa-info-circle rs-quiet"></i></sup></a></big>
            <br>
            <br>
            <form class="rs-form-horizontal rs-form-medium">
                <div class="rs-row">
                    <div class="span-4">
                        <div class="rs-detail-item">
                          <div class="rs-detail-key"><b>AWS Region</b></div>
                          <div class="rs-detail-value">
                            <select ng-model="vm.awsRegion" ng-change="vm.getZones(item)">
                                <option ng-repeat="region in vm.regions track by $index" value="{{region}}">{{region | convertCase}}</option>
                            </select>
                            </div>
                        </div>
                    </div>
                    <div class="span-4">
                        <div class="rs-detail-item">
                            <div class="rs-detail-key"><b>AWS Zone</b></div>
                            <div class="rs-detail-value">
                                <select ng-model="vm.awsZone" ng-change="vm.disable = false">
                                    <option ng-repeat="zone in vm.zones track by $index" value="{{zone}}">{{zone | convertCase}}</option>
                                </select>
                            </div>
                        </div> 
                    </div>
                </div>      
            </form>  
            <div>
                <table class="rs-list-table rs-select-table">
                    <thead>
                        <tr>
                            <th class="rs-table-checkbox"></th>
                            <th>Instance Type</th>
                            <th>VCPU</th>
                            <th>Memory</th>
                            <th>Storage</th>
                            <th>Cost/month</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-show="vm.loadingPrice || vm.loadingZone">
                            <td colspan="6">
                                <div class="rs-table-overlay rs-table-overlay-loading" style="height:100px !important; margin-bottom:-20px">
                                    <div class="rs-table-overlay-content">
                                        <div class="rs-table-overlay-message">Loading&hellip;</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6" ng-show="!item.pricingOptions.length && !vm.loadingPrice && !vm.loadingZone" class="collection-error-msg">No instance types found.</td>
                        </tr>
                        <tr ng-show="!vm.loadingPrice && !vm.loadingZone" ng-repeat="server in item.pricingOptions track by $index" class="">
                            <td class="rs-table-checkbox">    
                                <input type="radio" name="{{'selection'+item.name }}" ng-model="vm.selectedConfigurationType" ng-value="server.instance_type" ng-click="vm.disableConfirm($index)"/>
                            </td>
                            <td class="rs-table-text">{{server.instance_type}}</td>
                            <td class="rs-table-text">{{server.vcpu || 2}}</td>
                            <td class="rs-table-text">{{server.memory || '2 GB'}}</td>
                              <td class="rs-table-text">{{server.storage || 'EBS-Only'}}</td>
                            <td class="rs-table-text">{{vm.getTotalInstanceCost(server,item) | currency}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button class="rs-btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="rs-btn rs-btn-primary" ng-click="vm.saveUpdatedObject(item.id)" ng-class="{disabled:!vm.awsRegion || !vm.awsZone || !vm.selectedConfigurationType || vm.disable || vm.loadingPrice || vm.loadingZone}">Save Changes</button>
        </div>
    </div>

    <div id="error-in-api" class="modal modal-warning hide animated fadeIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-header">
            <h3>Oops! something went wrong..</h3>
        </div>
        <div class="modal-body">
            <p>Other options are not available at this time.Please try later.
               <br>But hey! you may still continue with your migration with recommended configuration.
            </p>
        </div>
        <div class="modal-footer">
            <a class="rs-btn" data-dismiss="modal" aria-hidden="true">Okay</a>
        </div>
    </div>
    
