<div class="rs-main rs-panel">
    <div class="rs-sidebar rs-pull-right">
        <rspricingpanel page ="recommendation"></rspricingpanel>
    </div>
    <div class="rs-content rs-panel">
        <!-- Start Stepper -->
        <rsinteractiveheader pagenum="1"></rsinteractiveheader>
        <!-- End Stepper -->
        <hr>
        <div class="rs-inner">
            <h2>User Namegoeshere ( #1024814 )</h2>
            <h3>{{vm.migrationName}} <a href="#name_modal2" role="button" data-toggle="modal" class="rs-edit" title="click to edit migration name"></a></h3>
            <input type="text" class="rs-input-large searchbox" ng-model="vm.filteredValue" placeholder="filter by keyword or tag...">
            <h4>Our recommendation:</h4>
            <rs-tabs alignment="horizontal">
                <rs-tab title="Servers ({{vm.dataServer}})">
                    <rsrecommendationitem type="server" filtervalue="vm.filteredValue"></rsrecommendationitem>
                </rs-tab>
                <rs-tab title="Networks ({{vm.dataNetwork}})">
                    <rsrecommendationitem type="network" filtervalue="vm.filteredValue"></rsrecommendationitem>
                </rs-tab>
            </rs-tabs>
        </div>
    </div>
</div>
<rsinteractivefooter></rsinteractivefooter>
<div id="name_modal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-body">
        <h3>What would you like to name your migration?</h3>
        <form class=" ">
            <div class="rs-control-group">
                <div class="rs-controls">
                    <input type="text" ng-model="vm.changedMigrationName" placeholder="{{vm.migrationName}}">
                </div>
            </div>
            <button class="rs-btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <a class="rs-btn rs-btn-primary " ng-click="vm.changeName()">Save</a>
        </form>
    </div>
</div>