<script>
    $(document).ready(function() {
        $('[data-toggle="popover"]').popover({
            html: true
        });
    });
</script>
<div class="migration-mgr rs-container" ng-style="vm.isRacker == true ? {'margin-top':'30px'} : {'margin-top':'0px'}">
    <rssaveprogress stepname="MigrationRecommendation" type="link"></rssaveprogress>
    <br><br>
    <div class="rs-main rs-panel">
        <div class="rs-sidebar rs-pull-right">
            <rspricingpanel page="recommendation"></rspricingpanel>
        </div>
        <div class="rs-content rs-panel">
            <rsnavigationpanel pagenum="1"></rsnavigationpanel>
            <hr>
            <div class="rs-inner recommend">
                <rstenantfawsdetails editmigration="true"></rstenantfawsdetails>
                <div class="rs-row">
                    <div class="span-8">
                        <h3>Based on your selections, here are our recommendations: <a href="" role="button" data-trigger="hover" data-placement="top" data-toggle="popover" title="" data-content="You can modify these configurations to your specifications by choosing the edit icon in the last column."><sup><i class="fa fa-info-circle rs-quiet"></i></sup></a></h3>
                    </div>
                    <div class="span-4">         
                        <input id="recommendationFilter" type="text" class="rs-input-large searchbox rs-pull-right" ng-model="vm.filteredValue" placeholder="filter by keyword or tag...">
                    </div>
                </div>                  
                <rs-tabs alignment="horizontal">
                    <rs-tab tabtitle="Servers ({{vm.dataServer}})" showtab="{{vm.dataServer != 0}}" name="server" ng-if="vm.dataServer != 0">
                        <rsrecommendationitem type="server" filtervalue="vm.filteredValue"></rsrecommendationitem>
                    </rs-tab>
                    <rs-tab tabtitle="Networks ({{vm.dataNetwork}})" showtab="{{vm.dataNetwork != 0}}"  ng-if="vm.dataNetwork != 0">
                        <rsrecommendationitem type="network" filtervalue="vm.filteredValue"></rsrecommendationitem>
                    </rs-tab>
                    <rs-tab tabtitle="Load Balancers ({{vm.dataLoadBalancers}})" showtab="{{vm.dataLoadBalancers != 0}}" ng-if="vm.dataLoadBalancers != 0">
                        <rsrecommendationitem type="loadbalancers" filtervalue="vm.filteredValue"></rsrecommendationitem>
                    </rs-tab>
                    <rs-tab tabtitle="CBS ({{vm.dataVolume}})" showtab="{{vm.dataVolume != 0}}" name="volume" ng-if="vm.dataVolume != 0">                        
                        <rsrecommendationitem type="volume" filtervalue="vm.filteredValue"></rsrecommendationitem>
                    </rs-tab>
                    <rs-tab tabtitle="CDN ({{vm.dataService}})" showtab="{{vm.dataService != 0}}" name="service" ng-if="vm.dataService != 0">
                        <rsrecommendationitem type="service" filtervalue="vm.filteredValue"></rsrecommendationitem>
                    </rs-tab>
                    <rs-tab tabtitle="Files ({{vm.dataFile}})" showtab="{{vm.dataFile != 0}}" name="file" ng-if="vm.dataFile != 0">
                        <rsrecommendationitem type="file" filtervalue="vm.filteredValue"></rsrecommendationitem>
                    </rs-tab>
                    <rs-tab tabtitle="DNS ({{vm.dataDNS}})" showtab="{{vm.dataDNS != 0}}" name="dns" ng-if="vm.dataDNS != 0">
                        <rsrecommendationitem type="dns" filtervalue="vm.filteredValue"></rsrecommendationitem>
                    </rs-tab>
                </rs-tabs>
            </div>
        </div>
    </div>
    <br>    
    <rsinteractivefooter></rsinteractivefooter>
</div>
<br>
<br>

<!--this modal give info about the selected server-->
<div ng-include="'/static/angtemplates/migration/equipment-details.html'"></div>