<script type="text/javascript">
    (function() {
        //$('#rs-main-panel').style.minHeight = '428px';
        document.getElementById("subNav").style.display = "block";
        var subMenus = $(".rs-nav-secondary .rs-nav-item");
        $(subMenus).removeClass("active");
        $(subMenus).each(function (index) { 
            if(index > 1){
               $(subMenus[index]).addClass("disabled");
            }
            else{
                $(subMenus[index]).removeClass("disabled");
            }

        });
        $(subMenus[1]).addClass("active");
    })();
</script>

 <div class="rs-wrapper">
        <div class="rs-container migration-mgr">
            <div class="rs-main rs-panel">
                <div class="rs-sidebar rs-pull-right">
                    <div class="rs-inner">
                        <div class="info-panel">
                            <h2>Breakdown</h2>
                            <h4>Current Pricing</h4>
                            <p>
                                Last Month's Invoice:
                                <br> Billing Period: <em>12-DEC-16 to 11-JAN-17</em>
                                <br>
                                <b>$485</b>
                                <br>
                                <a href="">(See Details)</a>
                            </p>
                        </div>
                        <div class="white-panel">
                            <h4>New Pricing</h4>
                            <p>
                                Amazon EC2 Service:
                                <br> Compute: <em>$31.81 </em>
                                <br> Fanatical AWS Support (Navigator): <em>$400.00</em>
                                <br>
                                <b>TOTAL COST: $431.81</b>
                                <br>
                                <a href="">(See Details)</a>
                            </p>
                        </div>
                        <br>
                        <div class="rs-row pricing-buttons">
                            <button class="rs-btn span-12" ng-click="vm.saveItems()">Save For Later</button>
                        </div>
                        <div class="rs-row">
                            <a class="rs-btn span-5" ng-link="['MigrationResourceList']">Back</a>
                            <a class="rs-btn rs-btn-primary span-7" ng-click="vm.continue()">Continue</a>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="rs-content rs-panel">
                    <!-- Start Stepper -->
                    <div class="mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__supporting-text">
                            <div class="mdl-stepper-horizontal-alternative">
                                <div class="mdl-stepper-step active-step step-done">
                                    <a href="step1.html">
                                        <div class="mdl-stepper-circle"><span>1</span></div>
                                    </a>
                                    <div class="mdl-stepper-title">Select Resources</div>
                                    <div class="mdl-stepper-bar-left"></div>
                                    <div class="mdl-stepper-bar-right"></div>
                                </div>
                                <div class="mdl-stepper-step active-step">
                                    <div class="mdl-stepper-circle"><span>2</span></div>
                                    <div class="mdl-stepper-title">Recommendations </div>
                                    <div class="mdl-stepper-bar-left"></div>
                                    <div class="mdl-stepper-bar-right"></div>
                                </div>
                                <div class="mdl-stepper-step ">
                                    <div class="mdl-stepper-circle"><span>3</span></div>
                                    <div class="mdl-stepper-title">Schedule Migration</div>
                                    <div class="mdl-stepper-bar-left"></div>
                                    <div class="mdl-stepper-bar-right"></div>
                                </div>
                                <div class="mdl-stepper-step">
                                    <div class="mdl-stepper-circle"><span>4</span></div>
                                    <div class="mdl-stepper-title">Confirm &amp; Migrate</div>
                                    <div class="mdl-stepper-bar-left"></div>
                                    <div class="mdl-stepper-bar-right"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Stepper -->
                    <hr>
                    <div class="rs-inner">
                        <h2>User Namegoeshere ( #1024814 )</h2>
                        <h4>Resource Types</h4>
                        <input type="text" class="rs-input-large searchbox" ng-model="vm.filteredValue" placeholder="filter by keyword or tag...">
                        <rs-tabs alignment="horizontal">
                            <rs-tab title="Servers">
                                <rsrecommendationitem type="server" filtervalue="vm.filteredValue"></rsrecommendationitem>
                            </rs-tab>
                            <rs-tab title="Networks">
                                <rsrecommendationitem type="network" filtervalue="vm.filteredValue"></rsrecommendationitem>
                            </rs-tab>
                        </rs-tabs>
                    </div>
                </div>
            </div>
            <rsinteractivefooter></rsinteractivefooter>
        </div>
    </div>
    <!--<script type="text/javascript">
    $(document).ready(function() {
        var tooltip;
        tooltip = new canon.Tooltip();
    });
    </script>-->