<!--<div class="rs-wrapper">-->
<div class="migration-mgr rs-container" ng-style="vm.isRacker == true ? {'margin-top':'30px'} : {'margin-top':'0px'}">
    <rssaveprogress stepname="MigrationResourceList"></rssaveprogress>
    <div class="rs-main ">
        <div class="rs-content rs-panel">
            <!-- Start Stepper -->
            <rsnavigationpanel pagenum="0"></rsnavigationpanel>
            <!-- End Stepper -->
            <hr>
            <div class="rs-inner">
                <rstenantfawsdetails editmigration="false"></rstenantfawsdetails>
                <br>
                <div class="rs-row">
                    <div class="span-6">
                        <h3>Select Resources
                            <a href="#" role="button" data-trigger="hover" data-placement="top" data-toggle="popover" data-content="As you select your resources, keep in mind that all dependencies associated will also be selected and displayed below in <b>'Items Selected'</b>. Any resources that do not pass a pre-check will have a <span class='rs-status-error'>red</span> indicator. Similarly any potentially problematic resources will have a <span class='rs-status-warning'>yellow</span> indicator."><i class="fa fa-info-circle fa-fw rs-quiet"></i></a>
                        </h3>
                    </div>
                    <div class="span-6">
                        <input type="text" class="rs-input-large searchbox rs-pull-right" ng-model="vm.filterSearch" placeholder="filter by keyword or tag...">
                    </div>
                </div>
                <br>
                <rs-tabs alignment="horizontal">
                    <rs-tab tabtitle="Servers" showtab="true">
                        <rsmigrationitem type="server" filtervalue="vm.filterSearch"></rsmigrationitem>
                    </rs-tab>
                    <!--<rs-tab title="Networks">
                                    <rsmigrationitem type="network" filtervalue="vm.filterSearch"></rsmigrationitem>
                                </rs-tab>-->
                    <rs-tab tabtitle="Load Balancers" ng-if="vm.isRacker" showtab="true">
                        <!--Load Balancers-->
                        <rsmigrationitem type="LoadBalancers" filtervalue="vm.filterSearch"></rsmigrationitem>
                    </rs-tab>
                    <rs-tab tabtitle="Files" ng-if="vm.isRacker" class="disabled" showtab="true">
                        <!--Files-->
                        <rsmigrationitem type="Files" filtervalue="vm.filterSearch"></rsmigrationitem>
                    </rs-tab>
                    <div class="rs-pull-right" style="margin-top: -49px; margin-left:790px">
                        <a class="rs-btn" ng-click="vm.cancelMigration()">Cancel Migration</a>
                        <a class="rs-btn rs-btn-primary " ng-click="vm.savencontinue()">Continue</a>
                    </div>
                </rs-tabs>
                <div class="rs-pull-right" ng-show="vm.saveLaterObj.resultMsg" ng-style="vm.saveLaterObj.saveSuccess == true ? {color:'green'} : {color:'red'}">{{vm.saveLaterObj.resultMsg}}</div>
                <br>
                <rsselecteditemspanel showrec="false"></rsselecteditemspanel>
            </div>
        </div>
    </div>
    <rsinteractivefooter></rsinteractivefooter>
</div>
<!--</div>-->
<div id="name_modal" class="modal hide animated fadeIn" tabindex="-1" role="dialog" aria-labelledby="ModalForSelect" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
        <h3>What would you like to name your migration?</h3>
    </div>
    <div class="modal-body">
        <div class="rs-control-group">
            <label class="rs-control-label"><big> <b>* Create a Migration Name</b></big></label>
            <div class="rs-controls">
                <input type="text" ng-model="vm.migrationName" class="name-input rs-input-xlarge" ng-attr-placeholder="{{vm.migrationName}}">
                <!--<span ng-show="vm.noName" style="color:red">Please name your Migration!</span>-->
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="rs-pull-left">
            <label class="rs-checkbox">
                    <input type="checkbox" ng-change="vm.dontShowNameModal()" ng-model="vm.dontshowNameModal"> Don't show this again
                </label>
        </div>
        <a class="rs-btn rs-btn-primary" data-dismiss="modal" aria-hidden="true" ng-class="{disabled:vm.migrationName == ''}" ng-click="vm.savencontinue()">Save &amp; Continue</a>
        <a ng-link="['MigrationStatus']" data-dismiss="modal" aria-hidden="true" class="rs-btn" role="button" data-trigger="hover"
            data-placement="left" data-toggle="popover" data-content="Warning: This will take you out of the Migration Manager"><i class="fa fa-info-circle fa-fw rs-quiet"></i>Cancel</a>
    </div>
</div>

<div id="no_selection" class="modal modal-warning hide animated fadeIn" tabindex="-1" role="dialog" aria-labelledby="ModalForNoSelect" aria-hidden="true">
     <div class="modal-header">
         <h3><i class="fa fa-warning"></i> No selection made</h3>
     </div>
     <div class="modal-body">
        <p><big>Please select some items to migrate</big></p>
      </div>
      <div class="modal-footer">
          <button type="button" class="rs-btn" data-dismiss="modal">Go Back</button>
      </div>
</div>

<div id="save_for_later" class="modal hide animated fadeIn" tabindex="-1" role="dialog" aria-labelledby="ModalForNoSave" aria-hidden="true">
    <div class="modal-header">
          <h3>Please name your Migration in order to save this instance</h3>
    </div>
    <div class="modal-body">
        <form class=" ">
            <div class="rs-control-group">
                <label class="rs-control-label">Name your migration and click '<b>Save </b>' to save this instance</label>
                <div class="rs-controls">
                    <input type="text" ng-model="vm.migrationName" placeholder="{{vm.migrationName}}">
                </div>
            </div>
            <button class="rs-btn" data-dismiss="modal" aria-hidden="true" ng-class="{disabled:vm.saveClicked == true}">Cancel</button>
            <a class="rs-btn rs-btn-primary" ng-class="{disabled:(vm.migrationName == '' || vm.saveClicked == true)}" ng-click="vm.saveItems(vm.saveLaterObj); vm.saveClicked = true;"
                ng-hide="vm.saveLaterObj.saveInProgress">Save</a>
            <a class="rs-btn disabled" disabled="disabled" ng-show="vm.saveLaterObj.saveInProgress">Saving...</a>
            <i class="rs-processing-indicator" ng-show="vm.saveLaterObj.saveInProgress"></i>
            <br>
            <div ng-show="vm.saveLaterObj.resultMsg" ng-style="vm.saveLaterObj.saveSuccess == true ? {color:'green'} : {color:'red'}">{{vm.saveLaterObj.resultMsg}}</div>
        </form>
    </div>
</div>

<div id="cancel_modal" class="modal modal-warning hide animated fadeIn" tabindex="-1" role="dialog" aria-labelledby="ModalForCancel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
        <h3>Would you like to save the selections you've made so far for another time?</h3>
    </div>
    <div class="modal-body">
        <form class=" ">
            <div class="rs-control-group">
                <div class="rs-controls">
                    <label class="rs-radio">
                        <input type="radio" ng-model="vm.saveProgress" value="yes">
                        <strong>Yes</strong><br>
                        <span class="rs-help-block">Name this migration and click <b>'Submit'</b> to save this migration for later</span>
                    </label>
                    <div class="rs-controls">
                        <input type="text" ng-model="vm.migrationName" placeholder="{{vm.migrationName}}">
                    </div>
                    <label class="rs-radio">
                        <input type="radio" ng-model="vm.saveProgress" value="no">
                        <strong>No</strong>
                        <span class="rs-help-block">Cancel and move on</span>
                      </label>
                </div>
            </div>
            <button class="rs-btn" data-dismiss="modal" aria-hidden="true" ng-class="{disabled:vm.saveClicked == true}">Close</button>
            <button class="rs-btn rs-btn-primary " ng-class="{disabled:vm.saveProgress == '' || !vm.migrationName || vm.saveClicked == true}"
                ng-click="vm.submitCancel()" ng-hide="vm.cancelnSaveObj.saveInProgress">Submit</button>
            <a class="rs-btn disabled" disabled="disabled" ng-show="vm.cancelnSaveObj.saveInProgress">Submitting...</a>
            <i class="rs-processing-indicator" ng-show="vm.cancelnSaveObj.saveInProgress"></i>
            <br>
            <div ng-show="vm.cancelnSaveObj.resultMsg" ng-style="vm.cancelnSaveObj.saveSuccess == true ? {color:'green'} : {color:'red'}">{{vm.cancelnSaveObj.resultMsg}}</div>
        </form>
    </div>
</div>

<div id="intro_modal" class="modal hide animated fadeIn details" role="dialog">
    <br>
    <div class="modal-body">
        <h1 class="rs-page-title">Welcome to the Rackspace Migration Manager!</h1>
        <!-- <h3>On average, our customers save more than 20% by migrating from Rackspace Public Cloud to Managed AWS. All while keeping the fanatical support they love.</h3> -->
        <br>
        <div class="rs-row">
            <div class="span-7">
                <h2>Migrate in just 3 easy steps:</h2>
                <big>
                    <ol class="rs-custom-counter">
                        <li><b>Select resources to migrate</b></li>
                        <li><b>Get our recommendation and make modifications</b></li>
                        <li><b>Schedule and confirm migration</b></li>
                    </ol>
                </big>
                <br>
                <br>
                <h3><em>Need more information?</em></h3>

                <a href="https://www.rackspace.com/en-us/managed-aws" target="_blank">Rackspace Managed AWS</a>
                <br>
                <a href="https://www.rackspace.com/en-us/managed-aws/features" target="_blank">Pricing and Support Levels</a>
            </div>
            <div class="span-5 rs-center" style="width : 35%">
                <img src="/static/img/monitor.png" alt="">
            </div>
        </div>
        <br>
    </div>
    <div class="modal-footer">
        <div class="rs-pull-left">
            <label class="rs-checkbox">
                    <input type="checkbox" ng-change="vm.dontShow()" ng-model="vm.dontshowStatus">
                    Don't show this again
                </label>
        </div>
        <a ng-click="vm.submitCancel()" class="rs-btn">Cancel</a>
        <!--<a href="#" class="rs-btn rs-btn-primary" data-dismiss="modal">Start a Migration</a>-->
        <!--<a class="rs-btn rs-btn-primary" ng-hide="vm.nameStatus" data-dismiss="modal" aria-hidden="true" href="#name_modal" role="button" data-toggle="modal">Start a Migration</a>-->
        <a class="rs-btn rs-btn-primary" data-dismiss="modal" aria-hidden="true" href="javascript:void(0)">Start a Migration</a>
    </div>
</div>

<div ng-include="'/static/angtemplates/migration/equipment-details.html'"></div>
<script type="text/javascript">
    $(document).ready(function () {
        var index, elements = $('li[class*=" racker-nav-item active"]');
        if (elements.length != 0) {
            for (index = 0; index < elements.length; index++) {
                var id = elements[index].id;
                document.getElementById(id).className -= " racker-nav-item active";
            }
        }
        if (document.getElementById("racker-migration-mgr"))
            document.getElementById("racker-migration-mgr").style.visibility = "visible";
    });
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({
            html: true
        });
    });
    $(document).ready(function () {
        $('.rs-dropdown').each(function (i, element) {
            var menu = new canon.Menu();
            menu.attach(element);
        });
    });
</script>