<script type="text/javascript">
   (function() {
        document.getElementById("subNav").style.display = "block";
        var subMenus = $(".rs-nav-secondary .rs-nav-item");
        $(subMenus).removeClass("active");
        $(subMenus).addClass("disabled");
        $(subMenus[0]).removeClass("disabled");
        $(subMenus[0]).addClass("active");
    })();
</script>

<div class="rs-row template-header">
    <div class="span-6">
        <h3>Select Resources For Batch Migration ( #{{vm.auth.tenant_id}} )</h3>
    </div>
    <div class="span-3">
        <input type="text" ng-model="vm.filterSearch" placeholder="Search..." style="width: 100%;"/>
    </div>
</div>
<div class="rs-row">
    <div class="span-9">
        <div class="rs-row">
            <rs-tabs alignment="vertical">
                <rs-tab title="Servers">
                    <rsmigrationitem type="server" filtervalue="vm.filterSearch"></rsmigrationitem>
                </rs-tab>
                <rs-tab title="Networks">
                    <rsmigrationitem type="network" filtervalue="vm.filterSearch"></rsmigrationitem>
                </rs-tab>
                <rs-tab title="Files">
                    <rsmigrationitem type="network" filtervalue="vm.filterSearch"></rsmigrationitem>
                </rs-tab>
                <rs-tab title="Load Balancers">
                    <rsmigrationitem type="network" filtervalue="vm.filterSearch"></rsmigrationitem>
                </rs-tab>
            </rs-tabs>
        </div>
        <div class="rs-row">
            <div style="margin-left: 150px;">
                <div class="rs-content rs-panel selectedItemsPanel" style="min-height:0px;">
                    {{vm.selectedItems.length}} items selected
                    <div>
                        <p ng-repeat="item in vm.selectedItems" ng-attr-id="item.name" class='selected-migration-item'>
                            <span class="cross" ng-click="vm.removeItem(item)">x</span>{{item.name}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="span-3 right-sidebar">
        <div class="rs-facet-section">
            <div class="rs-facet-section-body">
                <div class="rs-facet-title">Current Pricing</div>
                <div class='info-panel currentPricingPanel'>
                    <div ng-show="vm.selectedItems.length>0">
                        <span class="no-break">Last Month's Invoice:</span><br>
                        <span class="no-break">Billing Period: 12-DEC-16 to 11-JAN-17</span><br>
                        <span class="no-break">$485 (<a ng-href="https://mybill.rackspace.com/overview" target="_blank">See Details</a>)</span>
                    </div>
                </div>
                
                <div class="rs-facet-title">New Pricing</div>
                <div class='info-panel newPricingPanel'>
                    <div ng-show="vm.selectedItems.length>0">
                        <span class="no-break">Amazon EC2 Service (US-East):</span><br>
                        <span class="no-break">Compute: $31.81</span><br>
                        <span class="no-break">Fanatical AWS Support (Navigator): $400.00</span><br>
                        <span class="no-break summary">TOTAL COST: $431.81</span>
                    </div>
                </div>

                <div class="rs-facet-title">Savings</div>
                <div class='info-panel-small savingsPanel'>
                    <div ng-show="vm.selectedItems.length>0">
                        <span class="summary"><b>$53.69 SAVED</b></span>
                    </div>
                </div>

                <br>
                <div class="rs-row">
                    <button class="rs-btn span-12" ng-click="vm.saveItems()">Save For Later</button><br><br>
                </div>
                <div class="rs-row">
                    <a class="rs-btn span-5" ng-link="['Tenant']">Back</a>
                    <button class="rs-btn rs-btn-primary span-7" ng-click="vm.continue()">Continue</button>
                </div>
            </div>
        </div>
    </div>
</div>

<rsinteractivefooter></rsinteractivefooter>