<div class="rs-container migration-mgr" ng-style="vm.isRacker == true ? {'margin-top':'30px'} : {'margin-top':'0px'}">
    <a ng-link="['MigrationStatus']"><i class="fa fa-chevron-left"></i> Go to Migration Dashboard </a>
    <div class="rs-main">
        <div class="rs-content rs-panel">
            <div class="rs-inner">
                <div class="rs-row">
                    <div class="span-10">
                        <div class="migr-name">
                            <b>{{vm.batch_name}} / {{vm.resourceName}} / Tasks</b>
                        </div>
                        <div class="migr-name inline-block-elements">
                            Migration Progress:
                        </div>
                        <div class="rs-progress rs-progress-small inline-block-elements instance-progress-bar" ng-if="vm.progressFlag !== false">
                            <div class="rs-progress-inner">
                                <div class="rs-segment" ng-style="{'width': + vm.batch_progress +'%'}">
                                    <div ng-class="{'rs-bar rs-status-ok rs-bar-striped': vm.batch_progress != '100' , 'rs-bar rs-status-ok': vm.batch_progress == '100'}"></div>
                                </div>
                            </div>
                        </div><span class="rs-status-ok" ng-if="vm.batch_progress !== undefined"><em> {{vm.batch_progress}}%</em></span>
                        <span class="migr-name capitalize instance-progress-bar" ng-if="vm.progressFlag === false">{{vm.instance_status}}</span>
                    </div>
                    <div class="span-2">
                        <button class="rs-btn" ng-click="vm.getResourceTasks(true)">
<i class="fa fa-refresh" ng-class="{'fa-spin': vm.loading || vm.manualRefresh}"></i> Refresh
</button>
                        <a class="rs-btn" ng-click="vm.back()" style="width: 60px">Back</a>
                        <div style="margin-top: 10px;" ng-show="!vm.loading && !vm.manualRefresh && !vm.loadError">Last refreshed: {{vm.timeSinceLastRefresh===0 ? " just now" : vm.timeSinceLastRefresh + (vm.timeSinceLastRefresh>1
                            ? " mins ": " min ") + "ago"}}</div>
                    </div>
                </div>
                <br>
                <div class="migration-status-list-container">
                    <table class="rs-list-table no-truncate-td cell-center">
                        <thead>
                            <th>Task</th>
                            <th>Status</th>
                            <th>Description</th>
                        </thead>
                        <tbody ng-show="!vm.loading && vm.tasks.length > 0">
                            <tr ng-repeat="task in vm.tasks">
                                <td class="rs-table-text">
                                    {{task.name}}
                                </td>
                                <td class="rs-table-text">
                                    <span class="rs-status-disabled" ng-show="task.status==='not available'">Not Available</span>
                                    <span class="rs-status-disabled" ng-show="task.status==='scheduled'">Scheduled</span>
                                    <span class="rs-status-ok" ng-show="task.status==='in progress'">In Progress</span>
                                    <span class="rs-status-ok" ng-show="task.status==='started'">Started</span>
                                    <span class="rs-status-ok" ng-show="task.status==='done'">Completed</span>
                                    <span class="rs-status-ok" ng-show="task.status==='warning'">Warning</span>
                                    <span class="rs-status-error" ng-show="task.status==='error'">Error</span>
                                    <span class="rs-status-error" ng-show="task.status==='canceled'">Cancelled</span>
                                    <span class="rs-status-warning" ng-show="task.status==='paused'">Paused</span>
                                </td>
                                <td class="rs-table-text">
                                    {{task.details}}
                                </td>
                            </tr>
                        </tbody>
                        <tbody ng-show="!vm.loading && vm.tasks.length === 0">
                            <tr>
                                <td class="rs-table-text" colspan="3">
                                    No individual tasks found for this resource
                                </td>
                            </tr>
                        </tbody>
                        <tbody ng-show="vm.loading">
                            <tr>
                                <td colspan="3">
                                    <div class="rs-table-overlay rs-table-overlay-loading">
                                        <div class="rs-table-overlay-content">
                                            <div class="rs-table-overlay-message">Loading&hellip;</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>

            </div>
        </div>
    </div>
    <br>
</div>