<a class="rs-btn" role="button" ng-click="vm.cancelMigration()" ng-show="vm.type==='button' && (vm.stepname == 'MigrationResourceList' || vm.stepname == 'ConfirmMigration')">
    Cancel Migration
</a>
<div class="rs-row pricing-buttons" ng-show="vm.type==='button' && (vm.stepname !== 'MigrationResourceList' && vm.stepname !== 'ConfirmMigration')">
    <a class="rs-btn span-12" role="button" ng-click="vm.cancelMigration()">Cancel Migration</a>
</div>
<a href="#" ng-click="vm.cancelMigration()" ng-show="vm.type==='link'"><i class="fa fa-chevron-left"></i> Go to Migration Dashboard </a>
<div id="cancel_modal" class="modal modal-warning hide animated fadeIn" tabindex="-1" role="dialog" aria-labelledby="ModalForCancel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
        <h3>Would you like to save the selections you've made so far for another time?</h3>
    </div>
    <div class="modal-body">
        <form class=" ">
            <div class="rs-control-group">
                <div class="rs-controls">
                    <label class="rs-radio">
                        <input type="radio" ng-model="vm.saveProgress" value="yes" ng-click="vm.enableSubmit()">
                        <strong>Yes</strong><br>
                        <span class="rs-help-block">Name this migration and click <b>'Submit'</b> to save this migration for later</span>
                    </label>
                    <label class="rs-radio">
                        <div class="rs-controls">
                            <input type="text" ng-model="vm.migrationName" placeholder="{{vm.migrationName}}">
                        </div>
                    </label>
                    <label class="rs-radio">
                        <input type="radio" ng-model="vm.saveProgress" value="no" ng-click="vm.enableSubmit()">
                        <strong>No</strong>
                        <span class="rs-help-block">Cancel and move on</span>
                      </label>
                </div>
            </div>
            <button class="rs-btn" data-dismiss="modal" aria-hidden="true" ng-class="{disabled:vm.saveClicked == true}">Close</button>
            <button class="rs-btn rs-btn-primary " ng-class="{disabled:!vm.checkedButton && !vm.migrationName}"
                ng-click="vm.submitCancel()" ng-hide="vm.cancelnSaveObj.saveInProgress">Submit</button>
            <a class="rs-btn disabled" disabled="disabled" ng-show="vm.cancelnSaveObj.saveInProgress">Submitting...</a>
            <i class="rs-processing-indicator" ng-show="vm.cancelnSaveObj.saveInProgress"></i>
            <br>
            <div ng-show="vm.cancelnSaveObj.resultMsg" ng-style="vm.cancelnSaveObj.saveSuccess == true ? {color:'green'} : {color:'red'}">{{vm.cancelnSaveObj.resultMsg}}</div>
        </form>
    </div>
</div>