<a class="rs-btn" role="button" ng-click="vm.cancelMigration()" ng-show="vm.type==='button' && (vm.stepname == 'MigrationResourceList' || vm.stepname == 'ConfirmMigration')">
    Cancel Migration
</a>
<div class="rs-row pricing-buttons" ng-show="vm.type==='button' && (vm.stepname !== 'MigrationResourceList' && vm.stepname !== 'ConfirmMigration')">
    <a class="rs-btn span-12" role="button" ng-click="vm.cancelMigration()">Cancel Migration</a>
</div>
<a href="" ng-click="vm.cancelMigration()" ng-show="vm.type==='link'"><i class="fa fa-chevron-left"></i> Go to Migration Dashboard </a>
<a href="" style="float: right;" ng-href="{{vm.downloadPath}}" download="Rackspace-Migration-Manager-User_Guide.pdf" ng-show="vm.type==='link'"><i class="fa fa-download fa-1"></i> Migration Manager User Guide</a>
<div id="cancel_modal" class="modal modal-warning hide animated fadeIn" tabindex="-1" role="dialog" aria-labelledby="ModalForCancel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
        <h3>Would you like to save the selections you've made so far for another time?</h3>
    </div>
    <div class="modal-body">
        <form class=" ">
            <div class="rs-control-group">
                <div class="rs-controls">
                    <span class="rs-help-block">Name this migration and click <b>'Save Migration'</b> to save this migration for later</span>
                    <br>
                    <div class="rs-controls">
                        <input ng-class="{disabled:vm.cancelnSaveObj.saveInProgress}" type="text" ng-model="vm.migrationName" placeholder="{{vm.migrationName}}">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="rs-btn pull-left" ng-click="vm.submitCancel('no')">Don't save</button>
        <button class="rs-btn rs-btn-primary pull-left leftMargin" ng-class="{disabled: vm.saveProgress=='yes' && !vm.migrationName || vm.cancelnSaveObj.saveSuccess}"
            ng-click="vm.submitCancel('yes')" ng-hide="vm.cancelnSaveObj.saveInProgress">Save Migration</button>
        <button class="rs-btn" data-dismiss="modal" aria-hidden="true" ng-class="{disabled:vm.cancelnSaveObj.saveInProgress || vm.cancelnSaveObj.saveSuccess}">Close</button>
        <a class="rs-btn rs-btn-primary disabled pull-left leftMargin" disabled="disabled" ng-show="vm.cancelnSaveObj.saveInProgress">Submitting...</a>
        <i class="rs-processing-indicator pull-left topMargin" ng-show="vm.cancelnSaveObj.saveInProgress"></i>
        <br>
        <div ng-show="vm.cancelnSaveObj.resultMsg" ng-style="vm.cancelnSaveObj.saveSuccess == true ? {color:'green'} : {color:'red'}">{{vm.cancelnSaveObj.resultMsg}}</div>
    </div>
</div>