<script type="text/javascript">
    (function() {
        document.getElementById("subNav").style.display = "block";
        var subMenus = $(".rs-nav-secondary .rs-nav-item");
        $(subMenus).removeClass("active");
        $(subMenus[2]).addClass("active");
    })();
</script>

<div style="margin-top:10px;">
    <h3>Schedule Migration</h3>
</div>

<div class="rs-row">
    <div class="span-9">

        <div class="rs-content rs-panel">
            <div class="rs-row">
                <div class="span-9">
                    <span style="vertical-align: super; margin-right: 20px;">Name Your Migration:</span>
                    <input type="text" ng-model="vm.migrationName" value={{vm.migrationName}}/>
                </div>
            </div>
            <div class="rs-row">
                <div class="span-6">
                    <rscalendaritem selected="day"></rscalendaritem>
                </div>
                 <div class="span-3">
                    <h5>TIME ZONE</h5>
                    <select name="timezone">
                        <option value="est">EST- GMT-05:00</option>
                        <option value="cst">CST- GMT-06:00</option>
                        <option value="tst">PST- GMT-08:00</option>
                    </select>
                </div>
                <div class="span-3">
                    <h5>TIME</h5>
                    <select name="time" ng-change="vm.timeChange()" ng-model="vm.time">
                        <option ng-repeat="time in vm.timeItems" value="{{time}}">{{time}}</option>
                    </select>
                </div>
               
            </div>
            <div class="rs-row">
                <div class="span-6">
                    Selected migration date is :
                </div>
                <div class="span-3">
                    some date to display here...
                </div>
            </div>
        </div>

    </div>
    <div class="span-3 right-sidebar">
        <div class="rs-facet-section">
            <div class="rs-facet-section-body">
                <div class="rs-facet-title">Current Pricing</div>
                <div class='blank-slate'></div>
                
                <div class="rs-facet-title">New Pricing</div>
                <div class='blank-slate'></div>

                <div class="rs-facet-title">Savings</div>
                <div class='blank-slate-small'></div>

                <br>
                <button class="rs-btn saveLaterBtn" ng-click="vm.saveItems()">Save For Later</button><br><br>
                <a class="rs-btn backBtn" ng-link="['MigrationResourceList']">Back</a>
                <button class="rs-btn continueBtn rs-btn-primary" ng-click="vm.continue()">Continue</button>
            </div>
        </div>
    </div>
</div>

<div class="rs-row" style="margin-top: 10px;">
    <div class="span-9">
        <div class="rs-facet-section">
            <div class="rs-facet-section-body">
                <div class="rs-facet-title">FAQs + More Information</div>
                <div class='rs-content rs-panel' style="min-height: 10px;"></div>
            </div>
        </div>
    </div>
    <div class="span-3">
        <div class="rs-facet-section">
            <div class="rs-facet-section-body">
                <div class="rs-facet-title">Support</div>
                <div class='rs-content rs-panel' style="min-height: 10px;"></div>
            </div>
        </div>
    </div>
</div>