<script type="text/javascript">
    (function() {
        document.getElementById("subNav").style.display = "block";
        var subMenus = $(".rs-nav-secondary .rs-nav-item");
        $(subMenus).removeClass("active");
        $(subMenus).each(function (index) { 
            if(index > 2){
               $(subMenus[index]).addClass("disabled"); 
            }
            else{
                $(subMenus[index]).removeClass("disabled");
            }

        });
        $(subMenus[2]).addClass("active");
    })();
</script>

<div style="margin-top:10px;">
    <h3>Schedule Migration</h3>
</div>

<div class="rs-row template-header">
    <div class="span-9">

        <div class="rs-content rs-panel panelCommonHeight">
            <div class="rs-row">
                <div class="span-9">
                    <span style="vertical-align: super; margin-right: 20px;">
                        <b>Name Your Migration:</b>
                    </span>
                    <input type="text" ng-model="vm.migrationName" value={{vm.migrationName}} style="width: 240px;"/>
                </div>
            </div>
            <div class="rs-row" style="margin-top: 40px">
                <div class="span-7">
                    <rscalendaritem selected="day"></rscalendaritem>
                </div>
                 <div class="span-2">
                    <h5>TIME ZONE</h5>
                    <select name="timezone" ng-change="vm.timezoneChange()" ng-model="vm.timezone">
                        <option ng-repeat="time in vm.timeZoneItems" value="{{time}}">{{time}}</option>
                    </select>
                </div>
                <div class="span-3">
                    <h5>TIME</h5>
                    <select name="time" ng-change="vm.timeChange()" ng-model="vm.time">
                        <option ng-repeat="time in vm.timeItems" value="{{time}}">{{time}}</option>
                    </select>
                </div>
               
            </div>
            <div class="rs-row" style="margin-top: 30px">
                <div class="span-6">
                    <b>Migration schedule summary:</b>
                </div>
            </div>
            <div class="rs-row">
                <div class="span-6">
                    {{vm.selectedDate}}
                </div>
            </div>
        </div>

    </div>
    <div class="span-3 right-sidebar">
        <div class="rs-facet-section">
            <div class="rs-facet-section-body">
                <div class="rs-facet-title">Current Pricing</div>
                <div class='info-panel'>
                    <span class="no-break">Last Month's Invoice:</span><br>
                    <span class="no-break">Billing Period: 12-DEC-16 to 11-JAN-17</span><br>
                    <span class="no-break">$485 (<a ng-href="https://mybill.rackspace.com/overview" target="_blank"">See Details</a>)</span><br>
                </div>
                
                <div class="rs-facet-title">New Pricing</div>
                <div class='info-panel'>
                    <span class="no-break">Amazon EC2 Service (US-East):</span><br>
                    <span class="no-break">Compute: $31.81</span><br>
                    <span class="no-break">Fanatical AWS Support (Navigator): $400.00</span><br>
                    <span class="no-break summary">TOTAL COST: $431.81</span>
                </div>

                <div class="rs-facet-title">Savings</div>
                <div class='info-panel-small'>
                    <span class="summary"><b>$53.69 SAVED</b></span>
                </div>

                <br>
                <div class="rs-row">
                    <button class="rs-btn span-12" ng-click="vm.saveItems()">Save For Later</button><br><br>
                </div>
                <div class="rs-row">
                    <a class="rs-btn span-5" ng-link="['MigrationRecommendation']">Back</a>
                    <button class="rs-btn rs-btn-primary span-7" ng-click="vm.continue()">Continue</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="rs-row" style="margin-top: 10px;">
    <div class="span-9">
        <div class="rs-facet-section">
            <div class="rs-facet-section-body">
                <div class="rs-facet-title">FAQs + More Information</div>
                <div class='rs-panel small-panel'>
                    <a ng-href="https://support.rackspace.com/how-to/mapping-of-amazon-web-services-resources-to-rackspace-resources/" target="_blank">Mapping of Rackspace Resource to Amazon Web Service Resources</a><br>
                    <a ng-href="https://manage.rackspace.com/docs/product-guide/billing.html" target="_blank">How will my billing change?</a><br>
                    <a ng-href="https://manage.rackspace.com/docs/product-guide/service_levels.html" target="_blank">Learn about the different Fanatical Support for AWS Support Levels</a><br>
                </div>
            </div>
        </div>
    </div>
    <div class="span-3">
        <div class="rs-facet-section">
            <div class="rs-facet-section-body">
                <div class="rs-facet-title">Support</div>
                <div class='rs-panel small-panel'>
                    <div class="support-icon chat" title="Chat"></div>
                    <div class="support-icon call" title="Call"></div>
                    <div class="support-icon mail" title="Mail"></div>
                </div>
            </div>
        </div>
    </div>
</div>