<tr ng-repeat="item in vm.data | filter: vm.filtervalue | limitTo : vm.pageSize : (vm.currentPage-1)*vm.pageSize  | orderBy:vm.propertyName:vm.reverse">
    <td class="rs-table-status"
            ng-class="{'rs-table-status-ok': item.status=='active', 'rs-table-status-processing rs-table-status-striped': item.status=='WARNING', 'rs-table-status-error': item.status=='ERROR'}">
    </td>
    <td class="rs-table-link">
        <a href="#" role="button" ng-click="vm.equipmentDetails(vm.type, item)" data-toggle="modal" title="{{item.name}}">{{item.name}}</a>
    </td>
    <td class="rs-table-text">{{item.ip_address}}</td>
    <td class="rs-table-text"><i class="fa fa-arrow-right rs-status-ok pullLeft"></i>{{item.selectedMapping.region }}</td>
    <td class="rs-table-text">{{item.selectedMapping.zone || 'US-East-1a'  }}</td>
    <td class="rs-table-text">{{item.selectedMapping.instance_type}}</td>
    <td class="rs-table-text" ng-if="item.details.rax_uptime !==undefined">{{item.selectedMapping.cost * item.details.rax_uptime + item.details.aws_bandwidth_cost | currency}}</td>
    <td class="rs-table-text" ng-if="item.details.rax_uptime ===undefined">{{item.selectedMapping.cost * 24 * 30 + 0.10 | currency}}</td>
    <td class="rs-table-cog">
        <a href="#" ng-click="vm.showModifyModal(item,'#modify_modal'+ item.id)" data-toggle="modal" class="rs-btn-action">
            <i class="rs-edit" title="Modify this"></i>
        </a>
    </td>
</tr>