<div class="rs-facet-section">
    <div class="rs-facet-section-body">
        <div class="rs-facet-title">Current Pricing</div>
        <div class='pricingDetails'></div>
        
        <div class="rs-facet-title">New Pricing</div>
        <div class='pricingDetails'></div>

        <div class="rs-facet-title">Savings</div>
        <div class='savingDetails'></div>

        <br>
        <button class="rs-btn" ng-click="vm.saveItems()">Save For Later</button><br><br>
        <button class="rs-btn" ng-click="vm.continue()">Continue</button>
    </div>
</div>