<!--<div ng-if="!vm.fawsAcctStatus" class="alert alert-success small-alert animated fadeIn">
    <button type="button" class="close" data-dismiss="alert"><i class="fa fa-times"></i></button>
    <b>We notice you don't have a Fanatical AWS account.</b> One will be created on step 3 on confirmed migration.
</div>-->

<div class="rs-row">
    <div class="migr-ddi-name">{{vm.tenant_account_name}} #{{vm.tenant_id}}
        <span class="migr-ddi-name"><i class="fa fa-arrow-right fa-fw"></i>
            <div class="rs-dropdown rs-primary-dropdown">
                <a class="rs-dropdown-toggle" href="javascript:void(0);" ng-show="vm.fawsAcctStatus"> {{vm.selectedFaws}} <span class="rs-status" role="button" data-trigger="hover" data-placement="top" data-toggle="popover"></span></a>
                <a class="rs-dropdown-toggle" href="javascript:void(0);" ng-show="!vm.fawsAcctStatus"> No FAWS Accounts Found <span class="rs-status" role="button" data-trigger="hover" data-placement="top" data-toggle="popover"></span></a>
                <a class="rs-dropdown-toggle" href="javascript:void(0);" ng-show="vm.fawsAcctStatus"><i class="rs-caret"></i></a>
                <ul class="rs-dropdown-menu hidden">
                    <li class="rs-dropdown-item" ng-show="vm.showCreateAccount">
                        <span class="rs-dropdown-category">You may create a new Account for this migration:
                            <a href="" role="button" ng-click="vm.displayFawsAccounModal()" data-toggle="modal" ng-show="vm.editmigration === 'false'" aria-hidden="false">Create new FAWS Account</a>
                        </span>
                    </li>
                    <li class="rs-dropdown-item" ng-show="vm.fawsAcctStatus && vm.showCreateAccount">
                        <span class="rs-dropdown-category">or Select an Existing account:</span>
                    </li>
                    <li class="rs-dropdown-item" ng-show="vm.fawsAcctStatus && !vm.showCreateAccount">
                        <span class="rs-dropdown-category">Select another FAWS account:</span>
                    </li>
                    <li class="rs-dropdown-item" ng-show="vm.fawsAcctStatus">
                        <select ng-model="vm.selectedFaws" class="ng-pristine ng-valid ng-not-empty ng-touched" aria-invalid="false" ng-change="vm.fawsAccountchanged()">
                            <!-- ngRepeat: account in vm.awsAccountsDetails -->
                            <option ng-repeat="account in vm.awsAccountsDetails" class="ng-binding ng-scope" value="{{account.name}} (#{{account.awsAccountNumber}})">{{account.name}} (#{{account.awsAccountNumber}})</option>
                            <!-- end ngRepeat: account in vm.awsAccountsDetails -->
                        </select>
                    </li>
                </ul>
            </div>
        </span>
    </div>
</div>
<div class="migr-name" ng-show="vm.editmigration === 'true'">
    <rseditbatchname></rseditbatchname>
</div>

<div id="create-faws-account-modal" class="modal modal-success hide animated fadeIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-body">

        <div ng-show="vm.fawsCreated">
            <big>Successfully created a new FAWS account!</big><br>
            <br>
            <b>Account Name : </b> {{vm.newAccountDetails.name}}<br> 
            <b>Accout Number :</b> {{vm.newAccountDetails.awsAccountNumber}}<br>
            <b>Service Level :</b> {{vm.newAccountDetails.serviceLevelName}}<br><br>
            Click&nbsp;<a target="_blank" ng-href="https://manage.rackspace.com/aws/accounts">here</a>&nbsp;for more details.</span>
        </div>   
        
        <span ng-show="vm.fawsError" style="color: #c40022">Uh oh! Something went wrong while creating new FAWS account for you. Please try again after sometime...</span>
        
        <div ng-hide= "vm.fawsCreated || vm.fawsError">
            <big>What would you like to name your new FAWS account?</big>
            <br><br>
            <input type="text" ng-model="vm.fawsAcctName" class="rs-input-xlarge" placeholder="FAWS AccountName" />
            <br>
            <b>Please note that we may place a $1 authorization hold to confirm your account.</b> <br>
            <small>(Our lawyers make us say this)
            <br> Your use of Rackspace websites is subject to the <a href='http://www.rackspace.com/information/legal/websiteterms?_ga=1.254955403.24213883.1488833556' target='_blank'>Website Terms</a>.</small>
        </div>    
    </div>
    <div class="modal-footer">
       
        <a class="rs-btn rs-btn-primary" ng-disabled="!vm.fawsAcctName" ng-click="vm.createFawsAccount()" ng-hide="vm.fawsError || vm.fawsCreationProgress || vm.fawsCreated">Submit</a>
        <a class="rs-btn disabled" disabled="disabled" ng-show="vm.fawsCreationProgress">Submitting...</a>
        <a class="rs-btn" data-dismiss="modal" aria-hidden="true">Close</a>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({
            html: true
        });
    });
    $(document).ready(function () {
        $('.rs-dropdown').each(function (i, element) {
            var menu = new canon.Menu();
            menu.attach(element);
        });
    });
</script>