<div class="rs-row">
    <div class="migr-ddi-name">{{vm.tenant_account_name}} #{{vm.tenant_id}}
        <span class="migr-ddi-name"><i class="fa fa-arrow-right fa-fw"></i>
            <div class="rs-dropdown rs-primary-dropdown" ng-class="{'disabled': !vm.displayFawsDropdown}">
                <a class="rs-dropdown-toggle" href="javascript:void(0);" ng-show="vm.selectedFaws && vm.fawsAcctStatus && !vm.displayFawsDropdown"> <div>{{vm.selectedFaws}}</div></a>
                <a class="rs-dropdown-toggle" href="javascript:void(0);" ng-show="vm.selectedFawsName && vm.fawsAcctStatus && vm.displayFawsDropdown"> <div class="faws-name">{{vm.selectedFawsName}}</div><div class="faws-account"> &nbsp;({{vm.selectedFawsNum}})</div> <span class="rs-status" role="button" data-trigger="hover" data-placement="top" data-toggle="popover"></span></a>
                <a class="rs-dropdown-toggle" href="javascript:void(0);" ng-show="!vm.fawsAcctStatus"> No AWS Accounts Found <span class="rs-status" role="button" data-trigger="hover" data-placement="top" data-toggle="popover"></span></a>
                <a class="rs-dropdown-toggle" href="javascript:void(0);" ng-show="vm.displayFawsDropdown && vm.selectedFaws"><i class="rs-caret"></i></a>
                <ul class="rs-dropdown-menu hidden">
                    <li class="rs-dropdown-item" ng-show="vm.showCreateAccount">
                        <span class="rs-dropdown-category">You may create a new Account for this migration:
                            <a href="" role="button" ng-click="vm.displayFawsAccounModal()" data-toggle="modal" ng-show="vm.editmigration === 'false'" aria-hidden="false">{{vm.is_racker ? 'Assign new AWS account' : 'Request a new AWS account'}}</a>
                        </span>
                    </li>
                    <li class="rs-dropdown-item" ng-show="vm.fawsAcctStatus && vm.showCreateAccount && vm.is_racker" style="margin-top:5px">
                        <span class="rs-dropdown-category">or Delete an Account:
                            <a href="" role="button" data-toggle="modal" aria-invalid="false" ng-click="vm.displayDeleteFawsModal()">Delete an existing account</a>
                        </span>
                    </li>
                    <li class="rs-dropdown-item" ng-show="vm.fawsAcctStatus && vm.showCreateAccount">
                        <span class="rs-dropdown-category">or Select an existing account:</span>
                    </li>
                    <li class="rs-dropdown-item" ng-show="vm.fawsAcctStatus && !vm.showCreateAccount">
                        <span class="rs-dropdown-category">Select another AWS account:</span>
                    </li>
                    <li class="rs-dropdown-item" ng-show="vm.fawsAcctStatus">
                        <select ng-model="vm.selectedFaws" class="ng-pristine ng-valid ng-not-empty ng-touched" aria-invalid="false" ng-change="vm.fawsAccountchanged()">
                            <!-- ngRepeat: account in vm.awsAccountsDetails -->
                            <option ng-repeat="account in vm.awsAccountsDetails" class="ng-binding ng-scope" value="{{account.name}} (#{{account.awsAccountNumber}})">{{account.name}} (#{{account.awsAccountNumber}})</option>
                            <!-- end ngRepeat: account in vm.awsAccountsDetails -->
                        </select>
                    </li>
                </ul>
            </div>
        </span>
        <!--<span>
            <button ng-show="vm.showCreateAccount" class="rs-btn pull-right" ng-click="vm.switchUser()">Switch to {{vm.is_racker ? 'Customer' : 'Racker'}}</button>
        </span>-->
    </div>
</div>
<div class="migr-name" ng-show="vm.editmigration === 'true'">
    <rseditbatchname></rseditbatchname>
</div>

<div id="create-faws-account-modal" class="modal modal-warning hide animated fadeIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
        <big>Please provide following details to add credentials for the new AWS Account.</big>
    </div>
    <div class="modal-body">
        <div ng-show="vm.fawsCreated">
            <big>Successfully added Credentials!</big><br>
        </div>   
       <span ng-show="vm.fawsError" style="color: #c40022">Uh oh! Something went wrong while adding credentials. Please try again after sometime...</span>
        <div ng-hide= "vm.fawsCreated || vm.fawsError">
            <form class="form-horizontal">
                <div class="form-group" ng-class="{disabled:vm.fawsCreationProgress}">
                    <div class="row">
                        <span class="col-sm-2 control-label">Account Name</span>
                        <div class="col-sm-10">
                            <input type="text" ng-model="vm.fawsAcctName" class="rs-input-xlarge" placeholder="AWS Account Name" />
                        </div>
                    </div>
                    <div class="row">
                        <span class="col-sm-2 control-label">Account ID</span>
                        <div class="col-sm-10">
                            <input type="text" ng-model="vm.fawsAcctId" class="rs-input-xlarge" placeholder="AWS Account ID" />
                        </div>
                    </div>
                    <div class="row">
                        <span class="col-sm-2 control-label">Role ARN</span>
                        <div class="col-sm-10">
                            <input type="text" ng-model="vm.fawsKeyValue1" class="rs-input-xlarge" placeholder="Role ARN" />
                        </div>
                    </div>
                    <div class="row">
                        <span class="col-sm-2 control-label">External ID</span>
                        <div class="col-sm-10">
                            <input type="text" ng-model="vm.fawsKeyValue2" class="rs-input-xlarge" placeholder="External ID" />
                        </div>
                    </div>
                </div>
            </form>
        </div>    
    </div>
    <div class="modal-footer">
       
        <a class="rs-btn rs-btn-primary" ng-class="{disabled:!vm.fawsAcctName || !vm.fawsKeyValue1 || !vm.fawsKeyValue2 || !vm.fawsAcctId}" ng-click="vm.createFawsAccount(false)" ng-hide="vm.fawsError || vm.fawsCreationProgress || vm.fawsCreated">Submit</a>
        <a class="rs-btn rs-btn-primary disabled" disabled="disabled" ng-show="vm.fawsCreationProgress">Submitting...</a>
        <i class="rs-processing-indicator" ng-show="vm.fawsCreationProgress"></i>
        <a class="rs-btn" data-dismiss="modal" aria-hidden="true">Close</a>
    </div>
</div>
<div id="request-faws-account-modal" class="modal modal-warning hide animated fadeIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
        <big>Please provide following details to request a new AWS account.</big>
    </div>
    <div class="modal-body">
        <div ng-show="vm.fawsCreated">
            <big>Thank you. A request for creating a new AWS account was successfully created. We will let you know when the account is created. You can follow the request here <a href="https://mycloud.rackspace.com/cloud/{{vm.tenant_id}}/tickets" target="_blank"> here</a> </big><br>
        </div>   
       <span ng-show="vm.fawsError" style="color: #c40022">Uh oh! Something went wrong while submitting request. Please try again after sometime...</span>
        <div ng-hide= "vm.fawsCreated || vm.fawsError">
            <form class="form-horizontal">
                <div class="form-group" ng-class="{disabled:vm.fawsCreationProgress}">
                    <div class="row">
                        <span class="col-sm-2 control-label">Account Name </span>
                        <div class="col-sm-10">
                            <input type="text" ng-model="vm.fawsAcctName" class="rs-input-xlarge" placeholder="AWS Account Name" />
                        </div>
                    </div>
                    <div class="row">
                        <span class="col-sm-2 control-label">Service Level<span class="space"></span></span>
                        <span>
                            <span>
                                <input type="radio" ng-model="vm.serviceLevel" value="navigator">
                                <strong>Navigator</strong>
                            </span>
                            <span class="half-tab"></span>
                            <span>
                                <input type="radio" ng-model="vm.serviceLevel" value="aviator">
                                <strong>Aviator</strong>
                            </span>
                        </span>
                    </div>
                </div>
            </form>
        </div>    
    </div>
    <div class="modal-footer">
       
        <a class="rs-btn rs-btn-primary" ng-class="{disabled:!vm.fawsAcctName || !vm.serviceLevel}" ng-click="vm.createFawsAccount(true)" ng-hide="vm.fawsError || vm.fawsCreationProgress || vm.fawsCreated">Submit</a>
        <a class="rs-btn rs-btn-primary disabled" disabled="disabled" ng-show="vm.fawsCreationProgress">Submitting...</a>
        <i class="rs-processing-indicator" ng-show="vm.fawsCreationProgress"></i>
        <a class="rs-btn" data-dismiss="modal" aria-hidden="true" ng-class="{disabled:vm.fawsCreationProgress}">Close</a>
    </div>
</div>
<div id="delete-faws-account-modal" class="modal modal-warning hide animated fadeIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
        <big>Select one of the account from the dropdown to delete.</big>
    </div>
    <div class="modal-body">
        <div ng-show="vm.fawsDeleted">
            <big>Request for deleting the account is complete.</big><br>
        </div>   
       <span ng-show="vm.fawsDeleteError" style="color: #c40022">Uh oh! Something went wrong while deleting the account. Please try again after sometime...</span>
        <div ng-hide= "vm.fawsDeleted || vm.fawsDeleteError">
            <form class="form-horizontal">
                <div class="form-group" ng-class="{disabled:vm.fawsDeleteProgress}">
                    <div class="row">
                        <select ng-model="vm.deleteFaws" class="ng-pristine ng-valid ng-not-empty ng-touched" aria-invalid="false">
                            <!-- ngRepeat: account in vm.awsAccountsDetails -->
                            <option ng-repeat="account in vm.awsAccountsDetails" class="ng-binding ng-scope" value="{{account.name}} (#{{account.awsAccountNumber}})">{{account.name}} (#{{account.awsAccountNumber}})</option>
                            <!-- end ngRepeat: account in vm.awsAccountsDetails -->
                        </select>
                    </div>
                </div>
            </form>
        </div>    
    </div>
    <div class="modal-footer">
       
        <a class="rs-btn rs-btn-primary" ng-click="vm.deleteAWSAccount()" ng-hide="vm.fawsDeleteError || vm.fawsDeleteProgress || vm.fawsDeleted">Delete</a>
        <a class="rs-btn rs-btn-primary disabled" disabled="disabled" ng-show="vm.fawsDeleteProgress">Deleting...</a>
        <i class="rs-processing-indicator" ng-show="vm.fawsDeleteProgress"></i>
        <a class="rs-btn" data-dismiss="modal" aria-hidden="true" ng-class="{disabled:vm.fawsDeleteProgress}">Close</a>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({
            html: true
        });
    });
    $(document).ready(function () {
        $('.rs-dropdown').each(function (i, element) {
            var menu = new canon.Menu();
            menu.attach(element);
        });
    });
</script>