<script type="text/javascript">
   (function() {
        document.getElementById("subNav").style.display = "none";
    })();
</script>

<div class="rs-content rs-panel tenant-container">
    <div class="rs-row">
        <div class="span-12" id="tenant-select-section">
            <h3>Select Tenant</h3>
            <div class="rs-embedded-list-table-wrapper rs-embedded-large">
                <table class="rs-list-table rs-embedded-list-table">
                    <thead>
                        <tr>
                            <th>
                                <a href="javascript:void(0);" class="rs-table-sort" rs-table-sort-desc>
                                    <h4 class="rs-table-sort-text">Tenant ID</h4>
                                </a>
                            </th>
                            <th>
                                <a href="javascript:void(0);" class="rs-table-sort">
                                    <h4 class="rs-table-sort-text">Description</h4>
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="rs-table-link">
                                <a ng-link="['MigrationResourceList']">1024814</a>
                            </td>
                            <td class="rs-table-text">User 1024814</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- <div class="span-6" id="new-tenant-section">
            <h3>Add New Tenant</h3>
            <form name="tenantForm" id="tenantForm" method="POST" class="rs-form-horizontal rs-form-small" ng-submit="vm.onSubmit()" novalidate>
                <fieldset>
                    <div class="rs-control-group" ng-class="{'error': tenantForm.tenantid.$invalid && (vm.submitted || tenantForm.tenantid.$touched)}">
                        <label class="rs-control-label" for="tenantid">Tenant ID</label>
                        <div class="rs-controls">
                            <input id="tenantid" name="tenantid" type="text" value="" ng-model="vm.tenantid" class="rs-input-large" required><br>
                            <span ng-show="tenantForm.tenantid.$invalid && (vm.submitted || tenantForm.tenantid.$touched)" class="error-text" style="vertical-align: text-bottom">
                                <i class="rs-validation-indicator"></i> Tenant ID is required
                            </span>
                        </div>
                    </div>

                    <div class="rs-control-group" ng-class="{'error': tenantForm.awsUser.$invalid && (vm.submitted || tenantForm.awsUser.$touched)}">
                        <label class="rs-control-label" for="awsUser">AWS User</label>
                        <div class="rs-controls">
                            <input id="awsUser" name="awsUser" type="text" value="" ng-model="vm.awsUser" class="rs-input-large" required><br>
                            <span ng-show="tenantForm.awsUser.$invalid && (vm.submitted || tenantForm.awsUser.$touched)" class="error-text" style="vertical-align: text-bottom">
                                <i class="rs-validation-indicator"></i> AWS User is required
                            </span>
                        </div>
                    </div>

                    <div class="rs-control-group" ng-class="{'error': tenantForm.awsKey.$invalid && (vm.submitted || tenantForm.awsKey.$touched)}">
                        <label class="rs-control-label" for="awsKey">AWS Key</label>
                        <div class="rs-controls">
                            <input id="awsKey" name="awsKey" type="text" value="" ng-model="vm.awsKey" class="rs-input-large" required><br>
                            <span ng-show="tenantForm.awsKey.$invalid && (vm.submitted || tenantForm.awsKey.$touched)" class="error-text" style="vertical-align: text-bottom">
                                <i class="rs-validation-indicator"></i> AWS Key is required
                            </span>
                        </div>
                    </div>

                    <div class="rs-control-group" ng-class="{'error': tenantForm.awsSecretKey.$invalid && (vm.submitted || tenantForm.awsSecretKey.$touched)}">
                        <label class="rs-control-label" for="awsSecretKey">AWS Secret Key</label>
                        <div class="rs-controls">
                            <input id="awsSecretKey" name="awsSecretKey" type="text" value="" ng-model="vm.awsSecretKey" class="rs-input-large" required><br>
                            <span ng-show="tenantForm.awsSecretKey.$invalid && (vm.submitted || tenantForm.awsSecretKey.$touched)" class="error-text" style="vertical-align: text-bottom">
                                <i class="rs-validation-indicator"></i> AWS Secret Key is required
                            </span>
                        </div>
                    </div>

                    <div class="rs-control-group" ng-class="{'error': tenantForm.rackspaceUsername.$invalid && (vm.submitted || tenantForm.rackspaceUsername.$touched)}">
                        <label class="rs-control-label" for="rackspaceUsername">Rackspace Username</label>
                        <div class="rs-controls">
                            <input id="rackspaceUsername" name="rackspaceUsername" type="text" value="" ng-model="vm.rackspaceUsername" class="rs-input-large" required><br>
                            <span ng-show="tenantForm.rackspaceUsername.$invalid && (vm.submitted || tenantForm.rackspaceUsername.$touched)" class="error-text" style="vertical-align: text-bottom">
                                <i class="rs-validation-indicator"></i> Rackspace Username is required
                            </span>
                        </div>
                    </div>

                    <div class="rs-control-group" ng-class="{'error': tenantForm.rackspaceAPIKey.$invalid && (vm.submitted || tenantForm.rackspaceAPIKey.$touched)}">
                        <label class="rs-control-label" for="rackspaceAPIKey">Rackspace API Key</label>
                        <div class="rs-controls">
                            <input id="rackspaceAPIKey" name="rackspaceAPIKey" type="text" value="" ng-model="vm.rackspaceAPIKey" class="rs-input-large" required><br>
                            <span ng-show="tenantForm.rackspaceAPIKey.$invalid && (vm.submitted || tenantForm.rackspaceAPIKey.$touched)" class="error-text" style="vertical-align: text-bottom">
                                <i class="rs-validation-indicator"></i> Rackspace API Key is required
                            </span>
                        </div>
                    </div>
                    <div class="tenant-action">
                        <button class="rs-btn rs-btn-primary" ng-click="showdetails=!showdetails">Add New Tenant ID</button>
                    </div>
                </fieldset>
            </form>
        </div> -->
    </div>
</div>
