<tr ng-show="vm.loadingZone">
    <td colspan="6">
        <div class="rs-table-overlay rs-table-overlay-loading" style="height:100px !important; margin-bottom:-20px">
            <div class="rs-table-overlay-content">
                <div class="rs-table-overlay-message">Fetching Regions/Zones&hellip;</div>
            </div>
        </div>
    </td>
</tr>
<tr ng-show="!vm.loadingZone" ng-repeat="item in vm.data | filter: vm.filtervalue | limitTo : vm.pageSize : (vm.currentPage-1)*vm.pageSize">
    <td class="rs-table-status"
            ng-class="{'rs-table-status-ok': item.status.toLowerCase()=='active', 'rs-table-status-processing rs-table-status-striped': item.status=='WARNING', 'rs-table-status-error': item.status=='ERROR'}">
    </td>
    <td class="rs-table-link">
        <a href="" role="button" ng-click="vm.equipmentDetails(vm.type, item)" data-toggle="modal" title="{{item.name}}">{{item.name}}</a>
    </td>
    <td class="rs-table-text">{{item.size}}</td>
    <td>
        <span class="rs-status rs-status-ok ng-binding"> {{item.status}} </span>
    </td>
    <td>
        <select ng-model="item.selectedMapping.region" style="margin-bottom: 2px;" ng-disabled="vm.errorInApi" ng-change="vm.setRegion(item);vm.getZones(item,item.type);">          
            <option ng-show="vm.errorInApi">Not Available</option>
            <option ng-repeat="region in vm.volumeRegions track by $index" value="{{region}}">{{region | convertCase}}</option>
        </select>
    </td>
    <td>
        <select ng-model="item.selectedMapping.zone" style="margin-bottom: 2px;" ng-disabled="vm.errorInZoneApi || vm.errorInApi" ng-change="vm.setZone(item);">
            <option ng-show="vm.errorInZoneApi">Not Available</option>
            <option ng-repeat="zone in item.selectedMapping.zones track by $index" value="{{zone}}">{{zone | convertCase}}</option>
        </select>
    </td>
</tr>