<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Rackspace Migration Manager</title>
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="https://eafdbc63c97ce6bec9ef-b0a668e5876bef6fe25684caf71db405.ssl.cf1.rackcdn.com/v1-latest//canon.min.css">
    <link href="css/migration-mgr.css" rel="stylesheet">
    <script src="https://use.fontawesome.com/1d292fb501.js"></script>
</head>

<body>
    <!-- Fixed navbar -->
    <div class="rs-wrapper">
        <!-- Utility Nav -->
        <div class="rs-nav-utility">
            <div class="rs-container">
                <ul class="rs-nav">
                    <li class="rs-nav-item "><a class="rs-nav-link" href="">Rackspace Cloud</a></li>
                    <li class="rs-nav-item active"><a class="rs-nav-link" href="">Fanatical Support for AWS</a></li>
                </ul>
                <ul class="rs-nav rs-pull-right">
                    <li class="rs-nav-item rs-dropdown rs-utility-dropdown">
                        <a class="rs-nav-link rs-dropdown-toggle" href="">Username123 <i class="rs-caret"></i></a>
                    </li>
                    <li class="rs-nav-item ">
                        <a class="rs-nav-link" href="">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End Utility Nav -->
        <!-- Primary Nav -->
        <div class="rs-nav-primary">
            <div class="rs-container">
                <div class="rs-nav-brand">
                    <a href=""></a>
                </div>
                <ul class="rs-nav">
                    <li class="rs-nav-item active"><a class="rs-nav-link" href="">Migration</a></li>
                    <li class="rs-nav-item"><a class="rs-nav-link" href="">Reports</a></li>
                </ul>
            </div>
        </div>
        <div class="rs-container migration-mgr">

            <div class="rs-main rs-panel">
            <div class="rs-sidebar rs-pull-right">
                    <div class="rs-inner">
                        <div class="rs-row" >
                            <div class="span-12">
                                <div class="rs-facet-section ">
                                    <div class="rs-facet-section-body">
                                        <h3>Alerts</h3>
                                        <br>
                                        <div class=" ">
                                            <table class="rs-list-table rs-embedded-list-table-wrapper ">
                                                <thead>
                                                    <tr>
                                                        <th>Batch Name</th>
                                                        <th>Message</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Batch Three</td>
                                                        <td>Taking a long time to migrate</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Batch Five</td>
                                                        <td>Problem while starting this batch. Will be retried.</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            </div>
                            <div class="rs-row" >
                            <div class="span-12">
                                <div class="rs-facet-section">
                                    <div class="rs-facet-section-body">
                                        <h3>Tickets</h3>
                                        <br>
                                        <div class=" ">
                                            <table class="rs-list-table rs-embedded-list-table-wrapper ">
                                                <thead>
                                                    <tr>
                                                        <th>Batch Name</th>
                                                        <th>Message</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Batch Three</td>
                                                        <td>Taking a long time to migrate</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Batch Five</td>
                                                        <td>Problem while starting this batch. Will be retried.</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <hr>
                        <h4>Support</h4>
                        <div class="support-icons">
                            <a href="#" class=""><i class="fa fa-phone fa-fw fa-2x"></i></a>
                            <a href="#" class=""><i class="fa fa-ticket fa-fw fa-2x"></i></a>
                        </div>
                    </div>
                </div>
                <div class="rs-content rs-panel">
                    <div class="rs-inner">
                        <h2>Migration Confirmed for 17/01/2017 07:00PM</h2>
                        <div class="rs-embedded-list-table-wrapper rs-embedded-medium migration-status-list-container">
                            <table class="rs-list-table rs-embedded-list-table">
                                <thead>
                                    <tr>
                                        <th>
                                            <a href="#list-table" class="rs-table-sort rs-table-sort-desc">
                                                <span class="rs-table-sort-text">Batch Queue</span>
                                                <span class="rs-table-sort-indicator"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a href="#list-table" class="rs-table-sort rs-table-sort-desc">
                                                <span class="rs-table-sort-text">Start Date</span>
                                                <span class="rs-table-sort-indicator"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a href="#list-table" class="rs-table-sort rs-table-sort-desc">
                                                <span class="rs-table-sort-text">Status</span>
                                                <span class="rs-table-sort-indicator"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a href="#list-table" class="rs-table-sort rs-table-sort-desc">
                                                <span class="rs-table-sort-text">Est Time to Complete</span>
                                                <span class="rs-table-sort-indicator"></span>
                                            </a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- ngRepeat: batch in vm.batches | filter : {progress:'!'+'100'} -->
                                    <tr ng-repeat="batch in vm.batches | filter : {progress:'!'+'100'}" class="ng-scope">
                                        <td class="rs-table-link"><a ng-link="['BatchMigrationDetails']" class="ng-binding" href="./batch-migration-details">Batch Three</a></td>
                                        <td class="rs-table-text ng-binding">04/01/2017 12:18 A.M.</td>
                                        <td class="rs-table-text">
                                            <div ng-show="batch.progress===-1" class="ng-hide">Not started</div>
                                            <div ng-show="batch.progress!==-1" style="width: 80%;">
                                                <div class="rs-progress rs-custom-progress" ng-attr-style="width: {{batch.progress}}%" style="width: 60%">
                                                    <div class="rs-progress-inner">
                                                        <div class="rs-segment" style="width: 100%;">
                                                            <!--<div ng-class="batch.progress === '100' ? 'rs-bar rs-status-ok' : (batch.progress > '60' ? 'rs-bar rs-status-warning' : 'rs-bar rs-status-error')"></div>-->
                                                            <div class="rs-bar rs-status-ok"></div>
                                                        </div>
                                                    </div>
                                                    <div class="rs-custom-progress-label ng-binding">60%</div>
                                                </div>
                                            </div>
                                        </td>
                                        <!-- ngIf: batch.est_completion_time !== '-1' -->
                                        <td class="rs-table-text ng-binding ng-scope" ng-if="batch.est_completion_time !== '-1'">9hr 21mins 15sec</td>
                                        <!-- end ngIf: batch.est_completion_time !== '-1' -->
                                        <!-- ngIf: batch.est_completion_time === '-1' -->
                                    </tr>
                                    <!-- end ngRepeat: batch in vm.batches | filter : {progress:'!'+'100'} -->
                                    <tr ng-repeat="batch in vm.batches | filter : {progress:'!'+'100'}" class="ng-scope">
                                        <td class="rs-table-link"><a ng-link="['BatchMigrationDetails']" class="ng-binding" href="./batch-migration-details">Batch Four</a></td>
                                        <td class="rs-table-text ng-binding">05/01/2017 01:25 A.M.</td>
                                        <td class="rs-table-text">
                                            <div ng-show="batch.progress===-1" class="ng-hide">Not started</div>
                                            <div ng-show="batch.progress!==-1" style="width: 80%;">
                                                <div class="rs-progress rs-custom-progress" ng-attr-style="width: {{batch.progress}}%" style="width: 97%">
                                                    <div class="rs-progress-inner">
                                                        <div class="rs-segment" style="width: 100%;">
                                                            <!--<div ng-class="batch.progress === '100' ? 'rs-bar rs-status-ok' : (batch.progress > '60' ? 'rs-bar rs-status-warning' : 'rs-bar rs-status-error')"></div>-->
                                                            <div class="rs-bar rs-status-ok"></div>
                                                        </div>
                                                    </div>
                                                    <div class="rs-custom-progress-label ng-binding">97%</div>
                                                </div>
                                            </div>
                                        </td>
                                        <!-- ngIf: batch.est_completion_time !== '-1' -->
                                        <td class="rs-table-text ng-binding ng-scope" ng-if="batch.est_completion_time !== '-1'">1hr 08mins 21secs</td>
                                        <!-- end ngIf: batch.est_completion_time !== '-1' -->
                                        <!-- ngIf: batch.est_completion_time === '-1' -->
                                    </tr>
                                    <!-- end ngRepeat: batch in vm.batches | filter : {progress:'!'+'100'} -->
                                    <tr ng-repeat="batch in vm.batches | filter : {progress:'!'+'100'}" class="ng-scope">
                                        <td class="rs-table-link"><a ng-link="['BatchMigrationDetails']" class="ng-binding" href="./batch-migration-details">Batch Five</a></td>
                                        <td class="rs-table-text ng-binding">05/01/2017 12:18 A.M.</td>
                                        <td class="rs-table-text">
                                            <div ng-show="batch.progress===-1">Not started</div>
                                            <div ng-show="batch.progress!==-1" style="width: 80%;" class="ng-hide">
                                                <div class="rs-progress rs-custom-progress" ng-attr-style="width: {{batch.progress}}%" style="width: -1%">
                                                    <div class="rs-progress-inner">
                                                        <div class="rs-segment" style="width: 100%;">
                                                            <!--<div ng-class="batch.progress === '100' ? 'rs-bar rs-status-ok' : (batch.progress > '60' ? 'rs-bar rs-status-warning' : 'rs-bar rs-status-error')"></div>-->
                                                            <div class="rs-bar rs-status-ok"></div>
                                                        </div>
                                                    </div>
                                                    <div class="rs-custom-progress-label ng-binding">-1%</div>
                                                </div>
                                            </div>
                                        </td>
                                        <!-- ngIf: batch.est_completion_time !== '-1' -->
                                        <!-- ngIf: batch.est_completion_time === '-1' -->
                                        <td class="rs-table-text ng-scope" ng-if="batch.est_completion_time === '-1'">∞</td>
                                        <!-- end ngIf: batch.est_completion_time === '-1' -->
                                    </tr>
                                    <!-- end ngRepeat: batch in vm.batches | filter : {progress:'!'+'100'} -->
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <br>
                        <div class="rs-embedded-list-table-wrapper rs-embedded-medium migration-status-list-container">
                            <table class="rs-list-table rs-embedded-list-table">
                                <thead>
                                    <tr>
                                        <th>
                                            <a href="#list-table" class="rs-table-sort rs-table-sort-desc">
                                                <span class="rs-table-sort-text">Completed Batches</span>
                                                <span class="rs-table-sort-indicator"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a href="#list-table" class="rs-table-sort rs-table-sort-desc">
                                                <span class="rs-table-sort-text">Start Date</span>
                                                <span class="rs-table-sort-indicator"></span>
                                            </a>
                                        </th>
                                        <th colspan="2">
                                            <a href="#list-table" class="rs-table-sort rs-table-sort-desc">
                                                <span class="rs-table-sort-text">Completed Date</span>
                                                <span class="rs-table-sort-indicator"></span>
                                            </a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- ngRepeat: batch in vm.batches | filter : {progress:'100'} -->
                                    <tr ng-repeat="batch in vm.batches | filter : {progress:'100'}" class="ng-scope">
                                        <td class="rs-table-link"><a ng-link="['BatchMigrationDetails']" class="ng-binding" href="./batch-migration-details">Batch One</a></td>
                                        <td class="rs-table-text ng-binding">12/01/2016 10:18 P.M.</td>
                                        <td class="rs-table-text ng-binding" colspan="2">12/03/2016 01:08 A.M.</td>
                                    </tr>
                                    <!-- end ngRepeat: batch in vm.batches | filter : {progress:'100'} -->
                                    <tr ng-repeat="batch in vm.batches | filter : {progress:'100'}" class="ng-scope">
                                        <td class="rs-table-link"><a ng-link="['BatchMigrationDetails']" class="ng-binding" href="./batch-migration-details">Batch Two</a></td>
                                        <td class="rs-table-text ng-binding">12/10/2016 12:18 A.M.</td>
                                        <td class="rs-table-text ng-binding" colspan="2">12/11/2016 05:23 P.M.</td>
                                    </tr>
                                    <!-- end ngRepeat: batch in vm.batches | filter : {progress:'100'} -->
                                    <tr ng-repeat="batch in vm.batches | filter : {progress:'100'}" class="ng-scope">
                                        <td class="rs-table-link"><a ng-link="['BatchMigrationDetails']" class="ng-binding" href="./batch-migration-details">Batch Six</a></td>
                                        <td class="rs-table-text ng-binding">16/10/2016 12:18 A.M.</td>
                                        <td class="rs-table-text ng-binding" colspan="2">18/10/2016 05:23 P.M.</td>
                                    </tr>
                                    <!-- end ngRepeat: batch in vm.batches | filter : {progress:'100'} -->
                                </tbody>
                            </table>
                        </div>
                        

                    </div>
                </div>
            </div>
            <br>
                        
        </div>
    </div>
    <br>
    <br>
    <div class="rs-nav-footer">
        <div class="rs-container">
            <ul class="rs-nav">
                <li class="rs-nav-item">© 2017 Rackspace, US</li>
                <li class="rs-nav-item"><a class="rs-nav-link" href="">Website Terms</a></li>
                <li class="rs-nav-item"><a class="rs-nav-link" href="">Privacy Policy</a></li>
            </ul>
            <ul class="rs-nav rs-pull-right">
                <li class="rs-nav-item"><a class="rs-nav-link" href="#">Feedback</a></li>
            </ul>
        </div>
    </div>
    <script type="text/javascript">
    $(document).ready(function() {
        var tooltip;
        tooltip = new canon.Tooltip();
    });
    </script>
    <script src="https://eafdbc63c97ce6bec9ef-b0a668e5876bef6fe25684caf71db405.ssl.cf1.rackcdn.com/v1-latest/canon.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
</body>

</html>
