/* custom styles */

.white-panel {
    background: #fff;
    padding: 1em;
    border: 1px solid #ccc;
}
.white-panel h3,
.plain-panel h3 {
    color: #c40022;
}

.white-panel h3 {
    margin: 0;
    padding: 0;
}
.grey-txt{
    color: #bbb;
}
.light-txt{
    font-weight: 100;
}
.plain-panel {
    padding: 1em;
    border: 1px solid #ccc;
    min-height: 230px;
    background: #f9f9f9;
}
.plain-panel h2 {
    margin-bottom: 0;
}
.plain-panel b {
    color: #333;
}
.migr-ddi-name {
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px;
    color: #333;
    display: inline-block;
}
#alert{
    background: #f9f9f9;
    padding: 2em;
    border: 1px solid #ccc;
    margin:1em 0;
}
#alert h3{
    margin:0;
}
.edit-time a{
    color: #333;
}
.edit-time a:hover{
    color:#1e6ec1;
    text-decoration: none!important;
}
form .rs-row{
    margin-bottom: 10px;
}
form .rs-row select, form .rs-row input{
    margin:0;
}
.info-panel {
    padding: 1em;
}
.info-panel h3{
    margin-bottom: 0;
}

.info-panel:first-child {
    padding: 1em;
}

.pricing-buttons {
    margin-bottom: 10px;
}
.rs-control-group h4 > input{
    margin-right: 10px;
}
.trash-button {
    font-size: 16px;
    color: #979797
}

.trash-button:hover {
    color: #333
}

.rs-success {
    color: #00a96d;
}

.rs-center {
    text-align: center!important;
}

.rs-custom-counter {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.rs-custom-counter li {
    counter-increment: step-counter;
    margin: 15px 0;
    font-style: italic;
    font-weight: 500;
}

.rs-custom-counter li::before {
    content: counter(step-counter);
    margin-right: 5px;
    font-size: 80%;
    background-color: #fff;
    color: #333;
    border: 1px solid #c40022;
    font-weight: bold;
    padding: 5px 8px;
    border-radius: 50px;
}

.selected-items {
    display: block;
    padding-right: 5px;
    margin-bottom: 5PX;
}
.selected-items .rs-status{
    font-size: 10px;
    background: #999;
}
.selected-items a {
    color: #555;
}
.selected-items b{
    color: #999
}
.support-icons{
    background: #eee;
    padding: 5px 10px;

}
.support-icons a i {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    line-height: 20px;
    color: #333;
    background: #fff;
    border: 1px solid #999;
    margin-left: 5px;
    font-size: 12px;
}

.rs-tr-disabled {
    background: rgba(0, 0, 0, 0.1);
}

.rs-inst-types {
    border: 2px solid #ccc;
}

.rs-action {
    color: #777;
}

.rs-action:hover {
    color: #444;
    text-decoration: none;
}

#intro_modal h3 {
    font-size: 20px;
}


/* canon style overrides  */
#Servers .rs-list-table th:nth-child(3),#Servers .rs-list-table td:nth-child(3)  {
    padding:0 0 0 5px;
}
.rs-table-status-pending {
    background-color: #999!important;
}
.migration-mgr .rs-embedded-list-table-wrapper {
    border: 1px solid #e7e7e7;
}

.migration-mgr .rs-main {
    margin: 10px 0;
}
/*.migration-mgr .rs-main .rs-panel {
    min-height: 500px;
}*/

.migration-mgr.rs-container {
    width: 1200px!important;
    padding: 0;
}

.migration-mgr .rs-list-table .rs-btn-group {
    margin: 0;
}
.migration-mgr .rs-dropdown-menu{
    right: 0;
}
.migration-mgr .rs-table-header,
th {
    font-weight: 700;
    color: #333;
}

.migration-mgr tr:nth-child(even) {
    background: #f9f9f9;
}
.migration-mgr .recommend .rs-list-table thead th:nth-child(-n+2) {
    background: rgba(0, 0, 0, .15);
}

.migration-mgr .recommend .rs-list-table td:nth-child(-n+2) {
    background: rgba(0, 0, 0, 0.05);
}

.migration-mgr .rs-list-table td:nth-child(2) a {
    display: inline-block;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.migration-mgr .rs-list-table.no-truncate-td td:nth-child(2) a {
    display: block;
    width: inherit;
    white-space: normal;
    overflow: visible;
    text-overflow: inherit;
}

.migration-mgr .secondary-table {
    background: rgba(0, 0, 0, 0.05);
}
.migration-mgr .secondary-table th{
    background: rgba(0, 0, 0, 0.075);
}

.migration-mgr .secondary-table tr:nth-child(even) {
    background: transparent;
}
.migration-mgr .rs-detail-section-header {
    padding: 20px 20px 0px;
    border-top: 1px solid #eee;
}

.migr-name input[type=text] {
    display: none;
    margin-top: 5px;
}

.migr-name h3 {
    float: left;
}

.migr-name .edit {
    cursor: pointer;
    margin-left: 10px;
}

.clear {
    clear: both;
}

.migration-mgr .searchbox {
    margin: 10px 0 0 0;
}
.migration-mgr.racker-dash .rs-panel{
    min-height: 270px;
}

/* Reach styles */

.rs-nav-utility .rs-nav-item.active .rs-nav-link {
    background-color: #c40022;
    padding-right: 15px!important;
    padding-left: 15px!important;
}

.pilot-logo-white {
    width: 137px;
    height: 36px;
    background-image: url(https://19c5b85ac8f15b5aa0f0-992405e4638ce3c6772d7b96e627ce61.ssl.cf1.rackcdn.com/assets/dist/3d0583dbb0964540738f67314090c70c68d626dc/rackspace-logo-white-small-cutouts.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

/* bootstrap overrides */
.close {
    color: #fff;
    text-shadow: none;
    opacity: 0.7;
    filter: alpha(opacity=70);
}


.alert-schedule {
    background-color: #fff;
    border: 4px solid #000;
    color: #c40022;
}

.alert-success {
    background-color: #00a96d;
    border-color: transparent;
    color: #fff;
}

.alert-success h4 {
    color: #fff;
}

.alert {
    text-shadow: none;
    margin-bottom: 30px;
}

.pagination {
    margin: 0 0 20px;
}

body .modal.details {
    width: 850px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -425px;
}

body .modal.details2 {
    width: 850px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -425px;
}

.modal-body {
    padding: 30px;
    overflow-y: visible;
}

.modal img {
    width: 100%;
}
.modal .rs-panel{
    box-shadow: none;
    border:1px solid #ccc;
}
.accordion-group {
    margin-bottom: 0px;
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.accordion-inner {
    border-top: none;
    padding: 10px;
    background: #f9f9f9;
    color: #999;
}

.accordion-toggle:hover,
.accordion-inner:hover {
    outline: none;
    text-decoration: none;
}

.accordion-heading .accordion-toggle {
    display: inline;
    padding: 5px;
    color: #777;
}
.accordion-heading i {
    color: #999;
    font-size: 10px;
}
/* Icon when the collapsible content is shown */
/*  .accordion-toggle:after {
    font-family: "FontAwesome";
    font-size: 10px;
    margin-left: 5px;
    content: "\f054";
  }*/
/*  .accordion-toggle:after{
    font-family: "FontAwesome";
    margin-left: 5px;
    content: "\f078";
  }*/

/* Simple setup for stepper */


/* SOURCE ---- https://codepen.io/sharafat_8271/pen/KVWMXP */

.mdl-card {
    min-height: 0;
    margin: 10px auto;
}

.mdl-card a {
    text-decoration: none;
}

.mdl-card__supporting-text {
    width: 100%;
    padding: 0;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step {
    width: 25%;
    /* 100 / no_of_steps */
}


/* Begin actual mdl-stepper css styles */

.mdl-stepper-horizontal-alternative {
    display: table;
    width: 100%;
    margin: 0 auto;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step {
    display: table-cell;
    position: relative;
    padding: 22px 0 0 0;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step:hover,
.mdl-stepper-horizontal-alternative .mdl-stepper-step:active {
    cursor: pointer;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step:active {
    border-radius: 15% / 75%;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step:first-child:active {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step:last-child:active {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step:first-child .mdl-stepper-bar-left,
.mdl-stepper-horizontal-alternative .mdl-stepper-step:last-child .mdl-stepper-bar-right {
    display: none;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-circle {
    width: 28px;
    height: 28px;
    margin: 0 auto;
    background-color: #eee;
    border: 2px solid #ccc;
    border-radius: 50%;
    text-align: center;
    line-height: 28px;
    font-size: 12px;
    font-weight: 700;
    color: #777;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step.active-step .mdl-stepper-circle {
    background-color: #fff;
    border: 2px solid #c40022;
    color: #333;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step.step-done .mdl-stepper-circle:before {
    content: "\2714";
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step.step-done a:hover > .mdl-stepper-circle:before {
    content: "\270E";
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step.step-done .mdl-stepper-circle *,
.mdl-stepper-horizontal-alternative .mdl-stepper-step.editable-step .mdl-stepper-circle * {
    display: none;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step.editable-step .mdl-stepper-circle {
    -moz-transform: scaleX(-1);
    /* Gecko */
    -o-transform: scaleX(-1);
    /* Opera */
    -webkit-transform: scaleX(-1);
    /* Webkit */
    transform: scaleX(-1);
    /* Standard */
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step.editable-step .mdl-stepper-circle:before {
    content: "\270E";
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-title {
    margin-top: 12px;
    font-size: 12px;
    font-weight: normal;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-title,
.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-optional {
    text-align: center;
    color: rgba(0, 0, 0, .26);
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step.active-step .mdl-stepper-title {
    font-weight: 700;
    color: rgba(0, 0, 0, .87);
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step.active-step.step-done .mdl-stepper-title,
.mdl-stepper-horizontal-alternative .mdl-stepper-step.active-step.editable-step .mdl-stepper-title {
    font-weight: 700;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-optional {
    font-size: 12px;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step.active-step .mdl-stepper-optional {
    color: rgba(0, 0, 0, .54);
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-bar-left,
.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-bar-right {
    position: absolute;
    top: 36px;
    height: 1px;
    border-top: 1px solid #BDBDBD;
}

.step-done .mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-bar-left,
.mdl-stepper-horizontal-alternative .step-done .mdl-stepper-step .mdl-stepper-bar-right {
    border-top: 1px solid red;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-bar-right {
    right: 0;
    left: 50%;
    margin-left: 20px;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-bar-left {
    left: 0;
    right: 50%;
    margin-right: 20px;
}
