[
  {
    "name": "opdash-cp",
    "image": "{{ repo }}:{{ tag }}",
    "memory": 256,
    "portMappings": [
      {
        "containerPort": 5000
      }
    ],
    "environment": [
    {% for name, value in env_vars.iteritems() -%}
      {
        "name": "{{ name }}",
        "value": "{{ value }}"
      }{% if not loop.last %},{% endif %}
    {% endfor -%}
    ],
    "logConfiguration": {
      "logDriver": "awslogs",
      "options": {
        "awslogs-group": "opdash-logs-{{ env }}",
        "awslogs-region": "{{ aws_region }}",
        "awslogs-stream-prefix": "opdash-cp"
      }
    }
  }
]
