<h3 ng-show="!vm.editName">{{vm.migrationName}} <a role="button" ng-click ="vm.editMigrationName()" set-focus='migrationName' class="rs-edit" title="click to edit migration name" ></a></h3>
<div ng-show="vm.editName" style="margin-bottom: 5px;">
    <input type="text" id="migrationName" ng-model="vm.changedMigrationName" class="rs-input-large name-input animated flipInX" style="display: inline-block;"/>
    <span class="fontSize">  
        <i class="fa fa-check" ng-click="vm.changeName()"></i>    
    </span>
    <span class="fontSize">
        <i class="fa fa-close" ng-click="vm.revertName()"></i>
    </span>
</div>