button{
    outline: none;
}

th{
    padding-top: 10px;
    padding-bottom: 10px;
    white-space: nowrap;
}

.rs-facet-item .rs-status-disabled {
    background-color: transparent;
    background-image: url(https://eafdbc63c97ce6bec9ef-b0a668e5876bef6fe25684caf71db405.ssl.cf1.rackcdn.com/v1-latest/icons.png);
    background-position: -2px -781px;
    background-repeat: no-repeat;
    width: 13px;
    height: 13px;
}

a.rs-nav-link{
   outline: none;
}

[ng-outlet]{
   margin-top: 10px;
}

.migration-item:last-child,
.migration-item-details:last-child,
.migration-details-container{
    margin-bottom: 55px;
}

.migration-item-header{
    padding: 5px 0;
    overflow: auto;
    box-sizing: border-box;
}

.migration-item-type{
    margin: 5px 0;
    
}

.rs-content{
    padding: 20px;
}

.action-footer{
    padding: 15px 0;
    margin: 0;
    overflow: auto;
}

.rs-mig-nopad{
    padding: 0px;
}
.rs-mig-nomar{
    margin: 0px;
}
.no-break{
   white-space: nowrap;
}

.rs-table-status-disabled{
    background-color: #aaaaaa;
}
.rs-main .rs-sidebar+.mainContent {
    margin-left: 160px;
}

.sidebar{
    width:160px;
}

.field-key {
    color: #999;
    white-space: nowrap;
}

.pricing-details{
    padding: 40px 0 0 30px;
    color: #c40022;
}

.rs-control-label{
    white-space: nowrap;
}

.error-text{
    color: #c40022;
}

.migration-confirm-form{
    padding-top: 20px;
}

.form-submit-row{
    padding-top: 10px;
}

.tenant-container{
    padding: 40px;
}

.migration-header{
   margin-top: 15px;
}

[ng-outlet].ng-enter, [ui-outlet].ng-leave {
 position: absolute;
 left: 0;
 right: 0;
 -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

[ng-outlet].ng-enter {
 opacity: 0;
 -webkit-transform:scale3d(0.5, 0.5, 0.5);
 -moz-transform:scale3d(0.5, 0.5, 0.5);
 transform:scale3d(0.5, 0.5, 0.5);
}

[ng-outlet].ng-enter-active {
 opacity: 1;
 -webkit-transform:scale3d(1, 1, 1);
 -moz-transform:scale3d(1, 1, 1);
 transform:scale3d(1, 1, 1);
}

[ng-outlet].ng-leave {
 opacity: 1;
 -webkit-transform:translate3d(0, 0, 0);
 -moz-transform:translate3d(0, 0, 0);
 transform:translate3d(0, 0, 0);
}

[ng-outlet].ng-leave-active {
 opacity: 0;
 -webkit-transform:translate3d(100px, 0, 0);
 -moz-transform:translate3d(100px, 0, 0);
 transform:translate3d(100px, 0, 0);
}

#subNav{
   display: none;
}

.status-fixed-width{
    width: 150px;
}

.migration-status {
    width: 78px;
    cursor: pointer;
}

.migration-status.rs-status-ok {
    padding-left: 8px;
    padding-right: 8px;
}

.capitalize{
    text-transform: capitalize;
}

.red{
    color:#c40022;
}

#refreshbtn{
    margin-left: 565;
}

#selectedItemsserver,#selectedItemsnetwork{
    background-color: #fff;
    height: auto;
    margin-top: 20px;
    min-height: 80px;
    width: 71%;
    box-shadow: #c2c2c2 0px 3px 8px 1px;
    padding: 10px;
}

.selectedChild{
    font-size: 12px;
    padding: 5px;
    margin: 2px 0 3px 5px;
    position: relative;
    line-height: 11px;
    color: #333;
    cursor: default;
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    background-clip: padding-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #e4e4e4;
    float: left;
}

.selectedChild:first-child {
    margin-left: 0;
}

.sectionRight{
    padding:0px 56px;
}

.pricingDetails{
    width: 100%;
    background-color: #fff;
    height: 64px;
    min-height: 60px;
    padding: 10px 0px 0px 0px;
    margin-bottom: 10px;
}

.savingDetails{
    width: 100%;
    background-color: #fff;
    height: 50px;
    min-height: 40px;
    padding: 10px 0px 0px 0px;
    margin-bottom: 10px;
}    

.rs-main .rs-content{
    min-height: 228px;
}

.pricingDetailsFooter{
    height: 50px;
    min-height: 50px;
}

.rs-tabs>li.active>a{
    outline: none;
}

.vertical-tab-container .rs-sidebar{
    width: 150px;
}

.vertical-tab-container>.rs-main>.rs-content{
    margin-left: 150px;
}

.cross{
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 50%;
    padding: 0 4px;
    background: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    margin-right: 5px;
}

.right-sidebar{
    background-color: #f5f5f5;
    padding: 20px;
    box-shadow: #c2c2c2 0 3px 8px 1px;
}


/* Start - Calender CSS */

.border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
rscalendaritem {
  float: left;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: white;
  width: 300px;
  border: solid 1px #CCC;
  margin-bottom: 10px;
}
rscalendaritem > div.header {
  float: left;
  width: 100%;
  background: #2875C7;
  height: 40px;
  color: white;
}
rscalendaritem > div.header > * {
  height: 40px;
  line-height: 40px !important;
  display: inline-block;
  vertical-align: middle;
}
rscalendaritem > div.header > i {
  float: left;
  width: 40px;
  font-size: 1.125em;
  font-weight: bold;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0 10px;
  cursor: pointer;
}
rscalendaritem > div.header > i.fa-angle-left {
  text-align: left;
}
rscalendaritem > div.header > i.fa-angle-right {
  text-align: right;
  margin-left: -40px;
}
rscalendaritem > div.header > span {
  float: left;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-left: 50px;
  margin-left: -40px;
  text-align: center;
  padding-right: 40px;
  color: inherit;
}
rscalendaritem > div.week {
  float: left;
  width: 100%;
  border-top: solid 1px #CCC;
}
rscalendaritem > div.week:first-child {
  border-top: none;
}
rscalendaritem > div.week > span.day {
  float: left;
  width: 14.28571429%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-left: solid 1px #CCC;
  font-size: 0.75em;
  text-align: center;
  height: 30px;
  line-height: 30px !important;
  display: inline-block;
  vertical-align: middle;
  background: white;
  cursor: pointer;
  color: black;
}
rscalendaritem > div.week > span.day:first-child {
  border-left: none;
}
rscalendaritem > div.week > span.day.today {
  background: #E3F2FF;
}
rscalendaritem > div.week > span.day.different-month {
  color: #C0C0C0;
}
rscalendaritem > div.week > span.day.selected {
  background: #2875C7;
  color: white;
}
rscalendaritem > div.week.names > span {
  color: #2875C7;
  font-weight: bold;
}

/* End - Calender CSS */