button{
    outline: none;
}

th{
    padding-top: 10px;
    padding-bottom: 10px;
    white-space: nowrap;
}

.rs-facet-item .rs-status-disabled {
    background-color: transparent;
    background-image: url(https://eafdbc63c97ce6bec9ef-b0a668e5876bef6fe25684caf71db405.ssl.cf1.rackcdn.com/v1-latest/icons.png);
    background-position: -2px -781px;
    background-repeat: no-repeat;
    width: 13px;
    height: 13px;
}

a.rs-nav-link{
   outline: none;
}

[ng-outlet]{
   margin-top: 10px;
}

.migration-item:last-child,
.migration-item-details:last-child,
.migration-details-container{
    margin-bottom: 55px;
}

.migration-item-header{
    padding: 5px 0;
    overflow: auto;
    box-sizing: border-box;
}

.migration-item-type{
    margin: 5px 0;
    
}

.rs-content{
    padding: 20px;
}

.action-footer{
    padding: 15px 0;
    margin: 0;
    overflow: auto;
}

.rs-mig-nopad{
    padding: 0px;
}
.rs-mig-nomar{
    margin: 0px;
}
.no-break{
   white-space: nowrap;
}

.rs-table-status-disabled{
    background-color: #aaaaaa;
}
.rs-main .rs-sidebar+.mainContent {
    margin-left: 160px;
}

.sidebar{
    width:160px;
}

.field-key {
    color: #999;
    white-space: nowrap;
}

.pricing-details{
    padding: 40px 0 0 30px;
    color: #c40022;
}

.rs-control-label{
    white-space: nowrap;
}

.error-text{
    color: #c40022;
}

.migration-confirm-form{
    padding-top: 20px;
}

.form-submit-row{
    padding-top: 10px;
}

.tenant-container{
    padding: 40px;
}

.migration-header{
   margin-top: 15px;
}

[ng-outlet].ng-enter, [ui-outlet].ng-leave {
 position: absolute;
 left: 0;
 right: 0;
 -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

[ng-outlet].ng-enter {
 opacity: 0;
 -webkit-transform:scale3d(0.5, 0.5, 0.5);
 -moz-transform:scale3d(0.5, 0.5, 0.5);
 transform:scale3d(0.5, 0.5, 0.5);
}

[ng-outlet].ng-enter-active {
 opacity: 1;
 -webkit-transform:scale3d(1, 1, 1);
 -moz-transform:scale3d(1, 1, 1);
 transform:scale3d(1, 1, 1);
}

[ng-outlet].ng-leave {
 opacity: 1;
 -webkit-transform:translate3d(0, 0, 0);
 -moz-transform:translate3d(0, 0, 0);
 transform:translate3d(0, 0, 0);
}

[ng-outlet].ng-leave-active {
 opacity: 0;
 -webkit-transform:translate3d(100px, 0, 0);
 -moz-transform:translate3d(100px, 0, 0);
 transform:translate3d(100px, 0, 0);
}

#subNav{
   display: none;
}

.status-fixed-width{
    width: 150px;
}

.migration-status {
    width: 78px;
    cursor: pointer;
}

.migration-status.rs-status-ok {
    padding-left: 8px;
    padding-right: 8px;
}

.capitalize{
    text-transform: capitalize;
}

.red{
    color:#c40022;
}

#refreshbtn{
    margin-left: 565;
}
